@import '../../styl/component-include.styl'

.b-aside-rom
  border 1px solid $light-grey
  padding 20px 20px 30px
  text-align center
  
  &__photo
    display block
    
    img
      width 100%
      height auto
    
  &__note
    width 190px
    margin 0 auto
    font-size $small
    color $dark-grey
    
  .b-h3
    margin 0 0 18px
    
  .b-h4
    margin 0 0 17px