//-for including fotorama js and css in the bottom of the page
- var fotorama = true

.fotorama( data-nav="thumbs" )
  img( src="/upload/article/4.jpg" )
  img( src="/upload/article/3.jpg" )
  img( src="/upload/article/4.jpg" )
  img( src="/upload/article/3.jpg" )
