#topbar
  .menu
    
    //-.item.sauce_contest
      a( href="/contest/sauce/" )
        span( title="Соус Прайм" )
        
    //-.item.magi_contest
      a( href="/contest/magi/" )
        span Суши
          | 
          em маги
          
    //-.item.new_year
      a( href="/pages/new_year/" )
        span Новогодние рецепты
    
    //-.item.ny
      .pad
        .firtree
          div
        a( href="/pages/new_year" ) Новогодние рецепты
    
    //-.item.ny2014
      .ny2014-tail
      a( href="/pages/new_year/" title="Новогодние рецепты" )
    
    .item
      a( href="/all_recipes/" )
        span Рецепты
    
    .item
      span
        span Кулинары
    
    .item
      a( href="/foodshot/" )
        span Фудшот
    
    .item
      a( href="/lavka/" )
        span Лавка
    
    .item.best.new
      a( href="/best/" )
        span Самое интересное
    
    .item
      a( href="/recipe-of-month/" )
        span Рецепт месяца
    
    .clear