#addModal.modal.fade( tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" )
  .modal-dialog
    .modal-content
      .modal-header
        button.close( type="button" data-dismiss="modal" aria-label="Close" )
          span( aria-hidden="true" )
        #myModalLabel.modal-title Добавить
      .modal-body
        a( href="" ).i-recipe Рецепт
        a( href="" ).i-foodshot Фудшот
        a( href="" ).i-article Статью
      .modal-footer
        button( type="button" data-dismiss="modal" ) Вернуться