
<!-- start /components/foodshot/-->
<link rel="stylesheet" href="/components/foodshot/style.css"/>
<script src="/template/masonry.min.js"></script>
<script src="/components/foodshot/script.js"></script>
<div class="b-foodshot-placeholder">
  <div class="b-foodshot-placeholder__grid">
    <div class="b-foodshot__item">
      <div></div>
    </div>
    <div class="b-foodshot__item">
      <div></div>
    </div>
    <div class="b-foodshot__item">
      <div></div>
    </div>
  </div>
</div>
<div class="b-foodshot">
  <div itemscope="itemscope" itemtype="http://schema.org/ImageGallery" class="b-foodshot__grid">
    <div class="b-foodshot__sizer"></div>
    <div class="b-foodshot__item"><a href="" style="padding-top:66.5%;" data-original="/upload/foodshot/a8c460defb8ffda9c01edf93109aebeb.jpg" class="b-foodshot__item-img"><img src="/upload/foodshot/a8c460defb8ffda9c01edf93109aebeb.jpg" itemprop="image"/></a><a href=""><b itemprop="author">Дмитрий Махнёв</b></a></div>
    <div class="b-foodshot__item"><a href="" style="padding-top:66.5%;" data-original="https://www.foodclub.ru/upload/iblock/340/340c53a31c16099a754d275a26ff238f.jpg" class="b-foodshot__item-img"><img src="https://www.foodclub.ru/upload/iblock/340/340c53a31c16099a754d275a26ff238f.jpg" itemprop="image"/></a><a href=""><b itemprop="author">Дмитрий Махнёв</b></a></div>
    <div class="b-foodshot__item"><a href="" style="padding-top:100.16666666667%;" data-original="https://www.foodclub.ru/upload/iblock/b9d/b9dff295278ab596eae90622b96ab293.jpg" class="b-foodshot__item-img"><img src="https://www.foodclub.ru/upload/iblock/b9d/b9dff295278ab596eae90622b96ab293.jpg" itemprop="image"/></a><a href=""><b itemprop="author">Мария Савельева</b></a></div>
    <div class="b-foodshot__item"><a href="" style="padding-top:133.33333333333%;" data-original="https://www.foodclub.ru/upload/iblock/023/023b04147c723d934840b1caf219ea25.jpg" class="b-foodshot__item-img"><img src="https://www.foodclub.ru/upload/iblock/023/023b04147c723d934840b1caf219ea25.jpg" itemprop="image"/></a><a href=""><b itemprop="author">katenka</b></a></div>
    <div class="b-foodshot__item"><a href="" style="padding-top:117.83333333333%;" data-original="https://www.foodclub.ru/upload/iblock/d83/d8388b8fd1290edf8708b320e069554a.jpg" class="b-foodshot__item-img"><img src="https://www.foodclub.ru/upload/iblock/d83/d8388b8fd1290edf8708b320e069554a.jpg" itemprop="image"/></a><a href=""><b itemprop="author">Мармеладка</b></a></div>
    <div class="b-foodshot__item"><a href="" style="padding-top:66%;" data-original="https://www.foodclub.ru/upload/iblock/157/1571266bbf632dd086acfb191fc52a47.jpg" class="b-foodshot__item-img"><img src="https://www.foodclub.ru/upload/iblock/157/1571266bbf632dd086acfb191fc52a47.jpg" itemprop="image"/></a><a href=""><b itemprop="author">Мармеладка</b></a></div>
  </div>
  <div id="get_more_foodshots" data-more-url="/components/foodshot/load.html"><a href="#" data-this-page="1" data-max-page="3" class="btn btn-default btn-gray">Показать ещё</a><img src="/images/preloader.gif" width="281" height="52" alt=""/></div>
</div>
<!-- end /components/foodshot/-->