block vars
  - var page = 'header'
  - var authorized = false

extends ../layouts/header.jade

block title
  title Header | Foodclub
  
block content
  .container
    hr
    h1 Foodclub
    
    include ../components/search.result/template
  
  hr
