@import '../../styl/component-include.styl'

a.edit
  font-size 8pt
  overflow hidden
  text-indent -200px
  display inline-block
  vertical-align middle
  margin-left 17px
  width 12px
  height 12px
  background embedurl( 'img/normal.png' ) no-repeat 0 0
  
  &:hover
    background-image embedurl( 'img/hover.png' )
  
  &:active
    background-image embedurl( 'img/active.png' )
    
.b-edit-icon
  display inline-block
  vertical-align top
  width 16px
  height 16px
  background embedurl( 'img/edit.svg' ) no-repeat center center
  background-size 30%
  font-size 8pt
  cursor pointer
  
  /*&:hover
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQZJREFUeNpiPJqtz4AHaADxQiCeDsQLQAIseBSrAfEWIFYGYjMgVgTiehY8irdCFcNAHRA/xqZBFYi3oSmGgRQmNAF1IN6BQ/FTIM5kQvMgyGQlHIp9gPg8WMP/D/+lOH+93vLv/T9cij2B+AKIw8T2/TsDhzhHJL93hTK7GDvDn7d/kBU/gSq+DBNgYv7yhUFEWTlQyT+XQSNlIgOnBCcD0CaQ3GMg9kZWDNbwg51dm0MtGBTODLzaVgyiTgkMzMxfHkPdfAndfSxMgoK+PNLSrK/O7P37+diKix8vX1737x/vIkaIDRiA8ViOwaI/f7jf8ry7vxBo20XWb6z/fwGdhQsABBgAvHVLySDwFMsAAAAASUVORK5CYII=");
    
  &:active
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWNJREFUeNpi/P//PwMukGYhqcHOwrTwz7//06cfe7YAJMaIS0OmpZSaOC/rNmEuVuXvv/8xPP/8q6n/0JN6rBpAiiX42LYqC3OoiHCxMvz484/h4fsfDA/e/0xlwaJYFah4G1CxshQvGwM7KxMD9z8moAwHw88//1OY0BSrAxXvUEFSzAgUZ2JiZOBkZXrKxcaUCdeQaSWlIQk0GahYSRJJMcjBP//8e/r222+fnPV3zoM1pBtISslx/tiiyMqGVfGLz788o5beuABSC9YgIc4ZqeeXpiyvwMvA/OkfsuInUMWXYS4Ba1BRkw80iypmMMiYxMAlwcnw9/0/kOLHQMXeyIrBGkotRLQltb3NeHl5Gfh0rBlEHOMZ/vz/DFLsA1R8CT0UWfgE+XylVVVY31089PfDkRUXX168tO7xJ7ZFcVtuPMYWoYw9PkqLZPkF3/J9fLLwNQPLxdjNT3CnFSAACDAAtkeRi+rCUqgAAAAASUVORK5CYII=");*/