@import '../../styl/component-include.styl'

.b-tags
  text-align center
  
  a
    ib()
    font-size $x-small
    background-color #fafafa
    line-height 30px
    padding 0 10px
    margin 0 3px 3px
    border-radius 2px