@import '../../styl/component-include.styl'

#bx-panel-top
  background #777f8c
  
#bx-panel-site-toolbar
  background #767f8c
  
.adm-warning-block
  background #a5b557
  
#bx-panel

  #bx-panel-top
    height 50px

  #bx-panel-site-toolbar
    height 97px
  
  &.bx-panel-folded
  
    #bx-panel-top
      height 39px
    
    #bx-panel-site-toolbar
      display none
  
.adm-warning-block
  height 36.8px