@import '../../styl/component-include.styl'

.chain_path
  font-size 8pt
  margin-bottom 15px
  vertical-align top
  
  a
    text-decoration none
    
  .author
    float left
    display inline
    margin-right 4px
    
  .tags
    margin-left 15px
    
    a
      margin 0 4px