
<!-- start /components/recipe-search-index/-->
<link rel="stylesheet" href="/components/recipe-search-index/style.css"/>
<script src="/components/recipe-search-index/script.js"></script>
<div class="hidden-xs">
  <form action="/search/index.php">
    <input id="title-search-input_2" type="text" name="q" value="" size="40" maxlength="50" autocomplete="off" placeholder="Введите название рецепта, ингредиента, тип блюда"/>
  </form>
</div><a id="title-search-mobile" href="/mobile/" style="background-image: url( '/template/images/icons/search-big-button.svg' );" class="visible-xs-block"></a>
<!-- end /components/recipe-search-index/-->