@import '../../styl/component-include.styl'

.b-subscribe
  width 333px
  margin 0 auto 55px
  
  .form-control
    width 220px
    margin-right 5px
    display inline-block
    vertical-align middle
  
  .i-preload
    background url( $imagesPath + 'preloader-footer.gif' ) no-repeat center center
    
    .form-group
      visibility hidden
      
  .text-success
    text-align center
      