@import '../../styl/component-include.styl'

.b-subscribe
  width 332px
  margin 0 auto
  
  .i-preload
    background url( $imagesPath + 'footer-preloader.gif' ) no-repeat center center
    
    .form-group
      visibility hidden
  
  .form-control
    border none
    font-size 13.5pt
    height 40px
    font-weight 300
    background-color $form-control-bg
    width 100%
    ib()
    color #fff