@import '../../styl/component-include.styl'

.b-subscribe
  width 336px
  margin 0 auto
  font-size $small
  
  .b-footer &
    margin-bottom 55px
  
  .form-control
    width 220px
    margin-right 5px
    display inline-block
    vertical-align middle
    border none
  
  .i-preload
    background url( $imagesPath + 'preloader-footer.gif' ) no-repeat center center
    
    .form-group
      visibility hidden
      
  .text-success
    text-align center
    
  @media( max-width $screen-phone )
    width auto
    
    .form-control
      width 60%