#new_cooks
  padding 15px 23px
  h5
    margin-left 0

#new_cooks div.author .nickname, #top5_cooks div.author .nickname
  //margin-left 46px
  display inline-block
  width 153px
  overflow hidden
  font-size 8pt

#new_cooks div.author div.big_photo a, #top5_cooks div.author div.big_photo a
  margin-left 0

#new_cooks div.author div.photo, #top5_cooks div.author div.photo
  top -4px

  
#top5_cooks
  padding-left 23px
  padding-right 23px
  
  h5
    margin 0 0 6px
    
  div
    &.item
      padding 25px 5px 14px 12px
    &.even
      background #f3f3f2
    &.cook
      float left
      font-size 8pt
      display inline
      width 418px
      margin-right 50px
    &.intro
      margin 4px 0 0 46px
    &.rating
      background url(/images/icons.png) no-repeat 0 -256px
      margin-right 0

#top5_cooks

  .row
    padding-top 15px
    padding-bottom 15px
  
    &:nth-child(odd)
      background-color $m-light-grey
      
  .b-rating
    margin-top 3px

#top5_cooks div.experience, #top5_cooks div.rating
  float left
  background url(/images/icons.png) no-repeat 0 -117px
  font-size 9pt
  font-family Georgia, "Times New Roman", Times, serif
  width 60px
  display inline
  margin 1px 37px 0 0

#top5_cooks div.experience span, #top5_cooks div.rating span
  display inline-block
  padding-left 25px
  
.b-cook-intro
  margin -4px 0 0 46px
  font-size $x-small
  line-height 14px
  
  
div
  &.user_list
    border 1px solid #ececec
    padding 18px 30px 15px 51px
    margin-bottom 15px
    h5
      margin-left -21px
    div
      &.user
        float left
        margin 21px 60px 15px 0
        width 138px
        a
          font-size 8pt
          white-space nowrap

#user_list
  div
    &.button
      width 674px
    &.two_buttons
      div
        &.button
          width 483px
        &.first
          width 177px

