.b-container {
    padding-right: $grid-gap;
    padding-left: $grid-gap;
    margin-right: auto;
    margin-left: auto
    box-sizing( border-box )
}

/*From Bootstrap*/
.container
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
    
  @media (min-width: 768px)
    width: 750px;

  @media (min-width: 992px)
    width: 970px;
  
  @media (min-width: 1200px)
    width: 1170px;


.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-sm-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-sm-4 {
    float: left;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
}