*
  padding 0
  margin 0
  
body
  overflow-y scroll
  font-size 10.5pt
  font-family $sans
  font-weight 400
  width 100%
  height 100%
  background #ffffff
  color #000
  line-height 1.74
  
img
  border 0
  vertical-align bottom
  font-size $x-small

table

  &,
  & td
    border-collapse collapse
  
  td
    vertical-align top
p
  margin-top 20px
  
body a
  color $link
  text-decoration none
  
  &:hover
    color $link-hover
  
  &:focus
    outline none
    color $link
    
  &:visited
    color $link
    text-decoration none
  
a img
  cursor pointer
  
//headings

h1,
h2,
h3,
h4,
h5,
h6
  font-weight normal
  
h1
  
  &.i-ph-animated
    color $dark-grey !important
    margin 0 0 29px 0 !important
    font-family $pt
    font-weight bold
    font-size 22pt !important
    text-align center
    height auto
    
    &:after
      opacity 0
      z-index -1
  
  a
    font-size 22pt
    font-family $georgia

    &.rss
      margin-left 15px
      display inline-block
      width 12px
      height 12px
      font-size 10pt
      text-indent -100px
      overflow hidden
      background embedurl( 'img/rss.gif' ) no-repeat 0 0
      
    &.rss img
      display none


    &.edit img,
      display none
      
    &.fav
      margin-left 10px
      
  .delete img
    display none
    
h2,
.b-h2
  font-family $pt-sans
  font-size 12pt
  font-weight bold
  line-height 1.5
  color $dark-grey
  
  &.club
    margin-bottom 20px
    
  a
    &.edit img
      display none
      
    &.rss
      margin-left 15px
      display inline-block
      
  .delete img
    display none
    
h1 a.edit,
h2 a.edit,
.pages_recipes a.edit,
.b-edit-button
  margin-left 12px
  display inline-block
  width 12px
  height 12px
  background embedurl( 'img/edit.png' ) no-repeat 0 0
  font-size 8pt
  white-space nowrap
  text-indent -200px
  overflow hidden
  vertical-align baseline
  
h1 a.edit:hover,
h2 a.edit:hover,
.pages_recipes a.edit:hover,
a.b-edit-button:hover
  background embedurl( 'img/edit-hover.png' ) no-repeat 0 0
  
h1 a.edit:active,
h2 a.edit:active,
.pages_recipes a.edit:active,
a.b-edit-button:active
  background embedurl( 'img/edit-active.png' ) no-repeat 0 0
  
h1 .delete,
h2 .delete,
.pages_recipes .delete,
.b-delete-button
  margin-left 10px
  display inline-block
  width 12px
  height 12px
  background embedurl( 'img/delete.png' ) no-repeat 0 0
  font-size 8pt
  white-space nowrap
  text-indent -200px
  overflow hidden
  vertical-align middle
  
h1 .delete:hover,
h2 .delete:hover,
.pages_recipes .delete:hover,
a.b-delete-button:hover
  background embedurl( 'img/delete-hover.png' ) no-repeat 0 0
  
h1 .delete:active,
h2 .delete:active,
.pages_recipes .delete:active,
a.b-delete-button:active
  background embedurl( 'img/delete-active.png' ) no-repeat 0 0
    
.h1
  font-size 22pt
  color $dark-grey
  margin 0 0 20px 0
  font-family "PT Sans Narrow",Georgia,"Times New Roman",Times,serif
  font-weight bold
  
  a
    font-size 22pt
  
h3,
h3 *,
.b-h3
  font-size $large-size
  font-family $sans
  font-weight bold
  line-height normal
  
ol,
ul
  margin-top 20px !important //bootstrap
  
  li
    margin-bottom 8px
    
.text-small
  font-size 10pt
  line-height 1.3
    
.text-xsmall
  font-size 8pt
  line-height 1.3
      
.pages_recipes

  .delete,
  .edit
  
    img
      display none
      
button
  border 0
  cursor pointer
    
  &:active,
  &:focus
    outline none
  
div.twtr-widget
  margin-top 20px
  
  h3
  
    &,
    & *
      font-family $lucida !important
  
  h4
    
    &,
    & *
      font-weight bold !important
      
.b-h4
  text-align center
  font-size $big-size
  font-weight bold
  line-height normal
  
h5
  color $grey
  font-size 10pt
  font-family $sans
  font-style italic
  text-shadow 0 1px 0 #fff

#ctrlcopy
  height 1px
  overflow hidden
  position absolute
  width 1px
  margin 5px 0 0 -1px
  line-height 0
  opacity 0

.clear,
.i-clearfix
	clear both
	height 0
	overflow hidden
	width 1px
  
.i-center h1
  text-align center
  
.b-date
  color $middle-grey
  font-size $x-small
  
.table
  border-bottom 1px solid #ededed
  
.table

  .btn-default
    margin -4px 0 -3px

  > thead,
  > tbody,
  > tfoot
    
    > tr
    
      > td,
      > th
        
        border-color #ededed !important
        padding-right 20px !important
        padding-left 20px !important
        
.b-panel
  background-color $s-light-grey
  padding 30px
  
.i-text-small
  font-size $x-small
  
.center-block
  float none !important
  
hr
  border-color transparent
  
  @media( max-width 575px )
    margin 10px 0 9px !important
  
  &.i-size-XL
    margin 30px 0 29px !important
  
  &.i-size-L
    margin 20px 0 19px !important
  
  &.i-size-M
    margin 10px 0 9px !important
  
  &.i-size-S
    margin 5px 0 4px !important
    
  &.i-line
    border-color #ededed !important
    
#opaco
  background-color #000
  top 0
  left 0
  opacity(0.7)
  position absolute
  width 100%
  z-index 51
  
div.error_message
  color $attention-color
  font-family $georgia
  font-style italic
  font-size $base-size
  padding-top 11px
  
.i-relative
  position relative
  
.img-responsive
  border-radius 15px
  
.text-mited
  color $grey
  
.b-deferred-content
  display none
  
[ id*="__deferred"] .b-deferred-content
    display block