//fonts
$arial = Arial, Helvetica, sans-serif
$georgia = Georgia, "Times New Roman", Times, serif
$lucida = "lucida grande", lucida, tahoma, helvetica, arial, sans-serif
$times = "Times New Roman", Times, serif

$heading-font = $georgia

//font-size
$large-size = 13.5pt
$big-size = 11pt
$base-size = 10.5pt
$middle = 9.5pt
$small = 9pt
$x-small = 8pt
$xx-small = 7.5pt
$xxx-small = 7pt

//colors
$dark-grey = #333333
$middle-grey = #666666
$grey = #999999
$light-grey = #e6e6e6
$lighter-grey = #cccccc
$xs-grey = #d4d4d4
$s-light-grey = #f9f9f9
$text-color = $middle-grey

$link = #990000
$link-hover = #d13636
$link-bg = #f9eaea
$link-light = #cc6666

$attention-color = #ff0000

//grid
$grid-gap = 20px//?