block var-page
  - var page = gui

extends ../layouts/main.jade

block title
  title GUI | food

block content
  
  #content
    
    include ../modules/button/include.jade
    
    h2 .b-date
    .b-date 3 марта 2015 16:21:04