@import '../../styl/component-include.styl'

.b-top-panel__favorites
  width 32px
  height 20px
  background embedurl('img/fav.png') no-repeat 0 0
  color #fff
  float left
  margin 16px 50px 0 0
  box-sizing content-box
  -moz-box-sizing content-box
  -webkit-box-sizing content-box
  -khtml-box-sizing content-box
  padding 3px 6px 0 0
  text-align center
  text-shadow none
  
  #top_panel &:hover
    color #fff