@import '../../styl/component-include.styl'

#addModal

  .close
    
    &,
    &:hover
      color #fff
      text-shadow none
      opacity(1)

  @media (min-width 768px)
    .modal-dialog
      width 410px

  .modal-content
    box-shadow none
    background-color #58a96f;
    overflow hidden
    border none

  .modal-header
    background-color #419f5c;
    border-bottom 0

  .modal-footer
    border-top 0
    text-align center
    padding-bottom 24px
    
    button
      background transparent
      color #fff
      font-size $xxx-small
      text-transform uppercase
    
  .modal-title
    color #fff
    font-size 22pt
    font-family $pt
    text-align center
    padding-top 3px
    padding-bottom 3px
    
  .modal-body
    text-align center
    padding-top 30px
    padding-bottom 30px
    
    a
      ib()
      square( 90px )
      color #fff
      font-size $big-size
      padding-top 61px
      background-repeat no-repeat
      background-position center 12px
      
      &:hover
        background-color #419f5c
        
      &.i-recipe
        background-image embedurl( 'img/recipe.png' )
        
      &.i-foodshot
        background-image embedurl( 'img/foodshot.png' )
        
      &.i-article
        background-image embedurl( 'img/article.png' )