#bx-panel.b-bitrix-panel( style="height: 50px; background: yellow; z-index: 995; top: 0; left: 0; width: 100%;" )
  b#bx-panel-hider( onclick="this.innerHTML='Развернуть'; this.parentNode.style.height='100px'" style="cursor: pointer;" ) Свернуть
  br
  i( onclick="this.parentNode.style.position='fixed';" ) Fixed
