span.b-like
  a#liketn_79.b-like-icon.b-like-icon__type-button( title='Мне нравится', href='/forms/auth/?action=like&commentid=123', data-ajax-url='/components/recipe.comments/php/like.txt' )
  span.b-like-num 4