@import '../../styl/component-include.styl'

.b-like
  display inline-block
  color #999999 !important

.b-like-icon
  display inline-block
  font-size 8pt
  color #999999
  height 16px
  background embedurl( 'img/comments-like.svg' ) no-repeat center center
  background-size cover
  vertical-align middle
  width 16px

  &:hover,
  &:active
    opacity(.7)

.b-like-icon__type-active
  background-image embedurl( 'img/comments-like-active.svg' )

.b-like-num
  vertical-align middle
  font-size 7pt
  display inline-block
  margin 1px 0 0 3px
  