@import '../../styl/component-include.styl'

.b-like
  display inline-block
  color #999999 !important

.b-like-icon
  display inline-block
  font-size 8pt
  color #999999
  height 16px
  background embedurl( 'img/normal.png' ) no-repeat center center
  vertical-align middle
  width 18px

a
  &.b-like-icon
    &:hover
      background-image embedurl( 'img/hover.png' )
    &:active
      background-image embedurl( 'img/active.png' )

.b-like-icon__type-active
  background-image embedurl( 'img/type-active-normal.png' )

a.b-like-icon__type-active:hover, a:hover .b-like-icon__type-active
  background-image embedurl( 'img/type-active-hover.png' )

a.b-like-icon__type-active:active, a:active .b-like-icon__type-active
  background-image embedurl( 'img/type-active-active.png' )

.b-like-num
  vertical-align middle
  font-size 7pt
  display inline-block
  margin 1px 0 0 3px