@import '../vars.styl'
@import '../mixins.styl'

@import './modules/heading-linethrough.styl'

.b-recipe

  .b-recipe-icons
    visibility hidden
    height 27px
    
  
  &__chain-path
    text-align center
    font-size 8pt
    margin-bottom 36px
    vertical-align top
    
    @media( max-width 575px )
      margin-bottom 20px
    
    a
      margin 0 4px