
<div class="b-recipe-menu__info">
  <div class="b-info-block i-cooked"><a href="#" style="background-image: url('/images/recipe-info.png');" title="Я готовил" data-href="/components/recipe.menu/new.json?action=uncooked&amp;amp;id=13004&amp;amp;code=test" class="b-info-block__icon i-cooked i-active"></a>
    <div class="b-info-block__text"><b>Приготовили</b>
      <div class="b-info-block__users"><a href="/personal/" title="Ирина" class="b-info-block__user"><img src="/upload/user/small_photo.jpg" width="20" height="20" alt=""/></a> <a href="/personal/" title="Ирина" class="b-info-block__user"><img src="/upload/user/small_photo.jpg" width="20" height="20" alt=""/></a> <a href="/personal/" title="Ирина" class="b-info-block__user"><img src="/upload/user/small_photo.jpg" width="20" height="20" alt=""/></a> <a href="/personal/" title="Ирина" class="b-info-block__user"><img src="/upload/user/small_photo.jpg" width="20" height="20" alt=""/></a></div>
      <div class="b-info-block__others">и еще 318 кулинаров</div>
    </div>
  </div>
  <div class="b-info-block i-like"><a href="#" style="background-image: url('/images/recipe-info.png');" title="Нравится" data-href="/components/recipe.menu/empty.json?action=dislike&amp;amp;id=13004&amp;amp;code=test" class="b-info-block__icon i-like i-active"></a>
    <div class="b-info-block__text"><b>Нравится</b>
      <div class="b-info-block__users"><a href="/personal/" title="Ирина" class="b-info-block__user"><img src="/upload/user/small_photo.jpg" width="20" height="20" alt=""/></a> <a href="/personal/" title="Ирина" class="b-info-block__user"><img src="/upload/user/small_photo.jpg" width="20" height="20" alt=""/></a> <a href="/personal/" title="Ирина" class="b-info-block__user"><img src="/upload/user/small_photo.jpg" width="20" height="20" alt=""/></a> <a href="/personal/" title="Ирина" class="b-info-block__user"><img src="/upload/user/small_photo.jpg" width="20" height="20" alt=""/></a></div>
      <b-info-block__others></b-info-block__others>
    </div>
  </div>
</div>
<div class="b-recipe-menu__info">
  <div class="b-info-block i-cooked"><a href="#" style="background-image: url('/images/recipe-info.png');" title="Я готовил" data-href="/components/recipe.menu/one.json?action=cooked&amp;amp;id=13004&amp;amp;code=test" class="b-info-block__icon i-cooked"></a>
    <div class="b-info-block__title"><b>Приготовил</b></div>
  </div>
  <div class="b-info-block i-like"><a href="/forms/authorization/" style="background-image: url('/images/recipe-info.png');" title="Нравится" class="b-info-block__icon i-like"></a>
    <div class="b-info-block__title"><b>Нравится</b></div>
  </div>
</div>
<hr/><span class="b-recipe-menu__i"><a href="#" title="Распечатать рецепт" class="b-print-button"></a></span><span class="b-recipe-menu__i"><a href="#" title="Нравится" class="b-like-button"></a> <span class="b-like-button__num">32</span></span><span class="b-recipe-menu__i"><a href="#" title="Приготовили" class="b-cooked-button"></a> <span class="b-cooked-button__num">32</span></span><span class="b-recipe-menu__i"><a href="#" title="Просмотров" class="b-views-button"></a><span class="b-views-button__num">32</span></span><span class="b-recipe-menu__i"><a href="#" title="Рейтинг" class="b-rating-button"></a> <span class="b-rating-button__num">12 056</span></span>
<hr class="visible-xs-block"/>
<div class="b-recipe-menu__social">
  <div class="b-social-buttons">
    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="//yastatic.net/share2/share.js"></script>
    <div data-services="collections,vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,lj,surfingbird,whatsapp,skype,telegram" class="ya-share2"></div>
  </div>
</div>