block vars
  - var page = 'main'
  - var authorized = 'true'

doctype html
html
  head
    block title
      title Foodclub
      
    include includes/meta.jade
    link( href="/template/placeholders/#{page}.css" rel="stylesheet" )
    
  body
  
    include ../components/bitrix-panel/template.jade
    include ../modules/header/include.jade
          
    block content
      .container
        h1 Foodclub
        
    if page != 'search'
      include includes/footer.jade
    
    include ../components/instagram-banner/template.jade
    
    include ../modules/header/content.jade
    
    //- include page's styles and scripts
    include includes/fonts.jade
    include includes/styles.jade
    
    if page != 'search'
      include includes/styles-secondary.jade
    
    include includes/scripts.jade
    
    //- include styles and scripts for all page's components
    block components-array
    
      if componentsArray
        - each componentName in componentsArray
        
          if componentName == 'recipe.comments'
            script( src="/js/file-upload/js/vendor/jquery.ui.widget.js" defer )
            script( src="/js/file-upload/js/jquery.iframe-transport.js" defer )
            script( src="/js/file-upload/js/jquery.fileupload.js" defer )
          
          link( rel="stylesheet", href="/components/#{componentName}/style.css" )
          script( src="/components/#{componentName}/script.js" defer )

      if fotorama

        link( href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet")
        script( src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js" defer)
