extends ./main

block var-page

block title
  title Foodclub

block content

  .container
  
    .row
      section.col-sm-8
        
        block section
          | Section
        
      aside.col-sm-4
        
        block aside
          | Aside
      
    hr.i-size-L