extends ./main

block var-page

block title
  title Foodclub

block content

  .container
  
    .row
      section.col-md-8
        
        block section
          | Section
        
      aside.col-md-4.hidden-sm.hidden-xs
        
        block aside
          | Aside
      
    hr.i-size-L