block var-page

doctype html
html
  head
    block title
      title Foodclub
      
    include includes/meta.jade
    include includes/fonts.jade
    include includes/styles.jade
    include includes/scripts.jade
    
  body
    include ../modules/bitrix-panel/include.jade
    include includes/header.jade
      
    block content
      h1 food
        
    include includes/footer.jade
    
    include ../components/instagram-banner/template.jade
    
    include ../modules/top-layer/include.jade
    include includes/styles-secondary.jade
    
    include includes/header__content.jade
