
<!-- start /components/recipe/-->
<link rel="stylesheet" href="/components/recipe/style.css"/>
<script src="/components/recipe/script.js"></script>
<div data-ajax-url="/ajax-response/zen-button.html" data-ajax-method="GET" class="b-zen-ajax"></div>
<div data-ajax-url="/ajax-response/favorite-button.html" data-ajax-method="GET" class="b-favorite-ajax"></div>
<div class="b-heading-linethrough">
  <h1 itemprop="name">Картофельная запеканка с лисичками</h1>
</div>
<div itemscope="itemscope" itemtype="http://schema.org/Recipe" data-id="88" class="b-recipe">
  <div class="b-recipe__chain-path"><a href="/search/"><span itemprop="recipeCuisine">Американская кухня</span></a>/<a href="/search/">Кексы</a>/<a href="/search/">Ягоды</a></div>
  <div class="b-recipe__author">
    <div class="b-author-avatar"><a href="/personal/" style="background-image: url(/upload/user/mariha_kitchen.jpg);" class="b-author-avatar__link"></a><a href="/personal/" class="b-author-avatar__nickname"><span title="Mariha Kitchen">Mariha Kitchen</span></a></div>
  </div>
  <div class="b-recipe__company"><a href="http://www..." rel="nofollow" target="_blank"><img src="/upload/recipe/company.gif" width="100" height="50" alt="Seafoodshop"/><i>Спонсор рецепта</i></a></div>
  <div class="b-recipe__info">
    <div class="b-recipe__info-item">
      <div class="b-recipe__info-icon"><img src="/template/images/icons/servings.svg" width="16" alt=""/></div>
      <div itemprop="recipeYield" class="b-recipe__info-text">2 порции</div>
    </div>
    <div class="b-recipe__info-item">
      <div class="b-recipe__info-icon"><img src="/template/images/icons/servings.svg" width="16" alt=""/></div>
      <div itemprop="cookTime" content="PT1H20M" class="b-recipe__info-text">1 час 20 мин</div>
    </div>
    <div class="b-recipe__info-item">
      <div class="b-recipe__info-icon"><img src="/template/images/icons/servings.svg" width="16" alt=""/></div>
      <div itemprop="nutrition" itemscope="itemscope" itemtype="http://schema.org/NutritionInformation" class="b-recipe__info-text"><span itemprop="calories">192 кКал на порцию</span></div>
    </div>
  </div>
  <hr class="i-size-M"/>
  <div class="b-recipe__intro">
    <div class="b-recipe__intro-ill">
      <div class="b-recipe__ill"><img src="/upload/recipe/ill.jpg" alt="" itemprop="image"/></div>
      <hr class="i-size-M"/>
      <div class="row">
        <div class="col-sm-6">
          <div data-ajax-url="/ajax-response/recipe-icons.html?id=45" data-ajax-method="GET" class="b-recipe-icons">
            <div class="b-recipe-icon b-print-button"><img src="/template/images/icons/print.svg" width="16" alt=""/></div>
            <div class="b-recipe-icon b-like-button"><img src="/template/images/icons/like.svg" width="16" alt=""/>
              <div class="b-recipe-icon__num">10</div>
            </div>
            <div class="b-recipe-icon b-cooked-button"><img src="/template/images/icons/cooking.svg" width="16" alt=""/>
              <div class="b-recipe-icon__num">7</div>
            </div>
            <div class="b-recipe-icon b-views-button"><img src="/template/images/icons/views.svg" width="16" alt=""/>
              <div class="b-recipe-icon__num">1 482 200</div>
            </div>
            <div class="b-recipe-icon b-rating-button"><img src="/template/images/icons/rating.svg" width="16" alt=""/>
              <div class="b-recipe-icon__num">5 672</div>
            </div>
          </div>
        </div>
        <hr class="visible-xs-block i-size-M"/>
        <div class="col-sm-6 text-right">
          <div class="b-recipe-menu__social">
            <div class="b-social-buttons__item b-ya-share">
              <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
              <script src="//yastatic.net/share2/share.js"></script>
              <div data-services="vkontakte,facebook" data-counter="" class="ya-share2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="b-recipe__intro-aside hidden-xs">
      <div class="b-aside-adv"><a href="" target="_blank"><img src="/upload/banner/3.gif" alt=""/></a></div>
    </div>
  </div>
  <hr class="i-size-M"/>
  <div class="row">
    <div itemprop="description" class="col-md-8 col-md-offset-2">Картофельная запеканка с грибами любима многими, ведь это настоящая комфортная еда (comfort food): привычная, домашняя, не вызывающая непонимания и недоумения. Для того, чтобы запеканка была вкусной и могла вызвать по-настоящему ностальгические чувства, она должна быть приготовлена из хорошей крахмалистой картошки, свежих ароматных грибов и непременно с любовью :)</div>
  </div>
  <hr class="i-size-M"/>
  <div class="b-heading-linethrough">
    <h2>Вам понадобится</h2>
  </div>
  <div class="row b-recipe__ingredients">
    <div class="col-md-4">
      <table>
        <tr>
          <td itemprop="recipeIngredient">Нерка копченая (филе)</td>
          <td>150 г</td>
        </tr>
        <tr>
          <td itemprop="recipeIngredient">Лаймы</td>
          <td>1 шт.</td>
        </tr>
        <tr>
          <td itemprop="recipeIngredient">Соль морская</td>
          <td>¼ шт.</td>
        </tr>
        <tr>
          <td itemprop="recipeIngredient">Горчица</td>
          <td>1.5 ч.л.</td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <table>
        <tr>
          <td><a href="" itemprop="recipeIngredient">Нерка копченая (филе)</a></td>
          <td>150 г</td>
        </tr>
        <tr>
          <td itemprop="recipeIngredient">Лаймы</td>
          <td>1 шт.</td>
        </tr>
        <tr>
          <td itemprop="recipeIngredient">Соль морская</td>
          <td>¼ шт.</td>
        </tr>
        <tr>
          <td itemprop="recipeIngredient">Горчица</td>
          <td>1.5 ч.л.</td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <table>
        <tr>
          <td itemprop="recipeIngredient">Нерка копченая (филе)</td>
          <td>150 г</td>
        </tr>
        <tr>
          <td itemprop="recipeIngredient">Лаймы</td>
          <td>1 шт.</td>
        </tr>
        <tr>
          <td itemprop="recipeIngredient">Соль морская</td>
          <td>¼ шт.</td>
        </tr>
        <tr>
          <td itemprop="recipeIngredient">Горчица</td>
          <td>1.5 ч.л.</td>
        </tr>
      </table>
    </div>
  </div>
  <hr class="i-size-L"/>
  <div class="b-heading-linethrough">
    <h2>В рецепте использовали</h2>
  </div>
  <div class="b-recipe__included">
    <div class="b-recipe__included__item"><a href="http://www..." rel="nofollow" target="_blank"><img src="/upload/recipe/included.jpg" width="100" height="100" alt="Миксер Philips"/></a><span>Миксер Philips<br/><a href="http://www..." rel="nofollow" target="_blank">Купить в Яндекс Маркет</a></span></div>
    <div class="b-recipe__included__item"><a href="http://www..." rel="nofollow" target="_blank"><img src="/upload/recipe/included2.jpg" width="100" height="100" alt="Соль морская марки Sol Mare"/></a><span><a href="http://www..." rel="nofollow" target="_blank">Соль морская марки Sol Mare</a></span></div>
    <div class="b-recipe__included__item"><a href="http://www..." rel="nofollow" target="_blank"><img src="/upload/recipe/included3.jpg" width="100" height="100" alt="Сельдь Алюторская"/></a><span>Сельдь Алюторская<br/><a href="http://www..." rel="nofollow" target="_blank">Купить в Seafoodshop.ru</a></span></div>
    <div class="b-recipe__included__item"><a href="http://www..." rel="nofollow" target="_blank"><img src="/upload/recipe/included3.jpg" width="100" height="100" alt="Сельдь Алюторская"/></a><span>Сельдь Алюторская<br/><a href="http://www..." rel="nofollow" target="_blank">Купить в Seafoodshop.ru</a></span></div>
  </div>
  <hr/>
  <div itemprop="steps" itemscope="itemscope" itemtype="http://schema.org/HowToSection">
    <div itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/HowToStep" class="b-recipe__step">
      <div class="b-heading-linethrough">
        <h2 itemprop="name">Готовим тесто — этап 1</h2>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row b-recipe__ingredients">
            <div class="col-md-6">
              <table>
                <tr>
                  <td>Нерка копченая (филе)</td>
                  <td>150 г</td>
                </tr>
                <tr>
                  <td>Лаймы</td>
                  <td>1 шт.</td>
                </tr>
              </table>
            </div>
            <div class="col-md-6">
              <table>
                <tr>
                  <td><a href="">Нерка копченая (филе)</a></td>
                  <td>150 г</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="b-recipe__step-ill"><img src="/upload/recipe/ill.jpg" width="0" height="0" alt="" itemprop="image"/><img data-original="/upload/recipe/ill.jpg" alt=""/></div>
          <hr class="i-size-M"/>
          <div itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/HowToDirection">Картофельная запеканка с грибами любима многими, ведь это настоящая комфортная еда (comfort food): привычная, домашняя, не вызывающая непонимания и недоумения. Для того, чтобы запеканка была вкусной и могла вызвать по-настоящему ностальгические чувства, она должна быть приготовлена из хорошей крахмалистой картошки, свежих ароматных грибов и непременно с любовью :)</div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="b-recipe__step">
      <div class="b-heading-linethrough">
        <h2 itemprop="name">Готовим начинку — этап 2</h2>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row b-recipe__ingredients">
            <div class="col-md-6">
              <table>
                <tr>
                  <td>Нерка копченая (филе)</td>
                  <td>150 г</td>
                </tr>
                <tr>
                  <td>Лаймы</td>
                  <td>1 шт.</td>
                </tr>
              </table>
            </div>
            <div class="col-md-6">
              <table>
                <tr>
                  <td><a href="">Нерка копченая (филе)</a></td>
                  <td>150 г</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="b-recipe__step-ill"><img src="/upload/recipe/ill.jpg" width="0" height="0" alt="" itemprop="image"/><img src="/upload/recipe/ill.jpg" alt=""/></div>
          <hr class="i-size-M"/>
          <div itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/HowToDirection">Картофельная запеканка с грибами любима многими, ведь это настоящая комфортная еда (comfort food): привычная, домашняя, не вызывающая непонимания и недоумения. Для того, чтобы запеканка была вкусной и могла вызвать по-настоящему ностальгические чувства, она должна быть приготовлена из хорошей крахмалистой картошки, свежих ароматных грибов и непременно с любовью :)</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/recipe/-->