
<!-- start /components/recipe/-->
<link rel="stylesheet" href="/components/recipe/style.css"/>
<script src="/components/recipe/script.js"></script>
<div id="recipe_id" itemscope="itemscope" itemtype="http://data-vocabulary.org/Recipe" class="recipe hrecipe">
  <div class="title">
    <div class="body">
      <div class="chain_path">
        <div class="author">
          <div class="author_photo">
            <div class="big_photo">
              <div><img src="/upload/user/small_photo.jpg" width="100" height="100" alt="max_s"/></div>
            </div><img src="/upload/user/small_photo.jpg" width="30" height="30" alt="max_s"/>
          </div><a href="/author/" itemprop="author" class="nickname">max_s</a>
        </div>предлагает приготовить:<span class="tags"><a href="/search/" rel="tag" class="cuisine-type">Китайская кухня</a>/<a href="/search/" rel="tag" class="category">Супы</a>/<a href="/search/" rel="tag">Курица</a></span>
      </div>
      <div class="admin_panel">
        <noindex><a id="html_code" href="#">HTML-код</a><a href="" title="Редактировать" class="edit">Редактировать</a><a href="" title="Удалить" class="delete">Удалить</a></noindex>
      </div>
      <h1 itemprop="name" class="fn">Бисквитный рулет со сливочным сыром и фруктами</h1>
      <div class="recipe_info">
        <table>
          <tr>
            <td class="time"><span>Время приготовления: </span><span datetime="PT1H30M" itemprop="totalTime" class="time-value duration">1 час 30 мин</span></td>
            <td itemprop="nutrition" itemscope="itemscope" itemtype="http://data-vocabulary.org/Nutrition" class="yield"><span>Порций: </span><span itemprop="yield" class="yield-value">4</span></td>
            <td class="nutrition"><span>Калорийность: </span><span itemprop="calories" class="nutrition-value calories">4 кКал на порцию</span></td>
          </tr>
        </table>
      </div>
      <div class="image">
        <div class="screen">
          <div style="width:600px; height:400px;"></div>
        </div><img src="http://www.foodclub.ru/upload/iblock/58f/_end.jpg" width="600" height="400" alt="" itemprop="photo" class="result-photo"/>
      </div>
      <div class="needed">
        <h2>Вам понадобится:</h2>
        <div class="tools"><span class="item"><img src="/upload/tools/1.jpg" width="100" height="100" alt="Блендер Viva Collection от Philips"/> <span class="p">Блендер Viva Collection от <a href="http://" target="_blank">Philips</a></span></span><span class="item"><img src="/upload/tools/1.jpg" width="100" height="100" alt="Блендер Viva Collection от Philips"/> <span class="p">Блендер  от <a href="http://" target="_blank">Philips</a></span></span><span class="item"><img src="/upload/tools/1.jpg" width="100" height="100" alt="Блендер Viva Collection от Philips"/> <span class="p">Collection от <a href="http://" target="_blank">Philips</a></span></span><span class="item"><img src="/upload/tools/1.jpg" width="100" height="100" alt="Блендер Viva Collection от Philips"/> <span class="p">Блендер Viva Collection от <a href="http://" target="_blank">Philips</a></span></span></div>
        <div class="scales"><a href="#" title="Таблица мер"></a></div>
        <table itemprop="ingredient" itemscope="itemscope" itemtype="http://data-vocabulary.org/RecipeIngredient">
          <tr>
            <td itemprop="name" class="ing_name"><span class="ingredient">Куриное филе</span></td>
            <td itemprop="amount" class="ing_amount">4 шт</td>
            <td class="ing_buy"><a href="">Купить</a></td>
            <td itemprop="name" class="ing_name border"><span class="ingredient">Куриное филе</span></td>
            <td itemprop="amount" class="ing_amount">4 шт</td>
            <td class="ing_buy"><a href="">Купить</a></td>
          </tr>
          <tr>
            <td itemprop="name" class="ing_name"><span class="ingredient">Сливочное масло</span></td>
            <td itemprop="amount" class="ing_amount">100 г</td>
            <td class="ing_buy"><a href="">Купить</a></td>
            <td itemprop="name" class="ing_name border"><span class="ingredient">Сливочное масло из молока коров с Альпийских лугов</span></td>
            <td itemprop="amount" class="ing_amount">100 г</td>
            <td class="ing_buy"><a href="">Купить</a></td>
          </tr>
          <tr>
            <td itemprop="name" class="ing_name"><span class="ingredient">Зелень</span></td>
            <td itemprop="amount" class="ing_amount">2 пучка</td>
            <td class="ing_buy"><a href="">Купить</a></td>
            <td itemprop="name" class="ing_name border"><span class="ingredient">Зелень</span></td>
            <td itemprop="amount" class="ing_amount">2 пучка</td>
            <td class="ing_buy"><a href="">Купить</a></td>
          </tr>
          <tr>
            <td itemprop="name" class="ing_name"><span class="ingredient">Лимонный сок</span></td>
            <td itemprop="amount" class="ing_amount">1 стакан</td>
            <td class="ing_buy"><a href="">Купить</a></td>
            <td itemprop="name" class="ing_name border"><span class="ingredient">Лимонный сок</span></td>
            <td itemprop="amount" class="ing_amount">1 стакан</td>
            <td class="ing_buy"><a href="">Купить</a></td>
          </tr>
          <tr>
            <td itemprop="name" class="ing_name"><span class="ingredient">Вегета</span></td>
            <td itemprop="amount" class="ing_amount">200 г</td>
            <td class="ing_buy"><a href="">Купить</a></td>
            <td itemprop="name" class="ing_name border"><span class="ingredient">Вегета</span></td>
            <td itemprop="amount" class="ing_amount">200 г</td>
            <td class="ing_buy"><a href="">Купить</a></td>
          </tr>
          <tr>
            <td itemprop="name" class="ing_name"><span class="ingredient">Мука</span></td>
            <td itemprop="amount" class="ing_amount">300 г</td>
            <td class="ing_buy"><a href="">Купить</a></td>
            <td itemprop="name" class="ing_name border"><span class="ingredient"></span></td>
            <td itemprop="amount" class="ing_amount"></td>
            <td class="ing_buy"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="instructions">
    <div itemprop="summary" class="description">Этот суп, хотя и супербыстрый, но все-таки не какой-нибудь Доширак, так что не побрезгуйте приготовить силий и продуктов потребуется минимум, а накормить таким количеством супа можно человек шесть. Фотографировать супы мне почему-то очень сложно, так что попрошу не особо придираться )))))</div>
    <div class="border"></div>
    <div class="stage">
      <div class="body">
        <div class="needed">
          <h2>Ингредиенты 1-го этапа:</h2>
          <table>
            <tr>
              <td itemprop="name" class="ing_name"><span class="ingredient">Куриное филе</span></td>
              <td itemprop="amount" class="ing_amount">4 шт</td>
              <td class="ing_buy"><a href="">Купить</a></td>
              <td itemprop="name" class="ing_name border"><span class="ingredient">Куриное филе</span></td>
              <td itemprop="amount" class="ing_amount">4 шт</td>
              <td class="ing_buy"><a href="">Купить</a></td>
            </tr>
            <tr>
              <td itemprop="name" class="ing_name"><span class="ingredient">Сливочное масло</span></td>
              <td itemprop="amount" class="ing_amount">100 г</td>
              <td class="ing_buy"><a href="">Купить</a></td>
              <td itemprop="name" class="ing_name border"><span class="ingredient">Сливочное масло из молока коров с Альпийских лугов</span></td>
              <td itemprop="amount" class="ing_amount">100 г</td>
              <td class="ing_buy"><a href="">Купить</a></td>
            </tr>
          </table>
        </div>
        <div class="image">
          <div class="screen">
            <div style="width:500px; height:350px;"></div>
          </div><img src="/upload/recipe/choco-min.jpg" width="440" height="400" alt="" data-src="/upload/recipe/choco.jpg" class="photo"/>
        </div>
        <div class="instruction">Этот суп, хотя и супербыстрый, но все-таки не какой-нибудь Доширак, так что не побрезгуйте приготовить силий и продуктов потребуется минимум, а накормить таким количеством супа можно человек шесть. Фотографировать супы мне почему-то очень сложно, так что попрошу не особо придираться )))))</div>
      </div>
    </div>
    <div class="border"></div>
    <div class="stage">
      <div class="body">
        <div class="image">
          <div class="screen">
            <div style="width:500px; height:350px;"></div>
          </div><img src="/upload/recipe/choco-min.jpg" width="440" height="400" alt="" data-src="/upload/recipe/choco.jpg" class="photo"/>
        </div>
        <div class="instruction">Этот суп, хотя и супербыстрый, но все-таки не какой-нибудь Доширак, так что не побрезгуйте приготовить силий и продуктов потребуется минимум, а накормить таким количеством супа можно человек шесть. Фотографировать супы мне почему-то очень сложно, так что попрошу не особо придираться )))))</div>
      </div>
    </div>
    <div class="border"></div>
    <div class="stage">
      <div class="body">
        <div class="needed">
          <h2>Ингредиенты 3-го этапа:</h2>
          <table>
            <tr>
              <td itemprop="name" class="ing_name"><span class="ingredient">Куриное филе</span></td>
              <td itemprop="amount" class="ing_amount">4 шт</td>
              <td class="ing_buy"><a href="">Купить</a></td>
              <td itemprop="name" class="ing_name border"><span class="ingredient">Куриное филе</span></td>
              <td itemprop="amount" class="ing_amount">4 шт</td>
              <td class="ing_buy"><a href="">Купить</a></td>
            </tr>
            <tr>
              <td itemprop="name" class="ing_name"><span class="ingredient">Сливочное масло</span></td>
              <td itemprop="amount" class="ing_amount">100 г</td>
              <td class="ing_buy"><a href="">Купить</a></td>
              <td itemprop="name" class="ing_name border"><span class="ingredient">Сливочное масло из молока коров с Альпийских лугов</span></td>
              <td itemprop="amount" class="ing_amount">100 г</td>
              <td class="ing_buy"><a href="">Купить</a></td>
            </tr>
            <tr>
              <td itemprop="name" class="ing_name"><span class="ingredient">Сливочное масло</span></td>
              <td itemprop="amount" class="ing_amount">100 г</td>
              <td class="ing_buy"><a href="">Купить</a></td>
              <td itemprop="name" class="ing_name border"><span class="ingredient"></span></td>
              <td itemprop="amount" class="ing_amount"></td>
              <td class="ing_buy"></td>
            </tr>
          </table>
        </div>
        <div class="instruction">Этот суп, хотя и супербыстрый, но все-таки не какой-нибудь Доширак, так что не побрезгуйте приготовить силий и продуктов потребуется минимум, а накормить таким количеством супа можно человек шесть. Фотографировать супы мне почему-то очень сложно, так что попрошу не особо придираться )))))</div>
      </div>
    </div>
    <div class="border"></div>
    <div class="stage">
      <div class="body">
        <div class="instruction">Этот суп, хотя и супербыстрый, но все-таки не какой-нибудь Доширак, так что не побрезгуйте приготовить силий и продуктов потребуется минимум, а накормить таким количеством супа можно человек шесть. Фотографировать супы мне почему-то очень сложно, так что попрошу не особо придираться )))))</div>
      </div>
    </div>
    <div class="border"></div>
    <div class="stage">
      <div class="body">
        <div class="needed">
          <h2>Ингредиенты 5-го этапа:</h2>
          <table>
            <tr>
              <td itemprop="name" class="ing_name"><span class="ingredient">Куриное филе</span></td>
              <td itemprop="amount" class="ing_amount">4 шт</td>
              <td class="ing_buy"><a href="">Купить</a></td>
              <td itemprop="name" class="ing_name border"><span class="ingredient">Куриное филе</span></td>
              <td itemprop="amount" class="ing_amount">4 шт</td>
              <td class="ing_buy"><a href="">Купить</a></td>
            </tr>
            <tr>
              <td itemprop="name" class="ing_name"><span class="ingredient">Сливочное масло</span></td>
              <td itemprop="amount" class="ing_amount">100 г</td>
              <td class="ing_buy"><a href="">Купить</a></td>
              <td itemprop="name" class="ing_name border"><span class="ingredient">Сливочное масло из молока коров с Альпийских лугов</span></td>
              <td itemprop="amount" class="ing_amount">100 г</td>
              <td class="ing_buy"><a href="">Купить</a></td>
            </tr>
            <tr>
              <td itemprop="name" class="ing_name"><span class="ingredient">Сливочное масло</span></td>
              <td itemprop="amount" class="ing_amount">100 г</td>
              <td class="ing_buy"><a href="">Купить</a></td>
              <td itemprop="name" class="ing_name border"><span class="ingredient"></span></td>
              <td itemprop="amount" class="ing_amount"></td>
              <td class="ing_buy"></td>
            </tr>
          </table>
        </div>
        <div class="image">
          <div class="screen">
            <div style="width:500px; height:350px;"></div>
          </div><img src="/upload/recipe/choco-min.jpg" width="440" height="400" alt="" data-src="/upload/recipe/choco.jpg" class="photo"/>
        </div>
        <div class="instruction">Этот суп, хотя и супербыстрый, но все-таки не какой-нибудь Доширак, так что не побрезгуйте приготовить силий и продуктов потребуется минимум, а накормить таким количеством супа можно человек шесть. Фотографировать супы мне почему-то очень сложно, так что попрошу не особо придираться )))))</div>
      </div>
    </div>
    <div class="border"></div>
    <div class="stage">
      <div class="body">
        <div class="needed">
          <h2>Ингредиенты 6-го этапа:</h2>
          <table>
            <tr>
              <td itemprop="name" class="ing_name"><span class="ingredient">Куриное филе</span></td>
              <td itemprop="amount" class="ing_amount">4 шт</td>
              <td class="ing_buy"><a href="">Купить</a></td>
              <td itemprop="name" class="ing_name border"><span class="ingredient">Куриное филе</span></td>
              <td itemprop="amount" class="ing_amount">4 шт</td>
              <td class="ing_buy"><a href="">Купить</a></td>
            </tr>
            <tr>
              <td itemprop="name" class="ing_name"><span class="ingredient">Сливочное масло</span></td>
              <td itemprop="amount" class="ing_amount">100 г</td>
              <td class="ing_buy"><a href="">Купить</a></td>
              <td itemprop="name" class="ing_name border"><span class="ingredient">Сливочное масло из молока коров с Альпийских лугов</span></td>
              <td itemprop="amount" class="ing_amount">100 г</td>
              <td class="ing_buy"><a href="">Купить</a></td>
            </tr>
            <tr>
              <td itemprop="name" class="ing_name"><span class="ingredient">Сливочное масло</span></td>
              <td itemprop="amount" class="ing_amount">100 г</td>
              <td class="ing_buy"><a href="">Купить</a></td>
              <td itemprop="name" class="ing_name border"><span class="ingredient"></span></td>
              <td itemprop="amount" class="ing_amount"></td>
              <td class="ing_buy"></td>
            </tr>
          </table>
        </div>
        <div class="image">
          <div class="screen">
            <div style="width:500px; height:350px;"></div>
          </div><img src="/upload/recipe/choco-min.jpg" width="440" height="400" alt="" data-src="/upload/recipe/choco.jpg" class="photo"/>
        </div>
        <div class="instruction">Этот суп, хотя и супербыстрый, но все-таки не какой-нибудь Доширак, так что не побрезгуйте приготовить силий и продуктов потребуется минимум, а накормить таким количеством супа можно человек шесть. Фотографировать супы мне почему-то очень сложно, так что попрошу не особо придираться )))))</div>
      </div>
    </div>
    <div class="border"></div>
    <div class="stage">
      <div class="body">
        <div class="needed">
          <h2>Ингредиенты 5-го этапа:</h2>
          <table>
            <tr>
              <td itemprop="name" class="ing_name"><span class="ingredient">Куриное филе</span></td>
              <td itemprop="amount" class="ing_amount">4 шт</td>
              <td class="ing_buy"><a href="">Купить</a></td>
              <td itemprop="name" class="ing_name border"><span class="ingredient">Куриное филе</span></td>
              <td itemprop="amount" class="ing_amount">4 шт</td>
              <td class="ing_buy"><a href="">Купить</a></td>
            </tr>
            <tr>
              <td itemprop="name" class="ing_name"><span class="ingredient">Сливочное масло</span></td>
              <td itemprop="amount" class="ing_amount">100 г</td>
              <td class="ing_buy"><a href="">Купить</a></td>
              <td itemprop="name" class="ing_name border"><span class="ingredient">Сливочное масло из молока коров с Альпийских лугов</span></td>
              <td itemprop="amount" class="ing_amount">100 г</td>
              <td class="ing_buy"><a href="">Купить</a></td>
            </tr>
            <tr>
              <td itemprop="name" class="ing_name"><span class="ingredient">Сливочное масло</span></td>
              <td itemprop="amount" class="ing_amount">100 г</td>
              <td class="ing_buy"><a href="">Купить</a></td>
              <td itemprop="name" class="ing_name border"><span class="ingredient"></span></td>
              <td itemprop="amount" class="ing_amount"></td>
              <td class="ing_buy"></td>
            </tr>
          </table>
        </div>
        <div class="image">
          <div class="screen">
            <div style="width:500px; height:350px;"></div>
          </div><img src="/upload/recipe/choco-min.jpg" width="440" height="400" alt="" data-src="/upload/recipe/choco.jpg" class="photo"/>
        </div>
        <div class="instruction">Этот суп, хотя и супербыстрый, но все-таки не какой-нибудь Доширак, так что не побрезгуйте приготовить силий и продуктов потребуется минимум, а накормить таким количеством супа можно человек шесть. Фотографировать супы мне почему-то очень сложно, так что попрошу не особо придираться )))))</div>
      </div>
    </div>
  </div>
  <div class="date"><span datetime="2006-01-18" itemprop="published" class="published">18 января 2006 </span><span class="time">18:25</span></div>
  <div class="bar">
    <div class="padding">
      <div class="author">
        <div class="author_photo">
          <div class="big_photo">
            <div><img src="/upload/user/small_photo.jpg" width="100" height="100" alt="max_s"/></div>
          </div><img src="/upload/user/small_photo.jpg" width="30" height="30" alt="max_s"/>
        </div><a href="/author/" itemprop="author" class="nickname">max_s</a>
      </div>
      <div class="comments"><a href="/recipe/#add_opinion" class="add">Комментировать</a><span class="number">(<a href="/recipe/#comments">2</a>)</span></div>
    </div>
  </div>
</div>
<!-- end /components/recipe/-->