@import '../../styl/component-include.styl'

.b-hr-bg
  background embedurl( 'img/bg.gif' ) repeat-x center center;
  margin 0 0 20px 0
  text-align center
  
.b-hr-bg__content
  background #fff
  display inline-block
  padding 0 8px
  color #333
