.b-recipe-line

  h2.text-center
    a( href="/recipes/" ) Рецепты с пошаговыми фотографиями
  
  .row
    -var n = 0
      while n < 4
        -n++
        .col-sm-3
          include ../../modules/recipe-thumb/include.jade