#recipe_line_block

  h2
    a( href="/all/" ) Рецепты с пошаговыми фотографиями
  
  -var n = 0
    while n < 5
      -n++
      
      include ../../modules/recipe-thumb/recipe-list-item.jade
  .clear