.b-recipe-line

  -var heading = "Рецепты с пошаговыми фотографиями"
  include ../../modules/heading-linethrough/link
  
  hr.i-size-L
  
  .row
    -var n = 0
      while n < 4
        -n++
        .col-sm-3
          include ../../modules/recipe-thumb/include.jade
          
        hr.i-size-M.visible-xs-block