.b-recipe-line.b-ph-block

  -var heading = "Рецепты с пошаговыми фотографиями"
  include ../../modules/heading-linethrough/link
  
  hr.i-size-L
  
  .row
    -var n = 0
      while n < 4
        -n++
        .col-md-3.col-sm-4
          include ../../modules/recipe-thumb/include.jade