@import '../../styl/component-include.styl'

#recipe_line_block
  margin-bottom 40px
  
  h2
    font-style italic
    font-size $small
    margin 0 0 17px 0

    a
      font-size $small
      
  .item
    float left
    display inline
    width 188px
    margin 0 2px 0 2px