@import '../../styl/component-include.styl'

.b-recipe-line
  margin-bottom 40px
      
  .col-sm-3
    
    @media( max-width 767px )
      display none
      
      &:first-child
        display block
        float none