#do-you-know-that.b-facts
	.b-facts__heading Знаете ли вы что:
	.b-facts__content
		.b-facts__item( data-id="3" ) Устрицы лучше всего есть в месяцы, в названии которых есть буква «р».
	.b-facts__more
		a.b-facts__more__link( href="#" ) Еще