@import '../../styl/component-include.styl'

.b-facts
  border 1px solid $light-grey
  padding 10px 15px 17px
  margin-bottom 20px

  &__heading
    font-family $georgia
    font-style italic
    font-size 10pt
    color $grey
    padding 18px 0
    border-bottom 1px solid $light-grey

  &__content
    font-style italic
    color $dark-grey
    padding 13px 0
    border-bottom 1px solid $light-grey

  &__more
    padding 18px 0 0 0

    &__link
      font-family $georgia
      font-size $x-small
      font-style italic
