
<!-- start /components/profile.favorites.all/-->
<link rel="stylesheet" href="/components/profile.favorites.all/style.css"/>
<script src="/components/profile.favorites.all/script.js"></script>
<div class="b-personal-page__recipes">
  <h3 class="b-hr-bg b-personal-page__heading"><span class="b-hr-bg__content">Моё избранное</span></h3>
  <div class="b-recipes-list">
    <div class="b-recipes-list__item b-recipe-preview">
      <div class="i-relative"><a href="" title="Удалить из избранного" class="b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a></div>
      <div class="b-recipe-preview__photo"><a href="/recipe/" title="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__link"><img src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__image"/></a></div>
      <div class="b-recipe-preview__heading b-h5"> <a href="/recipe/" class="b-recipe-preview__heading__link">Фета, запеченная с помидорами и паприкой</a></div>
      <div class="b-recipe-preview__author">От: irina_ctc</div>
      <div class="b-recipe-preview__info">
        <noindex><a href="" title="Оставить отзыв" class="b-recipe-preview__comments b-comments-preview"><span class="b-comments-preview__icon"></span><span class="b-comments-preview__num">12</span></a></noindex>
      </div>
    </div>
    <div class="b-recipes-list__item b-recipe-preview">
      <div class="i-relative"><a href="" title="Удалить из избранного" class="b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a></div>
      <div class="b-recipe-preview__photo"><a href="/recipe/" title="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__link"><img src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__image"/></a></div>
      <div class="b-recipe-preview__heading b-h5"> <a href="/recipe/" class="b-recipe-preview__heading__link">Фета, запеченная с помидорами и паприкой</a></div>
      <div class="b-recipe-preview__author">От: irina_ctc</div>
      <div class="b-recipe-preview__info">
        <noindex><a href="" title="Оставить отзыв" class="b-recipe-preview__comments b-comments-preview"><span class="b-comments-preview__icon"></span><span class="b-comments-preview__num">12</span></a></noindex>
      </div>
    </div>
    <div class="b-recipes-list__item b-recipe-preview">
      <div class="i-relative"><a href="" title="Удалить из избранного" class="b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a></div>
      <div class="b-recipe-preview__photo"><a href="/recipe/" title="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__link"><img src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__image"/></a></div>
      <div class="b-recipe-preview__heading b-h5"> <a href="/recipe/" class="b-recipe-preview__heading__link">Фета, запеченная с помидорами и паприкой</a></div>
      <div class="b-recipe-preview__author">От: irina_ctc</div>
      <div class="b-recipe-preview__info">
        <noindex><a href="" title="Оставить отзыв" class="b-recipe-preview__comments b-comments-preview"><span class="b-comments-preview__icon"></span><span class="b-comments-preview__num">12</span></a></noindex>
      </div>
    </div>
    <div class="b-recipes-list__item b-recipe-preview">
      <div class="i-relative"><a href="" title="Удалить из избранного" class="b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a></div>
      <div class="b-recipe-preview__photo"><a href="/recipe/" title="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__link"><img src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__image"/></a></div>
      <div class="b-recipe-preview__heading b-h5"> <a href="/recipe/" class="b-recipe-preview__heading__link">Фета, запеченная с помидорами и паприкой</a></div>
      <div class="b-recipe-preview__author">От: irina_ctc</div>
      <div class="b-recipe-preview__info">
        <noindex><a href="" title="Оставить отзыв" class="b-recipe-preview__comments b-comments-preview"><span class="b-comments-preview__icon"></span><span class="b-comments-preview__num">12</span></a></noindex>
      </div>
    </div>
    <div class="b-recipes-list__item b-recipe-preview">
      <div class="i-relative"><a href="" title="Удалить из избранного" class="b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a></div>
      <div class="b-recipe-preview__photo"><a href="/recipe/" title="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__link"><img src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__image"/></a></div>
      <div class="b-recipe-preview__heading b-h5"> <a href="/recipe/" class="b-recipe-preview__heading__link">Фета, запеченная с помидорами и паприкой</a></div>
      <div class="b-recipe-preview__author">От: irina_ctc</div>
      <div class="b-recipe-preview__info">
        <noindex><a href="" title="Оставить отзыв" class="b-recipe-preview__comments b-comments-preview"><span class="b-comments-preview__icon"></span><span class="b-comments-preview__num">12</span></a></noindex>
      </div>
    </div>
    <div class="b-recipes-list__item b-recipe-preview">
      <div class="i-relative"><a href="" title="Удалить из избранного" class="b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a></div>
      <div class="b-recipe-preview__photo"><a href="/recipe/" title="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__link"><img src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__image"/></a></div>
      <div class="b-recipe-preview__heading b-h5"> <a href="/recipe/" class="b-recipe-preview__heading__link">Фета, запеченная с помидорами и паприкой</a></div>
      <div class="b-recipe-preview__author">От: irina_ctc</div>
      <div class="b-recipe-preview__info">
        <noindex><a href="" title="Оставить отзыв" class="b-recipe-preview__comments b-comments-preview"><span class="b-comments-preview__icon"></span><span class="b-comments-preview__num">12</span></a></noindex>
      </div>
    </div>
    <div class="b-recipes-list__item b-recipe-preview">
      <div class="i-relative"><a href="" title="Удалить из избранного" class="b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a></div>
      <div class="b-recipe-preview__photo"><a href="/recipe/" title="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__link"><img src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__image"/></a></div>
      <div class="b-recipe-preview__heading b-h5"> <a href="/recipe/" class="b-recipe-preview__heading__link">Фета, запеченная с помидорами и паприкой</a></div>
      <div class="b-recipe-preview__author">От: irina_ctc</div>
      <div class="b-recipe-preview__info">
        <noindex><a href="" title="Оставить отзыв" class="b-recipe-preview__comments b-comments-preview"><span class="b-comments-preview__icon"></span><span class="b-comments-preview__num">12</span></a></noindex>
      </div>
    </div>
    <div class="b-recipes-list__item b-recipe-preview">
      <div class="i-relative"><a href="" title="Удалить из избранного" class="b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a></div>
      <div class="b-recipe-preview__photo"><a href="/recipe/" title="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__link"><img src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__image"/></a></div>
      <div class="b-recipe-preview__heading b-h5"> <a href="/recipe/" class="b-recipe-preview__heading__link">Фета, запеченная с помидорами и паприкой</a></div>
      <div class="b-recipe-preview__author">От: irina_ctc</div>
      <div class="b-recipe-preview__info">
        <noindex><a href="" title="Оставить отзыв" class="b-recipe-preview__comments b-comments-preview"><span class="b-comments-preview__icon"></span><span class="b-comments-preview__num">12</span></a></noindex>
      </div>
    </div>
    <div class="b-recipes-list__item b-recipe-preview">
      <div class="i-relative"><a href="" title="Удалить из избранного" class="b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a></div>
      <div class="b-recipe-preview__photo"><a href="/recipe/" title="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__link"><img src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__image"/></a></div>
      <div class="b-recipe-preview__heading b-h5"> <a href="/recipe/" class="b-recipe-preview__heading__link">Фета, запеченная с помидорами и паприкой</a></div>
      <div class="b-recipe-preview__author">От: irina_ctc</div>
      <div class="b-recipe-preview__info">
        <noindex><a href="" title="Оставить отзыв" class="b-recipe-preview__comments b-comments-preview"><span class="b-comments-preview__icon"></span><span class="b-comments-preview__num">12</span></a></noindex>
      </div>
    </div>
    <div class="b-recipes-list__item b-recipe-preview">
      <div class="i-relative"><a href="" title="Удалить из избранного" class="b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a></div>
      <div class="b-recipe-preview__photo"><a href="/recipe/" title="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__link"><img src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__image"/></a></div>
      <div class="b-recipe-preview__heading b-h5"> <a href="/recipe/" class="b-recipe-preview__heading__link">Фета, запеченная с помидорами и паприкой</a></div>
      <div class="b-recipe-preview__author">От: irina_ctc</div>
      <div class="b-recipe-preview__info">
        <noindex><a href="" title="Оставить отзыв" class="b-recipe-preview__comments b-comments-preview"><span class="b-comments-preview__icon"></span><span class="b-comments-preview__num">12</span></a></noindex>
      </div>
    </div>
    <div class="b-recipes-list__item b-recipe-preview">
      <div class="i-relative"><a href="" title="Удалить из избранного" class="b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a></div>
      <div class="b-recipe-preview__photo"><a href="/recipe/" title="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__link"><img src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__image"/></a></div>
      <div class="b-recipe-preview__heading b-h5"> <a href="/recipe/" class="b-recipe-preview__heading__link">Фета, запеченная с помидорами и паприкой</a></div>
      <div class="b-recipe-preview__author">От: irina_ctc</div>
      <div class="b-recipe-preview__info">
        <noindex><a href="" title="Оставить отзыв" class="b-recipe-preview__comments b-comments-preview"><span class="b-comments-preview__icon"></span><span class="b-comments-preview__num">12</span></a></noindex>
      </div>
    </div>
    <div class="b-recipes-list__item b-recipe-preview">
      <div class="i-relative"><a href="" title="Удалить из избранного" class="b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a></div>
      <div class="b-recipe-preview__photo"><a href="/recipe/" title="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__link"><img src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__image"/></a></div>
      <div class="b-recipe-preview__heading b-h5"> <a href="/recipe/" class="b-recipe-preview__heading__link">Фета, запеченная с помидорами и паприкой</a></div>
      <div class="b-recipe-preview__author">От: irina_ctc</div>
      <div class="b-recipe-preview__info">
        <noindex><a href="" title="Оставить отзыв" class="b-recipe-preview__comments b-comments-preview"><span class="b-comments-preview__icon"></span><span class="b-comments-preview__num">12</span></a></noindex>
      </div>
    </div>
    <div class="b-recipes-list__item b-recipe-preview">
      <div class="i-relative"><a href="" title="Удалить из избранного" class="b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a></div>
      <div class="b-recipe-preview__photo"><a href="/recipe/" title="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__link"><img src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__image"/></a></div>
      <div class="b-recipe-preview__heading b-h5"> <a href="/recipe/" class="b-recipe-preview__heading__link">Фета, запеченная с помидорами и паприкой</a></div>
      <div class="b-recipe-preview__author">От: irina_ctc</div>
      <div class="b-recipe-preview__info">
        <noindex><a href="" title="Оставить отзыв" class="b-recipe-preview__comments b-comments-preview"><span class="b-comments-preview__icon"></span><span class="b-comments-preview__num">12</span></a></noindex>
      </div>
    </div>
    <div class="b-recipes-list__item b-recipe-preview">
      <div class="i-relative"><a href="" title="Удалить из избранного" class="b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a></div>
      <div class="b-recipe-preview__photo"><a href="/recipe/" title="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__link"><img src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__image"/></a></div>
      <div class="b-recipe-preview__heading b-h5"> <a href="/recipe/" class="b-recipe-preview__heading__link">Фета, запеченная с помидорами и паприкой</a></div>
      <div class="b-recipe-preview__author">От: irina_ctc</div>
      <div class="b-recipe-preview__info">
        <noindex><a href="" title="Оставить отзыв" class="b-recipe-preview__comments b-comments-preview"><span class="b-comments-preview__icon"></span><span class="b-comments-preview__num">12</span></a></noindex>
      </div>
    </div>
    <div class="b-recipes-list__item b-recipe-preview">
      <div class="i-relative"><a href="" title="Удалить из избранного" class="b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a></div>
      <div class="b-recipe-preview__photo"><a href="/recipe/" title="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__link"><img src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__image"/></a></div>
      <div class="b-recipe-preview__heading b-h5"> <a href="/recipe/" class="b-recipe-preview__heading__link">Фета, запеченная с помидорами и паприкой</a></div>
      <div class="b-recipe-preview__author">От: irina_ctc</div>
      <div class="b-recipe-preview__info">
        <noindex><a href="" title="Оставить отзыв" class="b-recipe-preview__comments b-comments-preview"><span class="b-comments-preview__icon"></span><span class="b-comments-preview__num">12</span></a></noindex>
      </div>
    </div>
    <div class="b-recipes-list__item b-recipe-preview">
      <div class="i-relative"><a href="" title="Удалить из избранного" class="b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a></div>
      <div class="b-recipe-preview__photo"><a href="/recipe/" title="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__link"><img src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" class="b-recipe-preview__photo__image"/></a></div>
      <div class="b-recipe-preview__heading b-h5"> <a href="/recipe/" class="b-recipe-preview__heading__link">Фета, запеченная с помидорами и паприкой</a></div>
      <div class="b-recipe-preview__author">От: irina_ctc</div>
      <div class="b-recipe-preview__info">
        <noindex><a href="" title="Оставить отзыв" class="b-recipe-preview__comments b-comments-preview"><span class="b-comments-preview__icon"></span><span class="b-comments-preview__num">12</span></a></noindex>
      </div>
    </div>
  </div>
</div>
<!-- end /components/profile.favorites.all/-->