.b-do-you-know__title
  i( style="background-image: url( '/template/images/icons/smart-info.svg' );" )
  | А знаете ли вы, что:

.b-do-you-know__text Тесто можно сделать заранее и держать его в холодильнике (заверните в пленку или положите в герметичный контейнер). Так вы сможете быстро испечь печенье, когда будет нужно.

a.b-do-you-know__button.hidden-xs( href="#" ) Ещё факт?