@import '../../styl/component-include.styl'
//@import 'recipe-bootstrap.styl'

.b-recipe.b-ph-block
  
  &.i-ph-animated
    
    .b-ph-content
      position static
      width auto
      opacity 1
      
    .b-ph
      position absolute
      top 0
      left 0
      opacity 0
      z-index -1

html.i-noscroll
  overflow hidden

.b-recipe

  .b-heading-linethrough h2
    position relative
    padding-right 33px
    margin-right -20px
    
    .b-copy-ingredients-icon
      position absolute
      top 0
      right 0
      width 30px
      height 25px
      display block
      background-repeat no-repeat
      background-position left center
      background-size contain
      cursor pointer
      transition( opacity .5s ease )
      z-index 1
      
      &:hover
        opacity .7
        
    .b-copy-ingredients-message
      opacity 0
      position absolute
      top -8px
      left 105%
      height 40px
      line-height 40px
      color #fff
      display block
      background-color rgba( 0,0,0,.6 )
      transition( opacity 1s ease )
      padding 0 10px
      white-space nowrap
      font-family $sans
      font-size 9pt
      font-weight 200
      z-index 1
      
      &.i-show
        opacity 1
        
      @media( max-width 767px )
        left calc( 50% - 210px/2 - 20px/2 )
        top -48px
        width 210px
        
  .b-recipe__step .b-heading-linethrough h2
    position static
    padding-right 13px
    margin-right 0
      
  &__ingredients-to-be-copied
    position absolute
    top 0
    left 0
    opacity 0
    z-index -1
      
  .b-recipe-icons
    visibility visible
    
    @media( max-width 767px )
      display flex
      justify-content space-around
      
  .b-recipe-icon
    
    @media( max-width 767px )
      margin 0
      
  .b-social-buttons
    text-align right
    
    @media( max-width 767px )
      text-align center
    
  &__ingredients
    
    table
      width 100%
      
      td
        border-bottom 1px solid #ededed
        padding 9px 0 9px 12px
        
        @media( max-width 767px )
          padding 2px 0 2px 12px
      
        &:nth-child(2)
          text-align right
          white-space nowrap
          padding-right 12px
          
  &__included
    display flex
    justify-content center
    align-items center
    font-size 9pt
    
    @media( max-width 1023px )
      flex-wrap wrap
    
    &__item
      display flex
      justify-content center
      align-items center
      width 21%
      margin 0 2%
      
      img
        width 100px
        height 100px
        
        @media( max-width 600px )
          width 50px
          height 50px
      
      span
        margin-left 10px
        
      @media( max-width 1023px )
        width 46%
        height 100px
        
      @media( max-width 600px )
        height auto
        margin-bottom 15px
        font-size 7pt
        
          
  &__step
    
    .b-heading-linethrough
      margin-bottom 15px
    
  //yt button
  &__yt-overlay
    display none
    position fixed
    top 0
    left 0
    width 100%
    height 100vh
    background rgba(0,0,0,.6)
    z-index 1060
    
.b-recipe__yt

  &-wrapper
    width 70%
    height calc( 9/16 * 70vw )
    margin calc( (100vh - 9/16 * 70vw) /2 ) auto
    position relative
    
    @media( max-width 500px )
      width 100%
      height calc( 9/16 * 100vw )
      margin calc( (100vh - 9/16 * 100vw) /2 ) auto
    
    iframe
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      z-index 1
    
  &-close
    position absolute
    top -40px
    right 0
    font-size 9pt
    cursor pointer
    color #fff
    display flex
    align-items center
    font-size 10pt
    
    span&-icon
      background-repeat no-repeat
      background-position center
      background-size contain
      display block
      width 15px
      height 15px
      margin-left 15px
      
    @media( max-width 500px )
      right 15px
      
  &-subscribe
    text-align center
    margin-top 10px
    position absolute
    bottom -40px
    left 0
    width 100%
    z-index 10
    
    > div,
    iframe
      width 110px !important      
        
.b-recipe-icon
  display inline-block
  vertical-align middle
  margin-right 15px
  
  img,
  svg
    display inline-block
    vertical-align middle
    width 16px
    height 16px
    
  &__num
    display inline-block
    vertical-align middle
    font-size 7pt
    color #999
      
  &.b-print-button
    display none
          
.i-ph-animated .text-mited  
  display block
  
#doYouKnow
  opacity 0
  margin-top 40px
  transition( all 1s ease )
  
  &.i-show
    opacity 1
    margin-top 0
    
  @media( max-width 767px )
    margin 30px 0 30px 30px
    
    &.i-show
      opacity 1
      margin 30px 0 30px 30px

.b-do-you-know

  &__title
    font-style italic
    font-size 9pt
    position relative
    
    i
      background-repeat no-repeat
      background-position center
      background-size cover
      display block
      width 18px
      height 18px
      position absolute
      top 0
      left -28px
    
  &__text
    padding 15px 0
    transition( opacity .3s ease )
    
    &.i-hide
      opacity 0