@import '../../styl/component-include.styl'
@import 'recipe-bootstrap.styl'

.b-recipe
      
  .b-recipe-icons
    visibility visible
    
    @media( max-width 767px )
      display flex
      justify-content space-around
      
  .b-recipe-icon
    
    @media( max-width 767px )
      margin 0
      
  .b-social-buttons
    text-align right
    
    @media( max-width 767px )
      text-align center
    
  &__ingredients
    
    table
      width 100%
      
      td
        border-bottom 1px solid #ededed
        padding 9px 0 9px 12px
        
        @media( max-width 767px )
          padding 2px 0 2px 12px
      
        &:nth-child(2)
          text-align right
          white-space nowrap
          padding-right 12px
          
  &__included
    display flex
    justify-content center
    align-items center
    font-size 9pt
    
    @media( max-width 1023px )
      flex-wrap wrap
    
    &__item
      display flex
      justify-content center
      align-items center
      width 21%
      margin 0 2%
      
      img
        width 100px
        height 100px
        
        @media( max-width 600px )
          width 50px
          height 50px
      
      span
        margin-left 10px
        
      @media( max-width 1023px )
        width 46%
        height 100px
        
      @media( max-width 600px )
        height auto
        margin-bottom 15px
        font-size 7pt
        
          
  &__step
    
    .b-heading-linethrough
      margin-bottom 15px
  
.b-recipe-icon
  display inline-block
  vertical-align middle
  margin-right 15px
  
  img,
  svg
    display inline-block
    vertical-align middle
    width 16px
    height 16px
    
  &__num
    display inline-block
    vertical-align middle
    font-size 7pt
    color #999
      
  &.b-print-button
    display none