// start /components/recipe/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'recipe'
else
  - var componentsArray = [ 'recipe' ]

include ../../modules/zen-button/include
include ../../modules/favorite-button/include
include ../../modules/smm-button/include
   
//-заголовок вне рецепта, по причинам особенностей интеграции   
-var heading = "Картофельная запеканка с лисичками"
include ../../modules/heading-linethrough/h1-name

.b-recipe.b-ph-block( itemscope itemtype="http://schema.org/Recipe" data-id="88" )

  .b-ph
    
    .b-ph__chain-path
    
    .b-ph__info
      div
      div
      div
      div
      div
      
    .b-ph__ill
    
    .b-ph__icons
      div
      div
      div
      div
      div
      div
      div
      
    .b-ph__descrpiton
      div
      div
      div
      div
  
  .b-ph-content
  
    .b-recipe__chain-path
      a( href="/search/" )
        span( itemprop="recipeCuisine" ) Американская кухня
      | /
      a( href="/search/" ) Кексы
      | /
      a( href="/search/" ) Ягоды
      
    .b-recipe__author
      include ../../modules/author-avatar/nickname-bg
      
    .b-recipe__company
      a( href="http://www..." rel="nofollow" target="_blank" )
        img( src="/upload/recipe/company.gif" width="100" height="50" alt="Seafoodshop" )
        i Спонсор рецепта
    
    .b-recipe__info
      
      .b-recipe__info-item
        .b-recipe__info-icon
          img( src="/template/images/icons/servings.svg" width="16" alt="" )
        .b-recipe__info-text( itemprop="recipeYield" ) 2 порции
        
      .b-recipe__info-item
        .b-recipe__info-icon
          img( src="/template/images/icons/servings.svg" width="16" alt="" )
        .b-recipe__info-text( itemprop="cookTime" content="PT1H20M" ) 1 час 20 мин
        
      .b-recipe__info-item
        .b-recipe__info-icon
          img( src="/template/images/icons/servings.svg" width="16" alt="" )
        .b-recipe__info-text( itemprop="nutrition" itemscope itemtype="http://schema.org/NutritionInformation" )
          span( itemprop="calories" ) 192 кКал на порцию
        
    hr.i-size-M

    .b-recipe__intro
      .b-recipe__intro-ill
      
        .b-recipe__ill
          img( src="/upload/recipe/ill.jpg" alt="" itemprop="image" )
          span.b-recipe__yt-button
            span.b-recipe__yt-icon( style="background-image: url( '/template/images/icons/yt-icon.svg' );" )
            span.i-desktop Смотреть видео-рецепт
            span.i-mobile Смотреть видео

          .b-recipe__yt-overlay
                
            .b-recipe__yt-wrapper
            
              .b-recipe__yt-close
                span Закрыть
                span.b-recipe__yt-close-icon( style="background-image: url( '/template/images/icons/close-white.svg' );" )
                
              iframe#player(src="https://www.youtube.com/embed/1In7igJUxV8?modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1&origin=https://www.foodclub.ru" allowfullscreen="" allowtransparency="" frameborder="0")
              
              .b-recipe__yt-subscribe
                script( src="https://apis.google.com/js/platform.js" )
                .g-ytsubscribe( data-channelid="UCoeTjJ3oEmLSDl6_mEzrfdQ" data-layout="default" data-theme="dark" data-count="default" )
          
        hr.i-size-M
          
        .row
          .col-sm-6
            
            .b-recipe-icons( data-ajax-url="/ajax-response/recipe-icons.html?id=45" data-ajax-method="GET" )
              .b-recipe-icon.b-print-button
                img( src="/template/images/icons/print.svg" width="16" alt="" )

              .b-recipe-icon.b-like-button
                img( src="/template/images/icons/like.svg" width="16" alt="" )
                .b-recipe-icon__num 10
                
              .b-recipe-icon.b-cooked-button
                img( src="/template/images/icons/cooking.svg" width="16" alt="" )
                .b-recipe-icon__num 7
                
              .b-recipe-icon.b-views-button
                img( src="/template/images/icons/views.svg" width="16" alt="" )
                .b-recipe-icon__num 1 482 200
                
              .b-recipe-icon.b-rating-button
                img( src="/template/images/icons/rating.svg" width="16" alt="" )
                .b-recipe-icon__num 5 672
            
          hr.visible-xs-block.i-size-M
            
          .col-sm-6.text-right
            .b-recipe-menu__social
              include ../../modules/social-buttons/small.jade
        
      .b-recipe__intro-aside.hidden-xs
      
        include ../../modules/aside-banner/simple
        
    hr.i-size-M
    
    .row
      .col-md-8.col-md-offset-2( itemprop="description" )
        | Картофельная запеканка с грибами любима многими, ведь это настоящая комфортная еда (comfort food): привычная, домашняя, не вызывающая непонимания и недоумения. Для того, чтобы запеканка была вкусной и могла вызвать по-настоящему ностальгические чувства, она должна быть приготовлена из хорошей крахмалистой картошки, свежих ароматных грибов и непременно с любовью :)
        
    hr.i-size-M
    
    -var heading = "Вам понадобится"
    include ../../modules/heading-linethrough/recipe
    
    textarea.b-recipe__ingredients-to-be-copied
    
    .row.b-recipe__ingredients
      .col-md-4
        table
          tr
            td( itemprop="recipeIngredient" ) Нерка копченая (филе)
            td 150 г
          tr
            td( itemprop="recipeIngredient" ) Лаймы
            td 1 шт.
          tr
            td( itemprop="recipeIngredient" ) Соль морская
            td ¼ шт.
          tr
            td( itemprop="recipeIngredient" ) Горчица
            td 1.5 ч.л.
            
      .col-md-4
        table
          tr
            td
              a( href="" itemprop="recipeIngredient" ) Нерка копченая (филе)
            td 150 г
          tr
            td( itemprop="recipeIngredient" ) Лаймы
            td 1 шт.
          tr
            td( itemprop="recipeIngredient" ) Соль морская
            td ¼ шт.
          tr
            td( itemprop="recipeIngredient" ) Горчица
            td 1.5 ч.л.
            
      .col-md-4
        table
          tr
            td( itemprop="recipeIngredient" ) Нерка копченая (филе)
            td 150 г
          tr
            td( itemprop="recipeIngredient" ) Лаймы
            td 1 шт.
          tr
            td( itemprop="recipeIngredient" ) Соль морская
            td ¼ шт.
          tr
            td( itemprop="recipeIngredient" ) Горчица
            td 1.5 ч.л.
        
    hr.i-size-L
    
    -var heading = "В рецепте использовали"
    include ../../modules/heading-linethrough/include
    
    .b-recipe__included
    
      .b-recipe__included__item
        a( href="http://www..." rel="nofollow" target="_blank" )
          img( src="/upload/recipe/included.jpg" width="100" height="100" alt="Миксер Philips" )
        span Миксер Philips
          br
          a( href="http://www..." rel="nofollow" target="_blank" ) Купить в Яндекс Маркет
    
      .b-recipe__included__item
        a( href="http://www..." rel="nofollow" target="_blank" )
          img( src="/upload/recipe/included2.jpg" width="100" height="100" alt="Соль морская марки Sol Mare" )
        span
          a( href="http://www..." rel="nofollow" target="_blank" ) Соль морская марки Sol Mare
    
      .b-recipe__included__item
        a( href="http://www..." rel="nofollow" target="_blank" )
          img( src="/upload/recipe/included3.jpg" width="100" height="100" alt="Сельдь Алюторская" )
        span Сельдь Алюторская
          br
          a( href="http://www..." rel="nofollow" target="_blank" ) Купить в Seafoodshop.ru
    
      .b-recipe__included__item
        a( href="http://www..." rel="nofollow" target="_blank" )
          img( src="/upload/recipe/included3.jpg" width="100" height="100" alt="Сельдь Алюторская" )
        span Сельдь Алюторская
          br
          a( href="http://www..." rel="nofollow" target="_blank" ) Купить в Seafoodshop.ru
            
    hr
    
    div( itemprop="steps" itemscope itemtype="http://schema.org/HowToSection" )
    
      .b-recipe__step( itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToStep" )
      
        -var heading = "Готовим тесто — этап 1"
        include ../../modules/heading-linethrough/include-name
        
        .row
          .col-md-8.col-md-offset-2
            
            .row.b-recipe__ingredients
              .col-md-6
                table
                  tr
                    td Нерка копченая (филе)
                    td 150 г
                  tr
                    td Лаймы
                    td 1 шт.
                    
              .col-md-6
                table
                  tr
                    td
                      a( href="" ) Нерка копченая (филе)
                    td 150 г
                
        hr
                
        .row
          .col-md-8.col-md-offset-2
          
            .b-recipe__step-ill
              img( src="/upload/recipe/ill.jpg" width="0" height="0" alt="" itemprop="image" )
              img( data-original="/upload/recipe/ill.jpg" alt="" )
              
            hr.i-size-M
              
            div( itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection" ) Картофельная запеканка с грибами любима многими, ведь это настоящая комфортная еда (comfort food): привычная, домашняя, не вызывающая непонимания и недоумения. Для того, чтобы запеканка была вкусной и могла вызвать по-настоящему ностальгические чувства, она должна быть приготовлена из хорошей крахмалистой картошки, свежих ароматных грибов и непременно с любовью :)
              
      hr
      
      .b-recipe__step
      
        -var heading = "Готовим начинку — этап 2"
        include ../../modules/heading-linethrough/include-name
        
        .row
          .col-md-8.col-md-offset-2
          
            .row.b-recipe__ingredients
              .col-md-6
                table
                  tr
                    td Нерка копченая (филе)
                    td 150 г
                  tr
                    td Лаймы
                    td 1 шт.
                    
              .col-md-6
                table
                  tr
                    td
                      a( href="" ) Нерка копченая (филе)
                    td 150 г
                    
        hr
                
        .row
          .col-md-8.col-md-offset-2
          
            .b-recipe__step-ill
              img( src="/upload/recipe/ill.jpg" width="0" height="0" alt="" itemprop="image" )
              img( src="/upload/recipe/ill.jpg" alt="" )
              
            hr.i-size-M
              
            div( itemprop="itemListElement" itemscope itemtype="http://schema.org/HowToDirection" ) Картофельная запеканка с грибами любима многими, ведь это настоящая комфортная еда (comfort food): привычная, домашняя, не вызывающая непонимания и недоумения. Для того, чтобы запеканка была вкусной и могла вызвать по-настоящему ностальгические чувства, она должна быть приготовлена из хорошей крахмалистой картошки, свежих ароматных грибов и непременно с любовью :)
    
// end /components/recipe/