.b-admin-buttons
  .b-admin-buttons__block
    .b-delete-icon(title='Удалить фото')
    .b-image-icon(title='Загрузить новое фото')
      .b-image-icon__input-file.input_file
        input#fileupload59.text(type='file', data-ajax-url='/js/file-upload/server/php/index.php')
      input.b-image-icon__photo-url(type='hidden', name='comment-photo', value='')