@import '../../styl/component-include.styl'

.b-admin-buttons
  width 16px
  height 16px
  background embedurl( 'img/more-action.svg' ) no-repeat 0 0
  background-size cover
  cursor pointer
  position relative

.b-admin-buttons__block
  display none
  opacity 0
  width 87px
  height 50px
  background embedurl( 'img/bg.png' ) no-repeat 0 0
  position absolute
  top -52px
  left -36px
  z-index 10
  
  .b-delete-icon
    position absolute
    top 2px
    left 44px
    width 42px
    height 42px

  .b-edit-icon,
  .b-image-icon
    position absolute
    top 2px
    left 1px
    width 42px
    height 42px