@import '../../styl/component-include.styl'

.b-recipe-search
  rel()
  ib()
  z-index 4
  
  &.i-open
    z-index 6

  &__form-field
    ib()
    margin-bottom 0 !important
    position absolute
    top 0
    right 0

  .b-form-field__placeholder__text
    font-size $big-size
    color $dark-grey
    line-height 32px
    padding-top 11px
    padding-left 11px
    width 273px !important

  &__delete
    position absolute
    width 21px
    height 21px
    font-size 0
    background url("data image/gifbase64,R0lGODlhFQAVAJECAP///bm5uf///wAAACH5BAEAAAIALAAAAAAVABUAAAIvVI6paesfAFwy1RndfVt1i30ZNiIiZ5JeqaYteEJXTK2kSLO2FvL3/ns5GsKAoAAAOw==") no-repeat
    cursor pointer
    top 16px
    left 279px
    
    .i-preloader &
      display none !important
  

  &__input
    width 100%
    height 30px !important
    font-size $base-size
    padding 0 !important
    color #fff
    display block
    line-height 30px
    background $darker-grey
    border none
    box-shadow none
    opacity(0)
    trans( all 0.5s ease )
    
    /*.i-preloader &
      background-image url("/template/images/preloader-thin.gif")
      background-position right center
      background-repeat no-repeat*/
      
    .i-open &
      opacity(1)
      width 455px !important
      padding 2px 38px 2px 10px !important
      
      @media( max-width $screen-sm-max )
        width 380px !important
  

  &__icon
    ib()
    background embedurl( 'img/search.png' ) no-repeat center center
    width 22px
    height 22px
    padding 0
    border none
    cursor pointer
    position absolute
    top 4px
    right 9px
    
    .i-preloader &
      background-image url("/template/images/preloader-thin.gif")
      
  &__ul
    list-style-type none
    position absolute
    top 9px
    left 0
    z-index 60
    margin 0
    border 1px solid #e0e0de
    border-top none
    box-shadow 0 0 8px rgba(0,0,0,0.15)
    -webkit-box-shadow 0 0 8px rgba(0,0,0,0.15)
    -moz-box-shadow 0 0 8px rgba(0,0,0,0.15)
    display none
    background-color #ffffff
    font-size $middle
    width 412px
    padding 10px 9px
    box-sizing content-box
    -moz-box-sizing content-box
    -webkit-box-sizing content-box
    -khtml-box-sizing content-box
    z-index 100

/*
#recipe_search button:hover,
#recipe_search button:hover,
#club_search button:hover
  background url(/template/images/buttons.png) no-repeat -79px -2713px
  
#author_search button:active,
#author_search button:active,
#club_search button:active
  background url(/template/images/buttons.png) no-repeat -79px -2766px
  
#recipe_search button span
  display inline-block
  margin -2px 0 0 0
  font-family $georgia
  font-size $base-size
  color #7d7c7c
  text-shadow 0 1px 0 #ffffff*/

#recipe_search_list
  position relative
  width 100px
  z-index 99

.b-rs

  &__heading
    background-color $light-grey
    border-top 1px solid #ffffff
    border-bottom 1px solid #ffffff
    padding 5px 10px 6px 10px
    margin-top -1px
    text-align center
    color $dark-grey
    font-weight bold
    
    &__num
      position relative
      display block
      
      &__content
        position absolute
        top 0
        right 10px
        display block
        font-size 8.5pt
        font-weight normal

  &__heading :first-child
    border-top none

  &__item
    padding 0
    
    &__link
      font-size $middle
      text-decoration none
      display block
      padding 1px 0 1px 0
      display block
      overflow hidden
      
    &__image
      display none
      
      &-wrapper
        float left
        width 50px
        height 50px
        overflow hidden
        margin-right 11px
        
        &__type_empty
          border 1px solid #e5e5e5
          
    &__text
      float left
      width 240px
      padding 18px 0 0
      display table-cell
      vertical-align middle
      line-height 1
      
    &__info
      float right
      width 90px
      
    &__time
      font-size $xx-small
      color $grey
      display block
      text-align right
      margin 10px 12px 2px 0
      white-space nowrap
      
    &__nutrition
      font-size $xx-small
      color $grey
      display block
      text-align right
      margin 0 12px 0 0
      
    &__hr
      display block
      font-size 0
      height 0
      padding 0
      margin 0 0 0 50px
      border-bottom 1px solid #eae1e1

  &__search-all
    background-color $light-grey
    border-top 1px solid #ffffff
    margin-top -1px
    padding 0

    &__link
      display block
      text-align center
      font-weight bold
      padding 18px 15px 17px
      font-size $middle

a.b-rs__search-all__link:hover,
.b-rs__search-all.i-hover .b-rs__search-all__link
  background-color $link-bg

a.b-rs__item__link:hover,
.b-rs__item.i-hover .b-rs__item__link
  background-color $link-bg
  color $link