block var-page
  - var page = recipes

extends ../layouts/inner.jade

block title
  title Recipes | food

block content
  
  #content.all_recipes
    
    include ../modules/content-nav/include.jade
    
    .container
    
      .i-center
        h1 Рецепты
        
      include ../modules/filter-recipes/include.jade
      
      .row
        section.col-md-8
          
          #fc_statistics
            .wrapper
              span.item
                span.num 36
                | 
                span.word рецептов
                
          script
            |//В массиве перечислены id последних рецептов. Первые 27 из них должны быть уже выведены на странице при загрузке, остальные n перечислены здесь для дальнейшей подгрузки через ajax
            | window.allRecipesResult = [5271,5256,5238,5226,5207,5317,5146,5128,5111,5087,5075,5063,5042,5034,5023,5000,4989,4976,4956,4940,4926,4918,4910,4898,4883,4860,4853];
            
          #recipe_feed_block
            include ../modules/recipe-thumb/recipe-thumb.jade
            include ../modules/recipe-thumb/recipe-thumb.jade
            include ../modules/recipe-thumb/recipe-thumb.jade
            include ../modules/recipe-thumb/recipe-thumb.jade
            include ../modules/recipe-thumb/recipe-thumb.jade
            
          #get_more_recipes( data-more-url="/json/get_more_recipes.json" )
            a.btn.btn-default( href="#" ) Ещё
            img( src="/images/preloader.gif" width="160" height="20" alt="" )
          
        aside.col-md-4.hidden-sm.hidden-xs
          
          include ../modules/aside-banner/include
          
          hr.i-size-L
          
          include ../components/aside.rom/template
          
          hr.i-size-L
          
          include ../modules/aside-banner/float
      
    hr.i-size-L
      
      