block var-page
  - var page = recipes-add

extends ../../layouts/main.jade

block title
  title Edit profile | food

block content
  
  #content
        
    include ../../modules/content-nav/include.jade
  
  section.container
        
    include ../../components/profile.edit/template.jade
    
    
    
    
