// start /components/recipe/

link( rel="stylesheet", href="/components/recipe.menu/style.css" )
script( src="/components/recipe.menu/script.js" )

.row
  .col-md-8.col-md-offset-2
  
    .b-recipe-menu.i-bottom( data-load-action="/components/recipe.menu/ajax/load.html?recipeId=456" data-load-method="GET" )
        
    .text-mited.text-xsmall Рецепт «Картофельная запеканка с лисичками» добавлен: 31 марта 2015 года.

// end /components/recipe/