// start /components/recipe/

//- push style and script file to the end of the page
block components-array
  if componentsArray
    - componentsArray[ componentsArray.length ] = 'recipe.menu'
  else
    - var componentsArray = [ 'recipe.menu' ]

.row.b-ph-block
  .col-md-8.col-md-offset-2
  
    .b-recipe-menu.i-bottom( data-load-action="/components/recipe.menu/ajax/load.html?recipeId=456" data-load-method="GET" )
        
    .text-mited.text-xsmall Рецепт «Картофельная запеканка с лисичками» добавлен: 31 марта 2015 года.

// end /components/recipe/