.hint
  .pointer
    div
  .hint_body
    p Вы хотите опубликовать рецепт, но у Вас нет пошаговых фотографий или Вам лень заносить ингредиенты?
    p Выберите наиболее подходящий для Вашего рецепта
      a( href="http://www.foodclub.ru/blogs/" ) клуб
      | и опубликуйте рецепт там, его увидят не только наши посетители, но и читатели 
      a( href="http://syndicated.livejournal.com/foodclub_topics/profile" target="_blank" ) трансляций 
      | в ЖЖ.