@import '../../styl/component-include.styl'
  
.hint
  padding-left 10px
  
  .hint_body
    background-color #dee9d1
    padding 12px 0 4px 0
    
    *
      font-size 10pt
    
  p
    margin 0 17px 10px 17px
    
  .pointer
    position relative
    
    div
      position absolute
      width 7px
      height 13px
      background  embedurl( 'img/pointer.gif' ) no-repeat
      top 44px
      left -7px