@import '../../styl/component-include.styl'

.b-citation
  background: embedurl( 'img/quots.png' ) no-repeat 20px 0;
  padding 7px 60px 0
  font-style italic
  
  @media( max-width $screen-phone )
    padding-right 40px
    padding-left 40px
    background-position 10px 0