block vars
  - var page = article
  - var authorized = false

extends ../../layouts/header.jade

block title
  title Journal | Foodclub

block content

  .container

    hr
  
    include ../../components/journal/template
      
    hr.i-size-L