@import '../../styl/component-include.styl'

.b-author
  text-align center
  
  &__pic
    display block
    border-radius( 51% )
    overflow hidden
    square( 50px )
    margin 0 auto 1px
    
    img
      width 100%
      height auto
    
  &__name
    font-size 8pt