#fc_statistics
  .wrapper
    span.item Добавлено 
      span.num 976
      | 
      a( href="/recipes/" ) рецептов
    span.sep
    span.item
      span.num 120
      | 
      |кулинаров сейчас на сайте