.b-statistics
  a( href="/recipes/" ).b-statistics__item
    b 2 416
    span рецептов
  .b-statistics__item
    b 90
    span кулинаров сейчас на сайте
  .b-statistics__item
    b 24 421
    span кулинаров посетили сайт вчера
  .b-statistics__item
    //-b Стань автором &mdash;
    include ../../modules/button/add-recipe