@import '../../styl/component-include.styl'

#fc_statistics
  border-top 1px solid $light-grey
  text-align center
  color $dark-grey
  margin-bottom 25px
  
  .wrapper
    margin-top -23px
    
  .item
    font-family $georgia
    font-size $small
    display inline-block
    padding 0 6px
    background #ffffff
    
  .sep
    background #ffffff
    width 12px
    height 15px
    display inline-block
    
  .num
    font-size 21pt