@import '../../styl/component-include.styl'

.b-statistics
  border 1px solid $m-light-grey
  padding 30px
  color $dark-grey
    
  &__item
    font-family $pt-serif
    font-size $small
    display inline-block
    white-space nowrap
    padding 0 1%
    
    &:last-child
      float right
    
  b
    font-size 18pt
    font-weight bold
    white-space nowrap
    margin-right 6px
    display inline-block
    vertical-align top
    
  span
    display inline-block
    vertical-align top
    font-size 10pt
    white-space nowrap
    margin-top 5px