block vars
  - var page = 'blocks-trends'
  - var authorized = false

extends ../../layouts/header.jade

block title
  title Trends | food

block content
    
  .container
  
    hr
          
    include ../../components/trends/template

    hr
    hr