.collection_block
      
  .recipe_list_item
    float left
    width 150px
    height 160px
    margin-right 5px
    margin-bottom 10px
    
    .photo
      padding 0
      box-shadow( none )
      border 0
    
      a
        width 150px
        height 100px
        
      img
        margin 0
        
    h5,
    .author
      margin-left 0