@import '../../../styl/component-include.styl'

.b-recipe-thumb
  line-height 1.3
  text-align center
  
  &__photo
    display block
    background-repeat no-repeat
    background-size cover
    background-position center center
    
    img
      width 100%
      height auto
      
  &__author,
  &__info
    display inline-block
    font-size $x-small
    
  &__author
    margin-right 10px
    
  
  @media( max-width $screen-phone )
    margin-right -1 * $mobile-page-margin
    margin-left -1 * $mobile-page-margin
    
    h3
      text-align center
      padding 0 $mobile-page-margin