.b-recipe-idea
  
  h3 Рецепты для завтраков
  hr
  .row
    .col-sm-4.text-center
      a( href="" )
        img( src="/upload/recipe-preview/blocks/5.jpg" ).img-responsive
      hr.i-size-S
      a( href="" ).col-sm-10.center-block
        b Яичница в корзиночках из бекона
        
    hr.visible-xs-block
      
    .col-sm-4.text-center
      a( href="" )
        img( src="/upload/recipe-preview/blocks/5.jpg" ).img-responsive
      hr.i-size-S
      a( href="" ).col-sm-10.center-block
        b Яичница в корзиночках из бекона
        
    hr.visible-xs-block
      
    .col-sm-4.text-center
      a( href="" )
        img( src="/upload/recipe-preview/blocks/5.jpg" ).img-responsive
      hr.i-size-S
      a( href="" ).col-sm-10.center-block
        b Яичница в корзиночках из бекона
  
  hr.i-size-L.hidden-xs
  hr.visible-xs-block
  
  .row
    .col-sm-4.text-center
      a( href="" )
        img( src="/upload/recipe-preview/blocks/5.jpg" ).img-responsive
      hr.i-size-S
      a( href="" ).col-sm-10.center-block
        b Яичница в корзиночках из бекона
        
    hr.visible-xs-block
      
    .col-sm-4.text-center
      a( href="" )
        img( src="/upload/recipe-preview/blocks/5.jpg" ).img-responsive
      hr.i-size-S
      a( href="" ).col-sm-10.center-block
        b Яичница в корзиночках из бекона
        
    hr.visible-xs-block
      
    .col-sm-4.text-center
      a( href="" )
        img( src="/upload/recipe-preview/blocks/5.jpg" ).img-responsive
      hr.i-size-S
      a( href="" ).col-sm-10.center-block
        b Яичница в корзиночках из бекона