@import '../../styl/component-include.styl'

.b-recipe-idea
  line-height 1.3
  
  @media( max-width $screen-phone )
    //margin-right -1 * $mobile-page-margin
    //margin-left -1 * $mobile-page-margin
    
    h3
      text-align center
      padding 0 $mobile-page-margin
  
    .img-responsive
      width 100%