.b-foodshot__item
  a.b-foodshot__item-img( href="" style="padding-top:66.5%;" data-original="/upload/foodshot/a8c460defb8ffda9c01edf93109aebeb.jpg" )
    img( src="/upload/foodshot/a8c460defb8ffda9c01edf93109aebeb.jpg" itemprop="image" )
  a( href="" )
    b( itemprop="author" ) Дмитрий Махнёв
    
.b-foodshot__item
  a.b-foodshot__item-img( href="" style="padding-top:66.5%;" data-original="https://www.foodclub.ru/upload/iblock/340/340c53a31c16099a754d275a26ff238f.jpg" )
    img( src="https://www.foodclub.ru/upload/iblock/340/340c53a31c16099a754d275a26ff238f.jpg" itemprop="image" )
  a( href="" )
    b( itemprop="author" ) Дмитрий Махнёв
  
.b-foodshot__item
  a.b-foodshot__item-img( href="" style="padding-top:100.16666666667%;" data-original="https://www.foodclub.ru/upload/iblock/b9d/b9dff295278ab596eae90622b96ab293.jpg" )
    img( src="https://www.foodclub.ru/upload/iblock/b9d/b9dff295278ab596eae90622b96ab293.jpg" itemprop="image" )
  a( href="" )
    b( itemprop="author" ) Мария Савельева
  
.b-foodshot__item
  a.b-foodshot__item-img( href="" style="padding-top:133.33333333333%;" data-original="https://www.foodclub.ru/upload/iblock/023/023b04147c723d934840b1caf219ea25.jpg" )
    img( src="https://www.foodclub.ru/upload/iblock/023/023b04147c723d934840b1caf219ea25.jpg" itemprop="image" )
  a( href="" )
    b( itemprop="author" ) katenka
  
.b-foodshot__item
  a.b-foodshot__item-img( href="" style="padding-top:117.83333333333%;" data-original="https://www.foodclub.ru/upload/iblock/d83/d8388b8fd1290edf8708b320e069554a.jpg" )
    img( src="https://www.foodclub.ru/upload/iblock/d83/d8388b8fd1290edf8708b320e069554a.jpg" itemprop="image" )
  a( href="" )
    b( itemprop="author" ) Мармеладка
  
.b-foodshot__item
  a.b-foodshot__item-img( href="" style="padding-top:66%;" data-original="https://www.foodclub.ru/upload/iblock/157/1571266bbf632dd086acfb191fc52a47.jpg" )
    img( src="https://www.foodclub.ru/upload/iblock/157/1571266bbf632dd086acfb191fc52a47.jpg" itemprop="image" )
  a( href="" )
    b( itemprop="author" ) Мармеладка