#filter_recipes( data-all-url="/json/all_recipes_result.json" data-last-url="/json/last_recipes_result.json" )
  .item.cuisine
    h5 Кухня
    a.frame_bg( href="#" )
      span.left
        span.right
          span.bg
            span Выберите
  .item.dish
    h5 Тип блюда
    a.frame_bg( href="#" )
      span.left
        span.right
          span.bg
            span Выберите
  .item.ingredient
    h5 Основной ингредиент
    a.frame_bg( href="#" )
      span.left
        span.right
          span.bg
            span Выберите
  .item.tag
    h5 Метка
    a.frame_bg.active( href="#" )
      span.left
        span.right
          span.bg
            span Выберите
  .clear
  #filter_lists
    #filter_list