@import '../../styl/component-include.styl'

#filter_recipes,
.b-filter
  margin 0 -2px 40px -2px

#filter_recipes .item,
.b-filter__item
  width 163px
  float left
  display inline
  margin-right 19px
  
  &:nth-child(4)
    margin-right 0

#filter_recipes .item h5,
.b-filter__item__heading
  font-size $x-small
  text-align center
  margin 0 0 2px 0

#filter_recipes .frame_bg,
.b-filter__item__button
  font-size $small
  font-style normal
  cursor pointer
  background embedurl( 'img/bg.gif' ) repeat-x 0 0
  border-radius( 3px )
  box-shadow( 0 0 3px rgba(0,0,0,0.15))
  border 1px solid #d1d1d1

  &:hover,
  &:active
    color #944b4b
    border-color #e4d3d3
    box-shadow( 0 0 3px rgba(145,93,93,0.15))
    
  span.right
    padding-right 12px
    background embedurl( 'img/cursor.gif' ) no-repeat right center
    
  span.bg
    background none
    width 124px
    height 33px
    text-align left
    padding 0 9px 0 11px
    box-sizing( content-box )
    overflow hidden
  
    span
      padding 8px 0 0 0
      white-space nowrap
      
  span.left
    background none

#filter_recipes .frame_bg:active,
a.b-filter__item__button:active
  color #944b4b

#filter_recipes .active
  background embedurl( 'img/bg-hover.gif' ) repeat-x 0 0

  &,
  &:hover,
  &:active
    color #ffffff
    text-shadow 0 -1px 0 #000000
  
    span.bg
      background-position 0 -1388px

#filter_recipes .open
  
  &
  &:hover,
  &:active
    //color #934b4b
    text-shadow none
    
#filter_lists,
.b-filter__lists
  rel()
  
#filter_list,
.b-filter__list
  background #fbfbfb
  border 1px solid #ddc8c8
  border-radius( 3px )
  box-shadow( 0 0 23px #b88d8d )
  position absolute
  top 23px
  left 2px
  width 848px
  display none
  z-index 10

  .pad
    overflow hidden
    margin 29px 16px

  table
    width 100%
    margin -2px 0 0 -2px
  
  td
    width 25%
    background embedurl( 'img/double_border_vert.gif' ) repeat-y 0 0
  
  a,
  span
    display block
    padding 5px 25px
    font-size $small
    padding 11px 20px 10px 20px
    font-family $georgia
    background embedurl( 'img/double_border_hor.gif' ) repeat-x 0 0
    color #934b4b
    margin-left 2px
  
  a:hover
    color #d75050
    
    
#get_more_recipes
  text-align center
  margin 0 0 40px 0
  
#get_more_recipes a
  cursor pointer
  
#get_more_recipes span.bg span
  padding-left 45px
  padding-right 45px
  
#get_more_recipes img,
#get_more_recipes.preload a
  display none
  
#get_more_recipes.preload img
  display inline-block
  margin 3px 0 4px 0