.b-recipe-icon.b-print-button
  img( src="/template/images/icons/print.svg" width="16" alt="" )

.b-recipe-icon.b-like-button
  img( src="/template/images/icons/like.svg" width="16" alt="" )
  .b-recipe-icon__num 70
  
.b-recipe-icon.b-cooked-button
  img( src="/template/images/icons/cooking.svg" width="16" alt="" )
  .b-recipe-icon__num 57
  
.b-recipe-icon.b-views-button
  img( src="/template/images/icons/views.svg" width="16" alt="" )
  .b-recipe-icon__num 1 482 358
  
.b-recipe-icon.b-rating-button
  img( src="/template/images/icons/rating.svg" width="16" alt="" )
  .b-recipe-icon__num 5 673