
form.b-smm(action='/bitrix/templates/fclub3.4/components/custom/recipe.detail.v2/detail/getsmm.php' method='post')
  input(type='hidden' name='post' value='91047')
  input(type='hidden' name='title' value='Панна котта с базиликом')
  input(type='hidden' name='ids' value='a:12:{i:0;s:6:&quot;181436&quot;;i:1;s:6:&quot;181404&quot;;i:2;s:6:&quot;181407&quot;;i:3;s:6:&quot;181410&quot;;i:4;s:6:&quot;181413&quot;;i:5;s:6:&quot;181416&quot;;i:6;s:6:&quot;181419&quot;;i:7;s:6:&quot;181422&quot;;i:8;s:6:&quot;181425&quot;;i:9;s:6:&quot;181428&quot;;i:10;s:6:&quot;181431&quot;;i:11;s:6:&quot;181434&quot;;}')
  input.b-smm-button( type="submit" name='getsmm' value="" style="bottom: 150px; background-image: url('/template/images/icons/smm-button.svg')" )
