@import '../../styl/component-include.styl'

.b-favorite-button
  position fixed
  top calc( 50% - 20px )
  right 15px
  width 40px
  height 40px
  background url( '/bitrix/templates/fclub3.3/images/icons/add-to-fav.svg' ) no-repeat center
  background-size cover
  transform( scale(0))
  transition( all 0.4s cubic-bezier(.5,-.75,.7,2) )
  cursor pointer
  z-index 10
  
  &.i-show
    transform( scale(1))
  
    &:hover
      transform( scale(1.1))
      opacity .7
    
  &.i-added
    background url( '/bitrix/templates/fclub3.3/images/icons/remove-from-fav.svg' ) no-repeat center
    
  @media (max-width 767px)
    bottom 50px
  
  @media (min-width 768px)
    right calc( (100% - 750px)/2 )
    
  @media (min-width 992px)
    right calc( (100% - 970px)/2 )
  
  @media (min-width: 1200px)
    right calc( (100% - 1170px)/2 )