block vars
  - var page = 'recipe'
  - var authorized = false

extends ../../layouts/header.jade

block title
  title Recipe | food

block content
    
  .container

    hr
  
    include ../../components/recipe/template-ph.jade
    
    hr.i-size-L
    .row
      .col-md-8.col-md-offset-2
        include ../../modules/main-h1/include.jade
    hr
    include ../../components/recipe.menu/bottom.jade
    hr.i-size-L
    
    .b-recipe-line.b-ph-block

      -var heading = "Рецепты с пошаговыми фотографиями"
      include ../../modules/heading-linethrough/link
      
      hr.i-size-L
      
      .row
        -var n = 0
          while n < 4
            -n++
            .col-sm-3
              include ../../modules/recipe-thumb/recipe-thumb.jade
            hr.i-size-L.visible-xs-block
    
    hr.i-size-L
    include ../../components/lavka/template
    hr.i-size-L
    include ../../components/recipe.comments/template.jade
