extends layouts/equal.jade

block label
  |Подтверждение нового пароля

block type
  - var type = 'password'
  
block name
  - var name = 'confirm-new-password'
  
block equal
  - var equal = "password"