@import '../../styl/component-include.styl'

#doYouKnow
  opacity 0
  margin-top 40px
  transition( all 1s ease )
  
  &.i-show
    opacity 1
    margin-top 0
    
  @media( max-width 767px )
    margin 30px 0 30px 30px
    
    &.i-show
      opacity 1
      margin 30px 0 30px 30px

.b-do-you-know

  &__title
    font-style italic
    font-size 9pt
    position relative
    
    i
      background-repeat no-repeat
      background-position center
      background-size cover
      display block
      width 18px
      height 18px
      position absolute
      top 0
      left -28px
    
  &__text
    padding 15px 0
    transition( opacity .3s ease )
    
    &.i-hide
      opacity 0