@import '../../styl/component-include.styl'
  
div.user
  position relative
  
  a
    margin 0 0 0 37px

  span
    margin 0 0 0 37px
    
  .icon
    font-size 0
    position absolute
    top 0
    left -22px
    
  .photo
    font-size 0
    position absolute
    top -10px
    left 0
    
  .big_photo
    position relative
    display none
    
    div
      font-size 0
      position absolute
      top -35px
      left -35px
      z-index 2
        
  .checkbox
    font-size 0
    position absolute
    top -6px
    left -25px
    
    td
      vertical-align middle
      text-align center
      width 21px
      
      
.b-userpic
  ib()
  
  img,
  span
    display inline-block
    vertical-align middle    
    
  &__name
    max-width 70%
    margin-left 5px
    overflow hidden
    text-overflow ellipsis
    
    span
      white-space nowrap