.b-personal-page__badges
  h5.b-personal-page__badges__heading.b-banner-h5
    span.b-banner-h5__content Бейджи
  .b-personal-page__badges__list.b-badges-preview__list
    .b-badges-preview__list__item
      img(src='/upload/badges/1.png', width='64', height='64', alt='30 рецептов', title='30 рецептов')
    .b-badges-preview__list__item
      img(src='/upload/badges/1.png', width='64', height='64', alt='30 рецептов', title='30 рецептов')
    .b-badges-preview__list__item
      img(src='/upload/badges/1.png', width='64', height='64', alt='30 рецептов', title='30 рецептов')
    .b-badges-preview__list__item
      img(src='/upload/badges/1.png', width='64', height='64', alt='30 рецептов', title='30 рецептов')
    .b-badges-preview__list__item
      img(src='/upload/badges/1.png', width='64', height='64', alt='30 рецептов', title='30 рецептов')
    .i-clearfix
  .b-personal-page__badges__all
    a(href='/profile/badges/') Все бейджи