.row.b-index-brief

  .col-sm-3.col-xs-6
    .b-index-brief__img 2 536
    .b-index-brief__text Рецепта<br>добавлено<br>на сайт
    
  hr.visible-xs

  .col-sm-3.col-xs-6
    .b-index-brief__img
      img( src="/template/images/index/1.gif" alt="" )
    .b-index-brief__text Все рецепты<br>авторские
    
  hr.visible-xs

  .col-sm-3.col-xs-6
    .b-index-brief__img
      img( src="/template/images/index/2.gif" alt="" )
    .b-index-brief__text Все рецепты с<br>пошаговыми фотографиями
    
  hr.visible-xs

  .col-sm-3.col-xs-6
    .b-index-brief__img 29
    .b-index-brief__text Кулинаров<br>сейчас на сайте