@import '../../styl/component-include.styl'

.b-index-brief

  .col-sm-3
    display flex
    align-items center
    
    @media ( max-width 567px )
      display block
      text-align center
  
  &__img
    font-size 22pt
    font-weight bold
    color #666666
    margin-right 23px
    line-height 64px
    
    @media ( max-width 567px )
      display block
  
  &__text
    font-size 9pt
    line-height 14px
    
    @media ( max-width 567px )
      display block