// start /components/instagram-banner/

//- push style and script file to the end of the page
block components-array
  if componentsArray
    - componentsArray[ componentsArray.length ] = 'instagram-banner'
  else
    - var componentsArray = [ 'instagram-banner' ]

.b-instagram-banner
  
  .b-instagram-banner__button
    a( href="" )
      img( src="/template/images/icons/instagram-banner.svg" alt="" )
      
  .b-instagram-banner__close
    img( src="/template/images/icons/close-button.svg" alt="" )

// end /components/instagram-banner/