// start /components/instagram-banner/

link( rel="stylesheet", href="/components/instagram-banner/style.css" )
script( src="/components/instagram-banner/script.js" )

.b-instagram-banner
  
  .b-instagram-banner__button
    a( href="" )
      img( src="/template/images/icons/instagram-banner.svg" alt="" )
      
  .b-instagram-banner__close
    img( src="/template/images/icons/close-button.svg" alt="" )

// end /components/instagram-banner/