@import '../../styl/component-include.styl'

#b-comments
  margin-top 10px
  
  &.i-ph-animated
    display block

#b-comment-form
  position relative
  
  .btn.btn-default
    float left
    
.b-form-label
  font-size 14pt
  font-family $pt-serif

.b-comment-form__photo
  float left
  width 65px
  margin 23px 15px 0 0
  .input_file
    height 0
  &.i-uploaded
    padding-top 7px
    .input_file
      display none
      
    &:hover
      .input_file
        display block
        
    .b-comment-form__photo__img
      margin-top -7px

#comment_form textarea, #reply_form textarea, .comments_block .edit_form textarea
  border 1px solid #c3c3c3
  width 100%
  height 50px
  padding 10px
  box-shadow 4px 4px 8px #c8c8c8 inset
  -webkit-box-shadow 4px 4px 8px #c8c8c8 inset
  -moz-box-shadow 4px 4px 8px #c8c8c8 inset
  -moz-border-radius 3px
  -webkit-border-radius 3px
  -khtml-border-radius 3px
  border-radius 3px
  background #ffffff

#comment_form .textarea, #reply_form .textarea, .comments_block .edit_form .textarea
  padding-right 22px

#reply_form
  textarea
    width 100%
    //width 497px

#system_message
  .button
    height auto
    border none
    padding 11px

#comment_form
  .foodclub
    border 1px solid #edd5d5
    background #faefef
    .icons
      border-top-color #faefef
      .pointer
        background-image url(/images/comment/pointer_foodclub.gif)
  .comment
    .icons
      position relative
      border-top 1px solid #ffffff
      position absolute
      .pointer
        background url(/images/comment/pointer.gif) no-repeat
        width 8px
        height 13px
        top 23px
        left -8px
    .padding
      .text
        display block

#body
  #comment_form
    .foodclub
      .padding
        padding 15px

#sessId
  display none

.b-more-button
  text-align center
  margin-top 15px
  &.i-preload
    background url(/images/preloader.gif) no-repeat center center
    height 27px
    .b-button
      display none
  .b-button
    display inline-block
    height 27px
    width 129px
    font-size 8pt
    padding-top 6px
    margin 0

.b-rc__item__content__text__img
  width 65px
  height 65px
  overflow hidden
  float left
  margin-right 12px
  cursor pointer
  transition( all .5s ease )
  background-repeat no-repeat
  background-position center
  background-size cover

.b-rc__item__content__text__img__type_block
  float none
  margin-bottom 15px

/*.b-rc__item__content__text__content
  float left
  width 497px

.b-rc__reply-block
  .b-rc__item__content__text__content
    width 445px*/

.b-recipe-comments
  margin-top 40px

.b-recipe-comments .b-textarea-wrapper,
#b-comment-form .b-textarea-wrapper
  //margin 0 16px

.b-recipe-comments .b-textarea,
#b-comment-form .b-textarea
  width 100%
  height 130px
  padding 10px 15px
  border 0
  box-sizing border-box
  box-shadow( 0 0 13px rgba(102,204,102,.15))
  vertical-align top
  margin-bottom 23px
  
  &:focus
    outline none

.b-rc__heading
  color #333333
  font-size 14pt
  font-weight 700
  margin 0 0 20px 0

.b-rc__block, .b-rc__reply-block
  margin-left 52px

.b-rc__item
  margin-bottom 20px

  &.i-preload
    opacity .5
    pointer-events none

    .b-textarea-wrapper
      position relative

      &:before
        content ''
        position absolute
        width 100%
        height calc(100% - 23px)
        background-repeat no-repeat
        background-position center
        background-image url('/template/images/button-preloader-static.png')
        -webkit-animation rotate-preloader 1s linear infinite normal
        animation rotate-preloader 1s linear infinite normal

  &.i-edit

    .b-rc__item__content
      background #fff
      border none
      padding 0

.b-rc__item__close
  position absolute
  top 0
  right 0
  display none

.b-rc__item__pointer
  display none
  background url("data:image/gif;base64,R0lGODlhCAANAJECAOvr6////QAAAAAAACH5BAEAAAIALAAAAAAIAA0AAAIXlA9xlooBH3Rtijqx1XRG5i3Vcn1iUAAAOw==") no-repeat
  width 8px
  height 13px
  position absolute
  top 23px
  left -7px

.i-mine
  .b-rc__item__pointer
    background-image url("data:image/gif;base64,R0lGODlhCAANAJECANPH46QAAAAAAACH5BAEAAAIALAAAAAAIAA0AAAIXlA9xlooBH3Rtijqx1XRG5i3Vcn1iUAAAOw==")
  .b-rc__item__content
    border none
    background-color #f1f8e9

.i-foodclub

  .b-rc__item__content
    border-color #f5f5f5
    background-color #f5f5f5
    padding 34px
    text-align center
    color #666666
    font-size 9pt

.b-rc__item__author
  position absolute
  top 0
  left -69px
  background-repeat no-repeat
  background-position center
  background-size cover
  width 60px
  height 60px
  transform( scale(.5))
  transition( transform .2s ease )
  border-radius 51%
  
  &:hover
    transform( scale(1))

.b-rc__admin-buttons
  position absolute
  top 16px
  right 16px

.b-rc__item__content
  border 1px solid #ebebeb
  background-color #fff
  padding 10px 30px 10px 15px
  box-sizing content-box
  -moz-box-sizing content-box
  -webkit-box-sizing content-box
  -khtml-box-sizing content-box

.b-rc__item__content__author
  margin 2px 0 6px
  font-size 8pt

.b-rc__item__content__text
  display block
  word-wrap break-word

.b-rc__props
  margin 11px 0 5px 0
  height 27px
  position relative

.b-rc__props__reply
  float left
  margin-right 19px

.b-rc__props__like
  float left

.b-rc__props__date
  font-size 7pt
  white-space nowrap
  color #999999
  text-align right
  float right
  margin 6px -15px 0 0

#b-rc__reply-form
  margin-top 20px
  display none

.b-rc__reply-form__close
  position absolute
  right 0
  top 0

.b-rc-edit-form
  display none
  
  .btn.btn-default
    float left

#b-rc__reply-form .btn.btn-default
  float left

.b-form__photo-block
  position relative
  float left
  margin -1px 0 0 27px
  
  .b-admin-buttons
    display none
    position absolute
    top 8px
    left 8px
    z-index 10
    
    .input_file .browse_button
      background embedurl( 'img/edit.svg' ) no-repeat center center
      background-size 30%
        
  &:hover
    .b-admin-buttons
      display block

.b-form__photo-block__img
  width 32px
  height 32px
  overflow hidden
  background-color #fff
  background-repeat no-repeat
  background-position center
  background-size cover
  transition( opacity .2s ease )
  position absolute
  top 0
  left 0
  
  .b-form__photo-block:hover &
    opacity .35

.b-rc__item.i-edit .b-rc__item__close,
.b-rc__item.i-edit .b-rc-edit-form
  display block

.b-rc__item.i-edit .b-rc__item__content__text,
.b-rc__item.i-edit .b-rc__item__pointer,
.b-rc__item.i-edit .b-rc__item__author,
.b-rc__item.i-edit .b-rc__admin-buttons,
.b-rc__item.i-edit .b-rc__item__content__author,
.b-rc__item.i-edit .b-rc__props
  display none

.input_file
  overflow hidden
  
  &.b-image-icon__input-file
    width 100%
    height 100%
    overflow hidden
    .browse_button
      background-image none
      width 100%
      height 100%
    input
      &.text
        margin-left -206px
        height 42px !important
    .blocker
      width 205px
      margin-left -206px
      height 42px

.input_file.b-image-icon__input-file .new_file_name,
.b-form__photo-block .new_file_name
  display none !important

@-webkit-keyframes rotate-preloader { 100% { -webkit-transform: rotate(360deg); } }
@keyframes rotate-preloader { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }