// start /components/recipe.comments/

//- push style and script file to the end of the page
block components-array
  if componentsArray
    - componentsArray[ componentsArray.length ] = 'recipe.comments'
  else
    - var componentsArray = [ 'recipe.comments' ]

script( type="text/template" id="comment-template" )
  |<div class="b-rc__block">
  |  <div class="b-rc__item<%if(mine) {%> i-mine<%}%>" data-id="<%=id%>" itemscope itemtype="http://schema.org/Comment" >
  |    <div class="i-relative">
  |      <a href="#" class="b-rc__item__close b-close-icon b-close-icon__color_3" title="Закрыть"></a>
  |      <div class="b-rc__item__pointer"></div>
  |      <a href="<%=author.href%>" class="b-rc__item__author" title="<%=author.name%>" style="background-image: url('<%=author.src%>');"></a>
  |      <div class="b-rc__admin-buttons b-admin-buttons">
  |        <div class="b-admin-buttons__block">
  |          <div class="b-delete-icon" title="Удалить отзыв"></div>
  |          <div class="b-edit-icon" title="Редактировать"></div>
  |        </div>
  |      </div>
  |    </div>
  |    <div class="b-rc__item__content">
  |      <div class="b-rc__item__content__author"><a href="<%=author.href%>" itemprop="author" ><%=author.name%></a></div>
  |      <% if(image.src && image.id) { %>
  |      <div class="b-rc__item__content__text" itemprop="text" >
  |        <div class="b-rc__item__content__text__img" style="background-image: url(<%=image.src%>);" data-id="<%=image.id%>">
  |        </div>
  |        <div class="b-rc__item__content__text__content"><%=text.html%></div>
  |        <div class="i-clearfix"></div>
  |      </div>
  |      <% } else { %>
  |      <div class="b-rc__item__content__text">
  |        <%=text.html%>
  |      </div>
  |      <% } %>
  |      <div class="b-rc-edit-form">
  |        <form action="/" method="get">
  |          
  |          <div class="b-form-field b-form__text-block">
  |            <input type="hidden" value="<%=id%>" name="cId">
  |            <input type="hidden" value="<%=rId%>" name="rId">
  |            <input type="hidden" value="e" name="a">
  |            <input id="sessid" type="hidden" value="<%=sessid%>" name="sessid">
  |            <label class="b-form-label">Редактирование отзыва <span class="b-form-attention">?</span></label>
  |            <div class="b-textarea-wrapper"><textarea name="comment" cols="10" rows="5" class="b-textarea" required><%=text.text%></textarea></div>
  |          </div>
  |          <button class="btn btn-default" type="submit">Добавить отзыв</button>
  |          <div class="b-form-field b-form__photo-block">
  |            <% if(image.src && image.id) { %>
  |            <div class="b-admin-buttons">
  |              <div class="b-admin-buttons__block">
  |                <div class="b-delete-icon" title="Удалить фото"></div>
  |                <div class="b-image-icon" title="Загрузить новое фото">
  |                  <div class="b-image-icon__input-file input_file"><input type="file" class="text" id="fileupload<%=id%>" data-ajax-url="/js/file-upload/server/php/index.php"></div>
  |                  <input type="hidden" name="comment-photo" value="" class="b-image-icon__photo-url" />
  |                </div>
  |              </div>
  |            </div>
  |            <div class="b-form__photo-block__img">
  |              <img src="<%=image.src%>" height="65" alt="" class="i-align-img" data-id="<%=image.id%>" />
  |            </div>
  |            <% } else { %>
  |            <div class="input_file"><input type="file" class="text" id="fileupload<%=id%>" data-ajax-url="/js/file-upload/server/php/index.php"></div>
  |            <div class="b-form__photo-block__img"></div>
  |            <input type="hidden" name="comment-photo" value="" class="b-form__photo-block__url" />
  |            <% } %>
  |          </div>
  |          <div class="i-clearfix"></div>
  |        </form>
  |      </div>
  |      <div class="b-rc__props">
  |        <div class="b-rc__props__reply">
  |          <a class="btn btn-default" href="#">Ответить</a>
  |        </div>
  |        <div class="b-rc__props__like">
  |          <span class="b-like">
  |            <a id="liketn_<%=id%>" title="Мне нравится" class="b-like-icon b-like-icon__type-button" href="/forms/auth/?action=like&commentid=<%=id%>" data-ajax-url="/components/recipe.comments/php/like.txt"></a>
  |            <span class="b-like-num"><%=likeNum%></span>
  |          </span>
  |        </div>
  |        <div class="b-rc__props__date"><%=date%></div>
  |        <div class="i-clearfix"></div>
  |      </div>
  |    </div>
  |  </div>
  |</div>

script( type="text/template" id="reply-template" )
  |<div class="b-rc__item" data-id="<%=id%>" itemscope itemtype="http://schema.org/Comment" >
  |  
  |  <div class="i-relative">
  |    <a href="#" class="b-rc__item__close b-close-icon b-close-icon__color_3" title="Закрыть"></a>
  |    <div class="b-rc__item__pointer"></div>
  |    <a href="<%=author.href%>" class="b-rc__item__author" title="<%=author.name%>" style="background-image: url('<%=author.src%>');"></a>
  |    <div class="b-rc__admin-buttons b-admin-buttons">
  |      <div class="b-admin-buttons__block">
  |        <div class="b-delete-icon" title="Удалить отзыв"></div>
  |        <div class="b-edit-icon" title="Редактировать"></div>
  |      </div>
  |    </div>
  |  </div>
  |  
  |  <div class="b-rc__item__content">
  |    <div class="b-rc__item__content__author"><a href="<%=author.href%>" itemprop="author" ><%=author.name%></a></div>
  |    
  |    <% if(image.src && image.id) { %>
  |    <div class="b-rc__item__content__text" itemprop="text" >
  |      <div class="b-rc__item__content__text__img" style="background-image: url(<%=image.src%>);" data-id="<%=image.id%>">
  |      </div>
  |      <div class="b-rc__item__content__text__content"><%=text.html%></div>
  |      <div class="i-clearfix"></div>
  |    </div>
  |    <% } else { %>
  |    <div class="b-rc__item__content__text">
  |      <%=text.html%>
  |    </div>
  |    <% } %>
  |    
  |    <div class="b-rc-edit-form">
  |      <form action="/" method="get">
  |        
  |        <div class="b-form-field b-form__text-block">
  |          <input type="hidden" value="<%=cId%>" name="cId">
  |          <input type="hidden" value="<%=rId%>" name="rId">
  |          <input type="hidden" value="e" name="a">
  |          <input id="sessid" type="hidden" value="<%=sessid%>" name="sessid">
  |          <input type="hidden" value="<%=root%>" name="root">
  |          <label class="b-form-label">Редактирование отзыва <span class="b-form-attention">?</span></label>
  |          <div class="b-textarea-wrapper"><textarea name="comment" cols="10" rows="5" class="b-textarea" required><%=text.text%></textarea></div>
  |        </div>
  |        <button class="btn btn-default" type="submit">Добавить отзыв</button>
  |        <div class="b-form-field b-form__photo-block">
  |        
  |          <% if(image.src && image.id) { %>
  |          <div class="b-admin-buttons">
  |            <div class="b-admin-buttons__block">
  |              <div class="b-delete-icon" title="Удалить фото"></div>
  |              <div class="b-image-icon" title="Загрузить новое фото">
  |                <div class="b-image-icon__input-file input_file"><input type="file" class="text" id="fileupload<%=id%>" data-ajax-url="/js/file-upload/server/php/index.php"></div>
  |                <input type="hidden" name="comment-photo" value="" class="b-image-icon__photo-url" />
  |              </div>
  |            </div>
  |          </div>
  |          <div class="b-form__photo-block__img">
  |            <img src="<%=image.src%>" height="65" alt="" class="i-align-img" data-id="<%=image.id%>" />
  |          </div>
  |          <% } else { %>
  |          <div class="input_file"><input type="file" class="text" id="fileupload<%=id%>" data-ajax-url="/js/file-upload/server/php/index.php"></div>
  |          <div class="b-form__photo-block__img"></div>
  |          <input type="hidden" name="comment-photo" value="" class="b-form__photo-block__url" />
  |          <% } %>
  |        </div>
  |        <div class="i-clearfix"></div>
  |      </form>
  |    </div>
  |    <div class="b-rc__props">
  |      <div class="b-rc__props__like">
  |        <span class="b-like">
  |          <a id="liketn_<%=id%>" title="Мне нравится" class="b-like-icon b-like-icon__type-button" href="/forms/auth/?action=like&commentid=<%=id%>" data-ajax-url="/components/recipe.comments/php/like.txt"></a>
  |          <span class="b-like-num"><%=likeNum%></span>
  |        </span>
  |      </div>
  |      <div class="b-rc__props__date"><%=date%></div>
  |      <div class="i-clearfix"></div>
  |    </div>
  |  </div>
  |</div>

script( type="text/template" id="photo-template" )
  |<div class="b-admin-buttons">
  |  <div class="b-admin-buttons__block">
  |    <div class="b-delete-icon" title="Удалить фото"></div>
  |    <div class="b-image-icon" title="Загрузить новое фото">
  |      <%
  |        id = id || "";
  |        if(type == "edit") id = "fileupload" + id;
  |        if(type == "reply") id = "fileuploadReply";
  |        if(type == "comment") id = "fileuploadComment";
  |      %>
  |      <div class="b-image-icon__input-file b-rc-<%=type%>-form__input-file input_file"><input type="file" class="text" id="<%=id%>" data-ajax-url="/js/file-upload/server/php/index.php"></div>
  |      <input type="hidden" name="comment-photo" value="<%=url%>" class="b-image-icon__photo-url" />
  |    </div>
  |  </div>
  |</div>
  |<div class="b-form__photo-block__img" style="background-image: url( '<%=url%>' );" data-id="<%=id%>"></div>

script( type="text/template" id="file-input-template" )
  |<%
  |  id = id || "";
  |  if(type == "edit") id = "fileupload" + id;
  |  if(type == "reply") id = "fileuploadReply";
  |  if(type == "comment") id = "fileuploadComment";
  |%>
  |<div class="input_file"><input type="file" class="text" id="<%=id%>" data-ajax-url="/js/file-upload/server/php/index.php"></div>
  |<div class="b-form__photo-block__img"></div>
  |<input type="hidden" name="comment-photo" value="" class="b-form__photo-block__url" />

.row

  .col-md-8.col-md-offset-2
  
    #b-comments.b-ph-block
      
      h2.b-rc__heading Отзывы о рецепте
      
      #comment
      #b-comment-form
        .b-rc__item.i-foodclub
          .b-rc__item__content
            .b-rc__item__content__text
              | Если Вы хотите оставить комментарий, Вам необходимо 
              a( href="/forms/authorization/" ) авторизоваться
              | 
              |или 
              a( href="/forms/registration/" ) зарегистрироваться
              | 
              |на сайте.
        form( action="/components/recipe.comments/php/comment.json" method="get" )
          
          .b-form-field.b-comment-form__text
            label.b-form-label Ваш отзыв
            | 
            span.b-form-attention ?
            .b-textarea-wrapper
              textarea.b-textarea( name="comment" cols="10" rows="10" required )
            input( type="hidden" name="recipe" value="12813" )
            .error_message &mdash; универсальное сообщение об ошибке!
            hr.i-size-S
            
          button.btn.btn-default( type="submit" ) Добавить отзыв
            
          .b-form-field.b-form__photo-block
            .input_file
              input#fileupload-comment.text( type="file" data-ajax-url="/js/file-upload/server/php/index.php" )
            .b-form__photo-block__img
            input.b-comment-form__photo__url( type="hidden" name="comment-photo" value="" )
          
          .i-clearfix

      .b-recipe-comments( data-sessId="fdc4e58491fab80d2aea909fc98b690b" data-edit-form-action="/components/recipe.comments/php/edit.json" data-edit-form-method="GET"  data-delete-action="/components/recipe.comments/php/delete-recipe-comment.json" data-delete-method="GET" data-delete-photo-action="/components/recipe.comments/php/delete-photo-comment.json" data-delete-photo-method="GET" data-load-action="/components/recipe.comments/php/load.html?recipeId=456" data-load-method="GET" )
        
        

// end /components/recipe.comments/