
<!-- start /components/recipes.filter/-->
<div id="filter_recipes" data-ajax-url="/json/all_recipes_result.html" class="i-link b-ph-block">
  <div class="b-ph">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="b-filter-items__wrapper">
    <div data-type="cuisine" class="item b-filter__item"><span class="b-filter__item__heading hidden-xs">Кухня:</span><span class="b-filter__item__button"><span class="hidden-xs">Все</span><span class="b-filter__icon visible-xs"><img src="/template/images/icons/kitchen-type.svg" alt=""/><img src="/template/images/icons/kitchen-type-act.svg" alt="" class="i-active"/></span></span></div>
    <div data-type="dish" class="item b-filter__item"><span class="b-filter__item__heading hidden-xs">Тип блюда:</span><span class="b-filter__item__button"><span class="hidden-xs">Все</span><span class="b-filter__icon visible-xs"><img src="/template/images/icons/dish-type.svg" alt=""/><img src="/template/images/icons/dish-type-act.svg" alt="" class="i-active"/></span></span></div>
    <div data-type="ingredient" class="item b-filter__item"><span class="b-filter__item__heading hidden-xs">Основной ингредиент:</span><span class="b-filter__item__button"><span class="hidden-xs">Все</span><span class="b-filter__icon visible-xs"><img src="/template/images/icons/ingredients.svg" alt=""/><img src="/template/images/icons/ingredients-act.svg" alt="" class="i-active"/></span></span></div>
    <div data-type="tag" class="item b-filter__item"><span class="b-filter__item__heading hidden-xs">Метка:</span><span class="b-filter__item__button"><span class="hidden-xs">Все</span><span class="b-filter__icon visible-xs"><img src="/template/images/icons/tag.svg" alt=""/><img src="/template/images/icons/tag-act.svg" alt="" class="i-active"/></span></span></div>
  </div>
  <div id="filter_lists" data-load-url="/components/recipes.filter/load.html"></div>
</div>
<!-- end /components/recipes.filter/-->