#bottom
  padding 50px 0 20px 0
  
  &.enter
    height 50px
    background none
    border none
    
  &_nav
    border-top 1px solid $light-grey
    margin-bottom 25px
    
    table
      width 100%
      
    td
      border-bottom 1px solid $light-grey
      padding 25px 0 20px 0
      
    .column1
      width 180px
      
    .column2
      width 220px

    .column3
      width 190px

    .column4
      width 210px

    h4
      font-weight bold
      margin 0 20px 10px 0
      font-size 10.5pt
      
    ul
      margin 0 20px 0 0
      padding 0
      
    li
      list-style-type none
      font-size 9pt
      padding-bottom 9px
      
      a
        text-decoration none
      
      span
        color $lighter-grey
  
#made
  float right
  color $grey
  font-size 8pt
  width 200px
  background embedurl('../img/twinpx-logo.gif') no-repeat 0 0
  padding 3px 0 0 105px
  margin 3px 0 0 0
    
#copyright
  color $grey
  font-size 9pt
  width 280px
  margin-right 50px

/*  
  .copyright
    font-size 20pt
    color $lighter-grey
    position absolute
    top -7px
    left -30px

#liveinternet
  margin-top 20px

.b-footer-social

  &__fb
    float  left
    width  450px
    margin-right  20px

  &_vk
    float  left
    width  400px
    margin-right  20px


    
blogs
  margin-bottom 25px

  .lj
    margin 0 25px 0 0
    float left

  .mail
    margin 10px 25px 0 0
    float left

  .twitter
    margin 10px 25px 0 0
    float left

  .facebook
    margin 3px 91px 0 0
    float left
      
  .nav
    margin 10px 25px 0 0
    float left
    
    .separator
      margin 0 7px
      color $grey
      
#copyright_block
  border-top 1px solid $lighter-grey
  padding 20px 0 40px 0
    
#vkontakte_widget
  margin8px 0
  
#tags
  color $grey
  font-size 9pt
  float left
  display inline
  width 300px
  margin-right 55px
  
  a
    font-size 9pt
    color #cc9999
    white-space nowrap
    
*/