.b-header
  background $header-bg
  height 60px
  
  a
    &,
    &:hover
      color #fff
      
  &__logo
    float left
    padding-top 20px
    margin-left 20px
      
  &__nav
    margin 0 150px
    padding-top 22px
    text-align center
    
    a
      ib()
      height 16px
      line-height 16px
      margin 0 17px
      
      &.i-active
        color #e2f50b
        font-weight bold
      
  &-helper
    ib()
    background embedurl( 'img/helper.png' ) no-repeat 0 0
    width 16px
    height 16px
      
  &-search
    ib()
    background embedurl( 'img/search.png' ) no-repeat 0 0
    width 16px
    height 16px
    
  &__buttons
    float right
    width 150px
    padding-top 15px
    margin-right 27px
    
  &__add-button
    width 96px
    float right
      
  &__profile-button
    padding 0
    width 30px
    height 30px
    rel()
    float right
    margin-left 14px
    
    &:after
      content ' '
      display block
      position absolute
      bottom 2px
      right 2px
      margin-left -2px
      width 5px
      height 5px
      background embedurl( 'img/profile-pointer.gif' ) no-repeat 0 0
      z-index 5
    
  &__profile
    rel()
    
    &-list
      display none
      position absolute
      top 38px
      right -7px
      background #3c3c3c
      padding 18px 20px
      margin 0
      border-radius( 3px )
      list-style-type none
      box-sizing( border-box )
      width 200px
      
      .open &
        display block
      
      li
        height 30px
        
      a,
      span
        line-height 30px
        font-size 9pt
        padding-left 40px
        
      a:hover,        
      span
        color #bdbdbd
        
      for icon in 'profile' 'favorite' 'recipes' 'articles' 'subscribe' 'kitchen'
        .i-{icon}
          background embedurl( 'img/'+icon+'.png' ) no-repeat 5px center