#head
 margin-top 30px

 .enter 
  margin-top 0px
  padding-top 66px
  
#logo 
  float left
  padding 0 56px 0 0
  
  img 
    float left
    display inline
    margin-right 22px
    
  h1,
  strong 
    float left
    margin 34px 0 0 0
    font-weight normal
    font-size 9pt
    font-style italic
    font-family $georgia
    color #666666
    width 90px

#iphone_link 
  float left
  width 200px
  margin-top -1px
  
  .pic 
    width 93px
    height 113px
    background embedurl( 'img/iphone.png' ) no-repeat 0 0
    float left
    
  a 
    display block
    font-size 8pt
    margin 31px 0 0 7px
    float left
    width 100px
    text-decoration none