.b-search-result__result-block( data-page="2" )
  .row
    .col-md-3.col-sm-4
      .b-recipe-thumb
        a.b-recipe-thumb__photo(href='', style="background-image: url('/upload/recipe-preview/blocks/5.jpg');")
          img(src='data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7')
        .col-sm-10.center-block.text-center
          .b-recipe-thumb__name
            a(href='') Салат нисуаз
          .b-recipe-thumb__time
            b 1 час
          .b-recipe-thumb__servings
            | Порций: 
            b 4
          .b-recipe-thumb__nutrition
            b 510 кКал на порцию
    .col-md-3.col-sm-4
      .b-recipe-thumb
        a.b-recipe-thumb__photo(href='', style="background-image: url('/upload/recipe-preview/blocks/5.jpg');")
          img(src='data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7')
        .col-sm-10.center-block.text-center
          .b-recipe-thumb__name
            a(href='') Салат нисуаз
          .b-recipe-thumb__time
            b 1 час
          .b-recipe-thumb__servings
            | Порций: 
            b 4
          .b-recipe-thumb__nutrition
            b 510 кКал на порцию
    .col-md-3.col-sm-4
      .b-recipe-thumb
        a.b-recipe-thumb__photo(href='', style="background-image: url('/upload/recipe-preview/blocks/5.jpg');")
          img(src='data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7')
        .col-sm-10.center-block.text-center
          .b-recipe-thumb__name
            a(href='') Салат нисуаз
          .b-recipe-thumb__time
            b 1 час
          .b-recipe-thumb__servings
            | Порций: 
            b 4
          .b-recipe-thumb__nutrition
            b 510 кКал на порцию
    .col-md-3.col-sm-4
      .b-recipe-thumb
        a.b-recipe-thumb__photo(href='', style="background-image: url('/upload/recipe-preview/blocks/5.jpg');")
          img(src='data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7')
        .col-sm-10.center-block.text-center
          .b-recipe-thumb__name
            a(href='') Салат нисуаз
          .b-recipe-thumb__time
            b 1 час
          .b-recipe-thumb__servings
            | Порций: 
            b 4
          .b-recipe-thumb__nutrition
            b 510 кКал на порцию
  hr.i-size-XL
  .row
    .col-md-3.col-sm-4
      .b-recipe-thumb
        a.b-recipe-thumb__photo(href='', style="background-image: url('/upload/recipe-preview/blocks/5.jpg');")
          img(src='data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7')
        .col-sm-10.center-block.text-center
          .b-recipe-thumb__name
            a(href='') Салат нисуаз
          .b-recipe-thumb__time
            b 1 час
          .b-recipe-thumb__servings
            | Порций: 
            b 4
          .b-recipe-thumb__nutrition
            b 510 кКал на порцию
    .col-md-3.col-sm-4
      .b-recipe-thumb
        a.b-recipe-thumb__photo(href='', style="background-image: url('/upload/recipe-preview/blocks/5.jpg');")
          img(src='data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7')
        .col-sm-10.center-block.text-center
          .b-recipe-thumb__name
            a(href='') Салат нисуаз
          .b-recipe-thumb__time
            b 1 час
          .b-recipe-thumb__servings
            | Порций: 
            b 4
          .b-recipe-thumb__nutrition
            b 510 кКал на порцию
    .col-md-3.col-sm-4
      .b-recipe-thumb
        a.b-recipe-thumb__photo(href='', style="background-image: url('/upload/recipe-preview/blocks/5.jpg');")
          img(src='data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7')
        .col-sm-10.center-block.text-center
          .b-recipe-thumb__name
            a(href='') Салат нисуаз
          .b-recipe-thumb__time
            b 1 час
          .b-recipe-thumb__servings
            | Порций: 
            b 4
          .b-recipe-thumb__nutrition
            b 510 кКал на порцию
    .col-md-3.col-sm-4
      .b-recipe-thumb
        a.b-recipe-thumb__photo(href='', style="background-image: url('/upload/recipe-preview/blocks/5.jpg');")
          img(src='data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7')
        .col-sm-10.center-block.text-center
          .b-recipe-thumb__name
            a(href='') Салат нисуаз
          .b-recipe-thumb__time
            b 1 час
          .b-recipe-thumb__servings
            | Порций: 
            b 4
          .b-recipe-thumb__nutrition
            b 510 кКал на порцию
            
  hr.i-size-XL
  
  .b-search-result__button
    a.btn.btn-default.btn-gray.b-search-result__more( href="/components/search.result/result.html?page=3" ) Показать ещё
    img( src="/images/preloader.gif" width="281" height="52" alt="" ) 
    hr.i-size-XL
