.b-search-result__result-block( data-page="2" )
  include ../../modules/recipe-thumb/recipe-thumb.jade
  include ../../modules/recipe-thumb/recipe-thumb.jade
  
  .b-search-result__button
    a.btn.btn-default.btn-gray.b-search-result__more( href="/components/search.result/result.html?page=3" ) Показать ещё
    img( src="/images/preloader.gif" width="281" height="52" alt="" ) 
    hr.i-size-XL
