
<link rel="stylesheet" href="/components/last-comments/style.css"/>
<script src="/components/last-comments/script.js"></script>
<div class="b-last-comments__wrapper">
  <div class="b-last-comments__item">
    <div style="background-image: url( '/upload/user/mariha_kitchen.jpg' );" class="b-last-comments__userpic"></div>
    <div class="b-last-comments__content">
      <div class="b-last-comments__author">Дарья Самойлова</div>
      <div class="b-last-comments__text">1 Так как пряников получается довольно много, я обычно храню их в холодильнике в герметическом контейнере, таким образом срок хранения примерно 2 недели. Если же приготовить их без маслянной начинки лишь с повидлом, то можно хранить и того дольше.....</div>
      <div class="b-last-comments__info"><a href="/recipes/recipe/">Рецепт: Пряники по-швейцарски</a></div>
    </div>
  </div>
  <div class="b-last-comments__item">
    <div style="background-image: url( '/upload/user/mariha_kitchen.jpg' );" class="b-last-comments__userpic"></div>
    <div class="b-last-comments__content">
      <div class="b-last-comments__author">Мария Савельева</div>
      <div class="b-last-comments__text">2 Так как пряников получается довольно много, я обычно храню их в холодильнике в герметическом контейнере, таким образом срок хранения примерно 2 недели. Если же приготовить их без маслянной начинки лишь с повидлом, то можно хранить и того дольше.....</div>
      <div class="b-last-comments__info"><a href="/recipes/recipe/">Рецепт: Пряники по-швейцарски</a></div>
    </div>
  </div>
  <div class="b-last-comments__item">
    <div style="background-image: url( '/upload/user/mariha_kitchen.jpg' );" class="b-last-comments__userpic"></div>
    <div class="b-last-comments__content">
      <div class="b-last-comments__author">Родион Путасов</div>
      <div class="b-last-comments__text">3 Так как пряников получается довольно много, я обычно храню их в холодильнике в герметическом контейнере, таким образом срок хранения примерно 2 недели. Если же приготовить их без маслянной начинки лишь с повидлом, то можно хранить и того дольше.....</div>
      <div class="b-last-comments__info"><a href="/recipes/recipe/">Рецепт: Пряники по-швейцарски</a></div>
    </div>
  </div>
  <div class="b-last-comments__item">
    <div style="background-image: url( '/upload/user/mariha_kitchen.jpg' );" class="b-last-comments__userpic"></div>
    <div class="b-last-comments__content">
      <div class="b-last-comments__author">Клавдия Мироненко</div>
      <div class="b-last-comments__text">4 Так как пряников получается довольно много, я обычно храню их в холодильнике в герметическом контейнере, таким образом срок хранения примерно 2 недели. Если же приготовить их без маслянной начинки лишь с повидлом, то можно хранить и того дольше.....</div>
      <div class="b-last-comments__info"><a href="/recipes/recipe/">Рецепт: Пряники по-швейцарски</a></div>
    </div>
  </div>
  <div class="b-last-comments__item">
    <div style="background-image: url( '/upload/user/mariha_kitchen.jpg' );" class="b-last-comments__userpic"></div>
    <div class="b-last-comments__content">
      <div class="b-last-comments__author">Лучший повар</div>
      <div class="b-last-comments__text">5 Так как пряников получается довольно много, я обычно храню их в холодильнике в герметическом контейнере, таким образом срок хранения примерно 2 недели. Если же приготовить их без маслянной начинки лишь с повидлом, то можно хранить и того дольше.....</div>
      <div class="b-last-comments__info"><a href="/recipes/recipe/">Рецепт: Пряники по-швейцарски</a></div>
    </div>
  </div>
</div>