.b-social-buttons
  
  span.b-social-buttons__i.i-vk
    a( data-url="/php/social.php?url=http://www.foodclub.ru/detail/78391/&desc=Если вы желаете красиво и необычно преподать картофель как гарнир, то можно сделать его так.&img=http://www.foodclub.ru/upload/iblock/d96/d96ce3c9d73e6573e711809f740b67b8.jpg&tit=Картофель веером&ajax=1&who=VK&clear_cache=Y" onclick="window.open(this.href, '', 'width=540,height=450');return false;" target="_blank" href="http://vk.com/share.php?url=http://www.foodclub.ru/detail/78391/&image=http://www.foodclub.ru/upload/iblock/d96/d96ce3c9d73e6573e711809f740b67b8.jpg" ).b-social-buttons__i__icon
    span.b-social-buttons__i__num +1
  
  span.b-social-buttons__i.i-fb
    a( data-url="/php/social.php?url=http://www.foodclub.ru/detail/78391/&desc=Если вы желаете красиво и необычно преподать картофель как гарнир, то можно сделать его так.&img=http://www.foodclub.ru/upload/iblock/d96/d96ce3c9d73e6573e711809f740b67b8.jpg&tit=Картофель веером&ajax=1&who=FB&clear_cache=Y" onclick="window.open(this.href, '', 'width=540,height=450');return false;" target="_blank" href="http://www.facebook.com/sharer.php?t=Картофель веером&src=sp&u=http://www.foodclub.ru/detail/78391/").b-social-buttons__i__icon
    span.b-social-buttons__i__num 5504
  
  span.b-social-buttons__i.i-tw
    a( data-url="/php/social.php?url=http://www.foodclub.ru/detail/78391/&desc=Если вы желаете красиво и необычно преподать картофель как гарнир, то можно сделать его так.&img=http://www.foodclub.ru/upload/iblock/d96/d96ce3c9d73e6573e711809f740b67b8.jpg&tit=Картофель веером&ajax=1&who=FB&clear_cache=Y" onclick="window.open(this.href, '', 'width=540,height=450');return false;" target="_blank" href="http://www.facebook.com/sharer.php?t=Картофель веером&src=sp&u=http://www.foodclub.ru/detail/78391/").b-social-buttons__i__icon
    span.b-social-buttons__i__num 32355