.b-social-buttons__item.b-ya-share
  
  script( src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" )
  script( src="//yastatic.net/share2/share.js" )
  .ya-share2( data-services="vkontakte,facebook" data-counter="" )