
<!-- start /components/aside.rom/-->
<link rel="stylesheet" href="/components/aside.rom/style.css"/>
<script src="/components/aside.rom/script.js"></script>
<div class="b-aside-rom">
  <div class="b-h2">Рецепт месяца</div>
  <div class="b-h4">Февраль</div><a href="" class="b-aside-rom__photo"><img src="/upload/recipe-preview/aside-rom.jpg" alt="Рецепт месяца - блинчики с вареньем"/></a>
  <hr class="i-size-M"/>
  <div class="b-author"><a href="/profile/" class="b-author__pic"><img src="/upload/user/ca-ira.jpg" alt="Мария Савельева"/></a><a href="/profile/" class="b-author__name">Мария Савельева</a></div>
  <hr class="i-size-L i-decorated"/>
  <div class="b-h3">Приз победителю</div><img src="/upload/kitchen/1.jpg" alt="Мультиварка POLARIS"/>
  <hr/>
  <div class="b-h4">Мультиварка POLARIS</div>
  <div class="b-aside-rom__note">Чтобы получить главный приз: добавьте рецепт, сообщите своим друзьям и следите за результатами.</div>
  <hr class="i-size-M"/><a href="/recipe-of-month/" class="btn btn-default">Участвовать</a>
</div>
<!-- end /components/aside.rom/-->