.b-error-message
  .b-error-message__pointer
    .b-error-message__pointer__div
  | Универсальное сообщение об ошибке.<br>
  | Универсальное сообщение об ошибке. Неверный email<br>
  | Универсальное сообщение об ошибке. Заполните поле имя<br>
  | Универсальное сообщение об ошибке.<br>
  | Может быть в несколько строчек.