// start /components/journal/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'journal'
else
  - var componentsArray = [ 'journal' ]

.b-journal

  h2 Похожие материалы test
  
  .b-journal__feed
    
    .row
      .col-sm-6
      
        include ./include/item
        
      hr.i-size-L.visible-xs-block
        
      .col-sm-6
      
        include ./include/item-ext

// end /components/journal/