// start /components/journal/

link( rel="stylesheet", href="/components/journal/style.css" )
script( src="/components/journal/script.js" )

.b-journal
  
  .b-journal__heading( style="background-image: url(/upload/journal/heading.jpg);" )
    h1 Журнал Foodclub.ru
    
  include ../../modules/content-nav/journal
  
  .row
    .col-sm-8
      h2 Свежие публикации
      
      .b-journal__feed
      
        .b-journal__item.i-size-L
        
          .b-journal__item-head
          
            .b-journal__item-head-bg
              a( href="/journal/item/" style="background-image: url(/upload/journal/item-large.jpg);" )
              
            .b-journal__item-head-text
              h3
                a( href="/journal/item/" ) Дайджест
              
              a( href="/journal/item/" )
                img( src="/upload/user/ca-ira.jpg" )
                br
                | Виктория Фильберт 
      
          h4 Новогодние десерты! Дайджест по рецептам кулинарной блогосферы
          p Несмотря на то что до праздника еще далеко, уже сейчас можно начинать планировать новогоднее меню. Десерты – это та часть праздничного стола, которую любят не только дети, но и взрослые. Необязательно нужно готовить сложные торты и пирожные, ведь есть множество других лакомств, которые создадут нужную праздничную обстановку. Посмотрим, какие сладости предлагают приготовить пользователи ЖЖ.
          a( href="" ) Читайте далее...
          
          .b-date 3 марта 2015 16:21:04
      
        .row
          .col-sm-6
          
            .b-journal__item
        
              .b-journal__item-head
              
                .b-journal__item-head-bg
                  a( href="/journal/item/" style="background-image: url(/upload/journal/item.jpg);" )
                  
                .b-journal__item-head-text
                  h3
                    a( href="/journal/item/" ) foodclub
              
                  a( href="/journal/item/" )
                    img( src="/upload/user/ca-ira.jpg" )
                    br
                    | Виктория Фильберт 
                h4 Что приготовить на 8 марта? Дайджест публикаций из блогов
                p Несмотря на то что до праздника еще далеко, уже сейчас можно начинать планировать новогоднее меню. Десерты – это та часть праздничного стола, которую любят не только дети, но и взрослые. Необязательно нужно готовить сложные торты и пирожные, ведь есть множество других лакомств, которые создадут нужную праздничную обстановку. Посмотрим, какие сладости предлагают приготовить пользователи ЖЖ.
                a( href="" ) Читайте далее...
                
                .b-date 3 марта 2015 16:21:04
            
          .col-sm-6.b-journal__item
        
              .b-journal__item-head
              
                .b-journal__item-head-bg
                  a( href="/journal/item/" style="background-image: url(/upload/journal/item.jpg);" )
                  
                .b-journal__item-head-text
                  h3
                    a( href="/journal/item/" ) foodclub
              
                  a( href="/journal/item/" )
                    img( src="/upload/user/ca-ira.jpg" )
                    br
                    | Виктория Фильберт 
                h4 Новогодние десерты! Дайджест по рецептам кулинарной блогосферы
                p Несмотря на то что до праздника еще далеко, уже сейчас можно начинать планировать новогоднее меню. Десерты – это та часть праздничного стола, которую любят не только дети, но и взрослые. Необязательно нужно готовить сложные торты и пирожные, ведь есть множество других лакомств, которые создадут нужную праздничную обстановку. Посмотрим, какие сладости предлагают приготовить пользователи ЖЖ.
                a( href="" ) Читайте далее...
                
                .b-date 3 марта 2015 16:21:04
          
      | Реклама на Foodclub.ru
      
      h2 Лавка
      p Лавка предлагает вам товары связанные с приготовлением пиши и продукты питания представленные интернет-магазинами. У вас есть собственный интернет-магазин и товары, которые могут пригодиться нашим пользователям, разместите их в разделе лавка.
      
      a( href="" ) Все публикации
    
    .col-sm-4

// end /components/journal/