// start /components/journal/

//- push style and script file to the end of the page
if componentsArray
  - componentsArray[ componentsArray.length ] = 'journal'
else
  - var componentsArray = [ 'journal' ]

.b-journal

  h2 Свежие публикации
  
  .b-journal__feed
  
    include ./include/item-large
    
    hr.i-size-L
    
    .row
      .col-sm-6
      
        include ./include/item
        
      hr.i-size-L.visible-xs-block
        
      .col-sm-6
      
        include ./include/item
        
    hr.i-size-L
        
    include ../../modules/content-banner/include
    
    hr.i-size-L.hidden-xs
    
    .row
      .col-sm-6
      
        include ./include/item
        
      hr.i-size-L.visible-xs-block
      
      .col-sm-6
      
        include ./include/item-ext
        
    hr.i-size-L
  
    h2 Лавка
    p Лавка предлагает вам товары связанные с приготовлением пиши и продукты питания представленные интернет-магазинами. У вас есть собственный интернет-магазин и товары, которые могут пригодиться нашим пользователям, разместите их в разделе лавка.
    
    hr.i-size-L
    
    .row
      .col-sm-6
      
        include ./include/item
        
      hr.i-size-L.visible-xs-block
        
      .col-sm-6
      
        include ./include/item-ext
        
    hr.i-size-XL.i-decorated
  
    .text-center
      a( href="" ) Все публикации

// end /components/journal/