// start /components/header/

//- push style and script file to the end of the page
block components-array
  if componentsArray
    - componentsArray[ componentsArray.length ] = 'header'
  else
    - var componentsArray = [ 'header' ]

header.b-header-panel.b-ph-block
  .b-ph
  .b-ph-content
    #header-content__deferred
  
//- see header content in the content.jade file

// end /components/header/