// start /components/header/

link( rel="stylesheet", href="/components/header/style.css" )
script( src="/components/header/script.js" )

header.b-header-panel

  .container
  
    .b-header-panel__wrapper
  
      a.b-header-panel__logo( href="/" )
        img( src="/template/images/logo-foodclub.svg" alt="Foodclub" )
        
      .b-header-panel__menu
        a( href="/recipes/" ) Рецепты
        a( href="/foodshot/" ) Фудшоты
        a( href="/journal/" ) Журнал

// end /components/header/