block vars
  - var page = 'blocks-yt-links'
  - var authorized = false

extends ../../layouts/header.jade

block title
  title Recipes | food

block content
    
  .container
  
    hr
          
    include ../../components/yt-links/template

    hr
    hr