@import '../../styl/component-include.styl'

.collection_block
  border 1px solid $light-grey
  margin-top 30px
  padding 0 16px
  
  h2
    margin -15px 0 20px 0
    text-align center
    font-size 14pt
    font-style italic
    color $middle-grey
    
    span
      display inline-block
      background #ffffff
      padding 0 7px
      font-size 14pt
      
  .block
    margin 0 -5px 20px 0
    
    h3
      color $dark-grey
      font-family $heading-font
      font-size $base-size
      margin 0 0 15px 0