#filter-list-cuisine
  .pad
    table
      tbody
        tr
          td
            a(href='#', data-id='42') Австралийская кухня
          td
            a(href='#', data-id='54') Грузинская кухня
          td
            a(href='#', data-id='68') Ливанская кухня
          td
            a(href='#', data-id='78') Турецкая кухня
        tr
          td
            a(href='#', data-id='43') Австрийская кухня
          td
            a(href='#', data-id='55') Датская кухня
          td
            a(href='#', data-id='11119') Малышам
          td
            a(href='#', data-id='79') Узбекская кухня
        tr
          td
            a(href='#', data-id='44') Американская кухня
          td
            a(href='#', data-id='117') Домашние рецепты
          td
            a(href='#', data-id='70') Марокканская кухня
          td
            a(href='#', data-id='80') Украинская кухня
        tr
          td
            a(href='#', data-id='45') Английская кухня
          td
            a(href='#', data-id='56') Еврейская кухня
          td
            a(href='#', data-id='71') Мексиканская кухня
          td
            a(href='#', data-id='82') Французская кухня
        tr
          td
            a(href='#', data-id='46') Армянская кухня
          td
            a(href='#', data-id='59') Индийская кухня
          td
            a(href='#', data-id='9159') Молдавская кухня
          td
            a(href='#', data-id='83') Чешская кухня
        tr
          td
            a(href='#', data-id='47') Белорусская кухня
          td
            a(href='#', data-id='60') Индонезийская кухня
          td
            a(href='#', data-id='72') Немецкая кухня
          td
            a(href='#', data-id='8022') Шведская кухня
        tr
          td
            a(href='#', data-id='49') Болгарская кухня
          td
            a(href='#', data-id='61') Испанская кухня
          td
            a(href='#', data-id='73') Польская кухня
          td
            a(href='#', data-id='1286') Шотландская кухня
        tr
          td
            a(href='#', data-id='50') Бразильская кухня
          td
            a(href='#', data-id='62') Итальянская кухня
          td
            a(href='#', data-id='74') Португальская кухня
          td
            a(href='#', data-id='86') Ямайская кухня
        tr
          td
            a(href='#', data-id='51') Венгерская кухня
          td
            a(href='#', data-id='64') Китайская кухня
          td
            a(href='#', data-id='76') Русская кухня
          td
            a(href='#', data-id='87') Японская кухня
        tr
          td
            a(href='#', data-id='53') Греческая кухня
          td
            a(href='#', data-id='66') Кубинская кухня
          td
            a(href='#', data-id='77') Тайская кухня
          td
            span
          
#filter-list-dish
  .pad
    table
      tbody
        tr
          td
            a(href='#', data-id='29') Блины, блинчики, оладьи
          td
            a(href='#', data-id='35') Запеканки
          td
            a(href='#', data-id='36') Пироги и пирожки
          td
            a(href='#', data-id='1') Супы
        tr
          td
            a(href='#', data-id='6242') Блюда из грибов
          td
            a(href='#', data-id='99') Каши
          td
            a(href='#', data-id='102') Пицца
          td
            a(href='#', data-id='40') Суши, сашими
        tr
          td
            a(href='#', data-id='6241') Блюда из яиц
          td
            a(href='#', data-id='4013') Котлеты
          td
            a(href='#', data-id='2317') Птица
          td
            a(href='#', data-id='1625') Сырники
        tr
          td
            a(href='#', data-id='3070') Варенье и цукаты
          td
            a(href='#', data-id='104') Мясо
          td
            a(href='#', data-id='1626') Рис
          td
            a(href='#', data-id='2318') Торты
        tr
          td
            a(href='#', data-id='940') Выпечка
          td
            a(href='#', data-id='34') Напитки
          td
            a(href='#', data-id='105') Рыба и морепродукты
          td
            a(href='#', data-id='4066') Хлеб
        tr
          td
            a(href='#', data-id='4524') Гарниры
          td
            a(href='#', data-id='8569') Овощи
          td
            a(href='#', data-id='38') Салаты
          td
            a(href='#', data-id='96') Холодцы и заливное
        tr
          td
            a(href='#', data-id='3') Десерты
          td
            a(href='#', data-id='27') Паста
          td
            a(href='#', data-id='6715') Сладкие пироги
          td
            a(href='#', data-id='95') Шашлыки
        tr
          td
            a(href='#', data-id='4') Закуски
          td
            a(href='#', data-id='92') Пельмени, вареники
          td
            a(href='#', data-id='41') Соусы
          td
            span
            
#filter-list-ingredient
  .pad
    table
      tbody
        tr
          td
            a(href='#', data-id='10999') Алкоголь
          td
            a(href='#', data-id='10986') Молоко и кисломолочные продукты
          td
            a(href='#', data-id='10983') Рыба и морепродукты
          td
            a(href='#', data-id='10998') Чай, кофе
        tr
          td
            a(href='#', data-id='10992') Бобовые
          td
            a(href='#', data-id='10993') Мука
          td
            a(href='#', data-id='11000') Сахар
          td
            a(href='#', data-id='11001') Шоколад
        tr
          td
            a(href='#', data-id='10990') Грибы
          td
            a(href='#', data-id='11164') Мясо
          td
            a(href='#', data-id='10997') Соки
          td
            a(href='#', data-id='10989') Ягоды
        tr
          td
            a(href='#', data-id='10995') Крупы
          td
            a(href='#', data-id='10987') Овощи
          td
            a(href='#', data-id='10984') Субпродукты
          td
            a(href='#', data-id='10985') Яйца
        tr
          td
            a(href='#', data-id='10994') Макаронные изделия
          td
            a(href='#', data-id='10991') Орехи и сухофрукты
          td
            a(href='#', data-id='32701') Сыр
          td
            span
        tr
          td
            a(href='#', data-id='10996') Масла и жиры
          td
            a(href='#', data-id='10982') Птица
          td
            a(href='#', data-id='10988') Фрукты
          td
            span
          
#filter-list-tag
  .pad
    table
      tbody
        tr
          td
            a(href='#', data-id='42') праздники
          td
            a(href='#', data-id='44') на гарнир
          td
            a(href='#', data-id='46') вегетарианские
          td
            span
        tr
          td
            a(href='#', data-id='43') к чаю
          td
            a(href='#', data-id='45') диетические
          td
            span
          td
            span