@import '../../styl/component-include.styl'

#filter_recipes
  min-height 25px
  
.b-filter-items__wrapper,
#filter_lists
  display none
  
#fc_statistics
  text-align center
  margin 0 0 20px
  font-family $pt-sans
  font-weight bold
  font-size 12pt
  