nav.b-h1-tags.b-ph-block
  a( href="" ) Семейный ужин
  a( href="" ) Пироги
  a( href="" ) Низкоуглеводные блюда
  a( href="" ) Простые рецепты
  a( href="" ) Холостяку
  a( href="" ) День святого Валентина
  a( href="" ) Вегетарианское
