.col-sm-6.b-recipe-thumb

  .b-recipe-thumb__photo
    a( href="/recipe/" title="Фета, запеченная с помидорами и паприкой" style="background-image: url( 'http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg' )" )
    
  h4  
    a( href="/recipe/" ) Фета, запеченная с помидорами и паприкой
    
  p.b-recipe-thumb__author От: irina_ctc
  p.b-recipe-thumb__info
    span.comments_icon( title="Оставить отзыв" )
      noindex
        a( href="/recipe/#comments" ) 12
        
hr.i-size-L.visible-xs-block

.col-sm-6.b-recipe-thumb

  .b-recipe-thumb__photo
    a( href="/recipe/" title="Фета, запеченная с помидорами и паприкой" style="background-image: url( 'http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg' )" )
    
  h4  
    a( href="/recipe/" ) Фета, запеченная с помидорами и паприкой
    
  p.b-recipe-thumb__author От: irina_ctc
  p.b-recipe-thumb__info
    span.comments_icon( title="Оставить отзыв" )
      noindex
        a( href="/recipe/#comments" ) 12
        
hr.i-size-L.i-clearfix