.b-recipe-idea
  
  h3 Рецепты для завтраков
  hr
  
  .row
    .col-sm-4
      .b-recipe-thumb
        a.b-recipe-thumb__photo( href="" style="background-image: url('/upload/recipe-preview/blocks/5.jpg');" )
          img( src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7" )
          
        hr.i-size-S
        a( href="" ).col-sm-10.center-block
          b Яичница в корзиночках из бекона
        
    hr.visible-xs-block
      
    .col-sm-4
      .b-recipe-thumb
        a.b-recipe-thumb__photo( href="" style="background-image: url('/upload/recipe-preview/blocks/5.jpg');" )
          img( src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7" )
          
        hr.i-size-S
        a( href="" ).col-sm-10.center-block
          b Яичница в корзиночках из бекона
        
    hr.visible-xs-block
      
    .col-sm-4
      .b-recipe-thumb
        a.b-recipe-thumb__photo( href="" style="background-image: url('/upload/recipe-preview/blocks/5.jpg');" )
          img( src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7" )
          
        hr.i-size-S
        a( href="" ).col-sm-10.center-block
          b Яичница в корзиночках из бекона

  hr.i-size-L.hidden-xs
  hr.visible-xs-block
  
  .row
    .col-sm-4
      .b-recipe-thumb
        a.b-recipe-thumb__photo( href="" style="background-image: url('/upload/recipe-preview/blocks/5.jpg');" )
          img( src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7" )
          
        hr.i-size-S
        a( href="" ).col-sm-10.center-block
          b Яичница в корзиночках из бекона
        
    hr.visible-xs-block
      
    .col-sm-4
      .b-recipe-thumb
        a.b-recipe-thumb__photo( href="" style="background-image: url('/upload/recipe-preview/blocks/5.jpg');" )
          img( src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7" )
          
        hr.i-size-S
        a( href="" ).col-sm-10.center-block
          b Яичница в корзиночках из бекона
        
    hr.visible-xs-block
      
    .col-sm-4
      .b-recipe-thumb
        a.b-recipe-thumb__photo( href="" style="background-image: url('/upload/recipe-preview/blocks/5.jpg');" )
          img( src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7" )
          
        hr.i-size-S
        a( href="" ).col-sm-10.center-block
          b Яичница в корзиночках из бекона