.b-recipe-thumb
  a.b-recipe-thumb__photo( href="" data-original="/upload/recipe-preview/blocks/5.jpg" )
    img( src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7" )
  
  .text-center
    .b-recipe-thumb__name
      a( href="" ) Салат нисуаз
      b <nobr>1 час 15 минут</nobr>, <nobr>4 порции</nobr>, <nobr>510 кКал на порцию</nobr>