.b-recipe-thumb
  //-a.b-recipe-thumb__author
      img( src="/upload/user/small_photo.jpg" alt="Vasilisa" )
  a.b-recipe-thumb__photo( href="" style="background-image: url('/upload/recipe-preview/blocks/5.jpg');" )
    img( src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7" )
  
  .col-sm-10.center-block.text-center
    .b-recipe-thumb__text <b>Журнал</b>
    .b-recipe-thumb__name
      a( href="" ) Идеальные авокадо без косточек
    .b-recipe-thumb__time Время чтения: <b>10 минут</b>