.b-recipe-thumb
  a.b-recipe-thumb__marker
  a.b-recipe-thumb__photo( href="" style="background-image: url('/upload/recipe-preview/blocks/5.jpg');" )
    img( src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7" )
  
  hr
  
  .col-sm-10.center-block.text-center
    h2
      a( href="" ) Фаршированная свинина
    p
      .b-recipe-thumb__time Время приготовления: <b>1 час</b>
      .b-recipe-thumb__servings Порций: <b>4</b>
      .b-recipe-thumb__nutrition Калорийность: <b>510 кКал на порцию</b>