.b-recipes-list__item.b-recipe-preview
  .i-relative
    a.b-favorite-button.i-remove-favorite(href='', title='Удалить из избранного')
      span.b-favorite-button__text Удалить
  .b-recipe-preview__photo
    a.b-recipe-preview__photo__link( href="/recipe/" title="Фета, запеченная с помидорами и паприкой" )
      img.b-recipe-preview__photo__image( src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" )
  .b-recipe-preview__heading.b-h5 
    a.b-recipe-preview__heading__link( href="/recipe/" ) Фета, запеченная с помидорами и паприкой
  .b-recipe-preview__author От: irina_ctc
  .b-recipe-preview__info
    noindex
      a.b-recipe-preview__comments.b-comments-preview( href="" title="Оставить отзыв" )
        span.b-comments-preview__icon
        span.b-comments-preview__num 12