.item.recipe_list_item
  .photo
    a( href="/recipe/" title="Фета, запеченная с помидорами и паприкой" )
      img( src="http://www.foodclub.ru/upload/iblock/391/0_4274c_e7cf5d53_orig.jpg" width="170" alt="Фета, запеченная с помидорами и паприкой" )
  h5  
    a( href="/recipe/" ) Фета, запеченная с помидорами и паприкой
  p.author От: irina_ctc
  p.info
    span.comments_icon( title="Оставить отзыв" )
      noindex
        a( href="/recipe/#comments" ) 12