.row
  .col-sm-4
    include include.jade
    
  hr.visible-xs-block
    
  .col-sm-4
    include include.jade
      
  hr.visible-xs-block
    
  .col-sm-4
    include include.jade

hr.i-size-L.hidden-xs
hr.visible-xs-block