// start /components/lavka/

link( rel="stylesheet", href="/components/lavka/style.css" )
script( src="/components/lavka/script.js" )

.b-collection-block.b-store-block.b-store-block__type_aside
  .b-collection-block__heading
    span.b-collection-block__heading__content Лавка
  noindex
    .b-store-block__content
      .b-store-block__item
        .b-store-block__item__logo
          a(href='', target='_blank')
            img(src='/upload/store-block/logo.gif', height='30', alt='')
        .b-store-block__item__photo
          a.b-store-block__item__photo__link(href='', target='_blank')
            img(src='/upload/store-block/photo.jpg', width='90', height='130', alt='Гриль Bar-B-Kettle')
        .b-store-block__item__title
          a(href='', target='_blank') Гриль Bar-B-Kettle
        .b-store-block__item__price.b-price
          span.b-price__num
            span.b-price__num__int 5 346
            span.b-price__num__fract .60
          span.b-price__unit руб.
        .b-store-block__item__button
          a.b-button.b-button__size_M(href='', target='_blank') Купить
      .b-store-block__item
        .b-store-block__item__logo
          a(href='', target='_blank')
            img(src='/upload/store-block/logo.gif', height='30', alt='')
        .b-store-block__item__photo
          a.b-store-block__item__photo__link(href='', target='_blank')
            img(2='', 7='', src='http://zhelezoiogon.ru/components/com_virtuemart/show_image_in_imgtag.php?filename=resized%2F_________________4eebaf5590b16_185x214.jpg&newxsize=185&newysize=214&fileout=', width='180', alt='ёмкости для соуса шт. мл')
        .b-store-block__item__title
          a(href='', target='_blank') "Голова льва", ёмкости для соуса, 2 шт., 7 мл, фарфор
        .b-store-block__item__price.b-price
          span.b-price__num
            span.b-price__num__int 300
          span.b-price__unit руб.
        .b-store-block__item__button
          a.b-button.b-button__size_M(href='', target='_blank') Купить

// end /components/lavka/