#titleSearchIndexResult.title-search-result(style='top: 314px; display: block; position: absolute; left: 382px; width: 1140px;')
  table.title-search-result-indexpage
    tbody
      tr
        th.title-search-separator  
        td.title-search-separator  
      tr
        th  Рецепты
        td.title-search-item
          a(href='/detail/pikantnaya-tsvetnaya-kapusta/')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            b Пи
            | кантная цветная капуста
      tr
        th  
        td.title-search-item
          a(href='/detail/pirog-s-kuritsey-i-kartofelem/')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            b Пи
            | рог с курицей и картофелем
      tr
        th  
        td.title-search-item
          a(href='/detail/obatsda-bavarskaya-syrnaya-zakuska-k-pivu/')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            | Обацда — баварская сырная закуска к 
            b пи
            | ву
      tr
        th  
        td.title-search-item
          a(href='/detail/pirog-kraski-leta/')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            b Пи
            | рог "Краски лета"
      tr
        th  
        td.title-search-item
          a(href='/detail/finskiy-pirog-s-chernikoy-mustikkapiirakka/')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            | Финский 
            b пи
            | рог с черникой (Mustikkapiirakka)
      tr
        th  
        td.title-search-item
          a(href='/detail/zalivnoy-pirog-s-kapustoy/')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            | Заливной 
            b пи
            | рог с капустой
      tr
        th  
        td.title-search-item
          a(href='/detail/osetinskie-pirogi-s-syrom/')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            | Осетинские 
            b пи
            | роги с сыром
      tr
        th  
        td.title-search-item
          a(href='/detail/pirog-so-skumbriey/')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            b Пи
            | рог со скумбрией
      tr
        th  
        td.title-search-item
          a(href='/detail/drozhzhevye-pirozhki-s-myasom-mariya-saveleva/')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            | Дрожжевые 
            b пи
            | рожки с мясом
      tr
        th  
        td.title-search-item
          a(href='/detail/pirog-s-ryboy/')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            b Пи
            | рог с рыбой
      tr
        th  
        td.title-search-item
          a(href='/detail/sloenyy-pirog-s-ryboy-i-risom/')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            | Слоеный 
            b пи
            | рог с рыбой и рисом
      tr
        th  
        td.title-search-item
          a(href='/detail/pirog-s-krasnym-lukom-i-syrom/')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            b Пи
            | рог с красным луком и сыром
      tr
        th  
        td.title-search-item
          a(href='/detail/sloenyy-pirog-s-kartoshkoy-i-golubym-syrom-spanokopita-variation/')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            | Слоеный 
            b пи
            | рог с картошкой и голубым сыром (spanokopita variation)
      tr
        th  
        td.title-search-item
          a(href='/detail/pirog-s-yablokami-i-slivami/')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            b Пи
            | рог с яблоками и сливами
      tr
        th  
        td.title-search-item
          a(href='/detail/pirozhnoe-kartoshka/')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            b Пи
            | рожное картошка
      tr
        th  
        td.title-search-more
          a(href='/search/index.php?q=%D0%BF%D0%B8&f%5B0%5D%5B0%5D%5B%3DMODULE_ID%5D=iblock&f%5B0%5D%5B0%5D%5BPARAM1%5D=recipes&f%5B0%5D%5B0%5D%5BPARAM2%5D%5B0%5D=5&f%5B0%5D%5BLOGIC%5D=OR&f%5BCHECK_DATES%5D=Y') остальные
      tr
        th.title-search-separator  
        td.title-search-separator  
      tr
        th  Типы блюд
        td.title-search-item
          a(href='/recipes/?dish=102')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            b Пи
            | цца
      tr
        th  
        td.title-search-item
          a(href='/recipes/?dish=6715')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            b Пи
            | роги (сладкие), торты
      tr
        th  
        td.title-search-item
          a(href='/recipes/?dish=38060')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            b Пи
            | рожные
      tr
        th  
        td.title-search-item
          a(href='/recipes/?dish=36')
            img(src='/bitrix/templates/fclub3/components/bitrix/search.title/index-search/images/default.png')
            b Пи
            | роги (несладкие), киши
      tr
        th.title-search-separator  
        td.title-search-separator  
      tr
        th  
        td.title-search-all
          a(href='/search/index.php?q=%D0%BF%D0%B8') Все результаты
      tr
        th.title-search-separator  
        td.title-search-separator  
  .title-search-fader
