// start /components/recipe-search-index/

link( rel="stylesheet", href="/components/recipe-search-index/style.css" )
script( src="/components/recipe-search-index/script.js" )

#title-search_2
  form( action="/search/index.php" )
    input#title-search-input_2( type="text" name="q" value="" size="40" maxlength="50" autocomplete="off" placeholder="Введите название рецепта, ингредиента, тип блюда" )

// end /components/recipe-search-index/