// start /components/recipe-search-index/

//- push style and script file to the end of the page
block components-array
  if componentsArray
    - componentsArray[ componentsArray.length ] = 'recipe-search-index'
  else
    - var componentsArray = [ 'recipe-search-index' ]

.hidden-xs
  form( action="/search/index.php" )
    input#title-search-input_2( type="text" name="q" value="" size="40" maxlength="50" autocomplete="off" placeholder="Введите название рецепта, ингредиента, тип блюда" )
    
a#title-search-mobile.visible-xs-block( href="/mobile/" style="background-image: url( '/template/images/icons/search-big-button.svg' );" )

// end /components/recipe-search-index/