.b-pagination
  
  a( href="" ).b-pagination__prev Предыдущая
  
  nav.b-pagination__nav
    a( href="" ) 1
    a( href="" ) 2
    a( href="" ) 3
    span 4
    a( href="" ) 5
    span &#8230;
    a( href="" ) 56
  
  a( href="" ).b-pagination__next Следующая