@import '../../styl/component-include.styl'

.b-pagination
  rel()

  &__prev
    position absolute
    top 0
    left 0
    font-size $small

  &__next
    position absolute
    top 0
    right 0
    font-size $small
    
  &__nav
    margin 0 100px
    padding 0
    text-align center
    
    a,
    span
      ib()
      margin 0 4px