footer#bottom
  #bottom_nav
    table
      colgroup
        col.column1
        col.column2
        col.column3
        col.column4
        col.column5
      tr
        td
          h4 Читатйте нас
          ul
            li
              a( href="http://www.facebook.com/pages/Foodclubru/117900201576972" target="_blank" ) Facebook
            li
              a( href="https://twitter.com/foodclub_ru/" target="_blank" ) Twitter
            li
              a( href="http://blogs.mail.ru/community/foodclub/" target="_blank" ) Mail.ru
            li
              a( href="http://community.livejournal.com/foodclub_ru/" target="_blank" ) LiveJournal
            li
              a( href="http://www.odnoklassniki.ru/#/group/44303481962656" target="_blank" ) Одноклассники
        td
          h4 Моя Кухня
          ul
            li
              a( href="" ) Избранные рецепты
            li
              a( href="" ) Подписка
            li
              a( href="" ) Редактировать анкету
            li
              a( href="/recipe/add/" ) Добавить рецепт
            li
              a( href="/blogs/group/14/blog/edit/new/" ) Добавить рецепт (простой)
            li
              a( href="http://www.foodclub.ru/blogs/" ) Добавить запись в клуб
        td
          h4 Темы
          ul
            li
              a( href="http://www.foodclub.ru/all/" ) Рецепты с фото
            li
              a( href="http://www.foodclub.ru/blogs/" ) Кулинарные клубы
            li
              a( href="http://www.foodclub.ru/specialists/" ) Кулинары
            li
              span Самое интересное
            li
              span Лавка
        td
          h4 Сервисы
          ul
            li
              a( href="" ) Поиск рецепта
            li
              a( href="" ) Виджет Яндекса
            li
              span Приложение Facebook
            li
              span Приложение вКонтакте
        td
          h4 Реклама
          ul
            li
              a( href="" ) Баннеры
            li
              a( href="" ) Конкурсы
            li
              a( href="" ) Брендирование
            li
              span Статистика
      tr
        td
          h4 Пользователям
          ul
            li
              a( href="" ) Соглашение
            li
              a( href="" ) Правила
            li
              a( href="" ) Помощь
        td
          h4 Мобильные приложение
          ul
            li
              a( href="" ) iPhone & iPad
        td
        td
        td
  
  #made Сайт создан 
    a( href="http://www.twinpx.ru" target="_blank" ) Twin px
    br
    |2008 год
  #copyright &copy; Ни одно авторское право реально не защитит авторов фотографий и рецептов от копирования. Но Вам ничего не будет стоить, если в знак благодарности в конце Вашего поста будет стоять ссылка на сайт и имя кулинара, опубликовавшего рецепт. Спасибо тем, кто не просто копирует чужие фотографии, а помогает развивать интересные интернет-проекты.
