block var-page

-var index = true

header#header.b-header
  .container
    
    a( href="/" ).b-header__logo
      img( src="/template/images/foodclub_logo.png" alt="foodclub.ru" )
      
    .b-header__buttons
      
      .b-header__profile.dropdown
        button.b-header__profile-button( data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" )
          img( src="/upload/user/small_photo.jpg" )
        menu.b-header__profile-list.dropdown-menu( role="menu" )
          li
            a( href="" ).i-profile Профиль
          li
            a( href="" ).i-favorite Избранное
          li
            a( href="" ).i-recipes Мои рецепты
          li
            a( href="" ).i-articles Статьи
          li
            a( href="" ).i-subscribe Подписка
          li
            a( href="" ).i-kitchen Кухня
            
      button.b-header__add-button( data-toggle="modal" data-target="#addModal" ) Добавить
      
      include ../../modules/addModal/include
      
    nav.b-header__nav
      a( href="" ) Рецепты
      a.i-active( href="" ) Журнал
      a( href="" ) Фудшот
      a( href="" ) Лавка
      include ../../modules/search-helper/include.jade
      include ../../components/recipe-search/template