.b-page-heading

  .b-page-heading__ill( style="background-image: url(/upload/journal/heading.jpg);" )
  
    block page-heading
      h1 Журнал Foodclub.ru
  
  include ../../modules/content-nav/journal