script( src="/template/jquery-3.1.1.min.js" defer )

//- Договорились с Максимом подключать библиотеки с локального сервера 17.06.19
script( src="/template/bootstrap.min.js" defer )
script( src="/template/materialize.min.js" defer )

script( src="/template/jscript.js" defer )