script( src="/template/jquery-3.1.1.min.js" )

//- Договорились с Максимом подключать библиотеки с локального сервера 17.06.19
script( src="/template/bootstrap.min.js" async )
script( src="/template/materialize.min.js" async )

script( src="/template/jscript.js" async )