link( rel="stylesheet", href="/template/template_styles.css" )
link( rel="stylesheet", href="/template/bootstrap.css" )
link( href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic' rel='stylesheet')
link( href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' )