link( href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700, 400italic&subset=latin,cyrillic' rel='stylesheet')
link( href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' )
link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous" )
link( rel="stylesheet", href="/template/template_styles.css" )