.comments_feed
  h5( title="Последние комментарии" ) Последние комментарии
  ul
    - var n = 5
    while n > 0
      - n--
      li
        a.comment( href="/recipe/#comments" ) рецепт супер, прочитала и сразу приготовила) всё отлично сочетается, только готовилось не 40 минут, ...
        .info
          a.author( href="/person/" ) Шоколадница
          | 
          span.date 19.09.2011 в 15:59