@import '../../styl/component-include.styl'

.comments_feed
  border 1px solid $light-grey
  border-radius( 2px )
  padding 9px 14px 12px
  font-size $x-small
  margin-bottom 40px
  
  h5
    text-indent -200px
    overflow hidden
    background embedurl( 'img/icon.png' ) no-repeat 0 0
    width 33px
    height 24px
    margin 0 auto 5px
    
  ul
    margin 0
    padding 0
    overflow hidden
    
  li
    margin 0 0 -1px 0
    padding 15px 0
    border-bottom 1px solid $light-grey
    list-style-type none
    
  .comment
    color $link-light
    line-height 13pt
    
  .info
    margin-top 3px
    
  .author
    
    a
      magin 0