@import '../../styl/component-include.styl'

.b-rating
  ib()
  padding-left 25px
  font-size $small
  font-family $georgia
  background embedurl( 'img/icon-color.gif' ) no-repeat 0 center
  white-space nowrap
  
  &-info
    ib()
    padding-left 20px
    color $middle-grey
    font-size $x-small
    background embedurl( 'img/icon.gif' ) no-repeat 0 center
    white-space nowrap