block var-page
  - var page = forms-auth

extends ../../layouts/form.jade

block title
  title Authorization form | food

block content
  
  section.container
  
    .row
      .col-sm-10.col-sm-offset-1
    
        include ../../components/form.auth/template.jade
    
    
    
    
