
<!-- start /components/lavka/-->
<div class="b-lavka b-ph-block">
  <hr/>
  <div class="b-heading-linethrough">
    <h2>Лавка</h2>
  </div>
  <div class="row">
    <div class="col-sm-3 text-center">
      <div class="b-lavka__logo"><a href="" target="_blank" rel="nofollow"><img src="/upload/store-block/logo.gif" alt=""/></a></div>
      <hr/>
      <div class="b-lavka__photo"><a href="" target="_blank" rel="nofollow"><img src="/upload/store-block/photo.jpg" width="90" height="130" alt="Гриль Bar-B-Kettle"/></a></div>
      <hr/>
      <div class="b-lavka__title"><a href="" target="_blank" rel="nofollow">Гриль Bar-B-Kettle</a></div>
      <div class="b-lavka__price b-price"><span class="b-price__num">~5 346</span><span class="b-price__unit">руб.</span></div>
      <div class="b-lavka__button"><a href="" target="_blank" rel="nofollow" class="btn btn-default">Купить</a></div>
    </div>
    <div class="col-sm-12 visible-xs-block">
      <hr class="i-line i-size-XL"/>
    </div>
    <div class="col-sm-3 text-center">
      <div class="b-lavka__logo"><a href="" target="_blank" rel="nofollow"><img src="/upload/store-block/logo2.jpg" alt=""/></a></div>
      <hr/>
      <div class="b-lavka__photo"><a href="" target="_blank" rel="nofollow"><img src="/upload/store-block/photo2.jpg" width="130" height="130" alt="Кленовый сироп"/></a></div>
      <hr/>
      <div class="b-lavka__title"><a href="" target="_blank" rel="nofollow">Кленовый сироп</a></div>
      <div class="b-lavka__price b-price"><span class="b-price__num"><span class="b-price__num__int">5 346</span><span class="b-price__num__fract">.60</span></span><span class="b-price__unit">руб.</span></div>
      <div class="b-lavka__button"><a href="" target="_blank" rel="nofollow" class="btn btn-default">Купить</a></div>
    </div>
    <div class="col-sm-12 visible-xs-block">
      <hr class="i-line i-size-XL"/>
    </div>
    <div class="col-sm-3 text-center">
      <div class="b-lavka__logo"><a href="" target="_blank" rel="nofollow"><img src="/upload/store-block/logo.gif" alt=""/></a></div>
      <hr/>
      <div class="b-lavka__photo"><a href="" target="_blank" rel="nofollow"><img src="/upload/store-block/photo.jpg" width="90" height="130" alt="Гриль Bar-B-Kettle"/></a></div>
      <hr/>
      <div class="b-lavka__title"><a href="" target="_blank" rel="nofollow">Гриль Bar-B-Kettle</a></div>
      <div class="b-lavka__price b-price"><span class="b-price__num">~5 346</span><span class="b-price__unit">руб.</span></div>
      <div class="b-lavka__button"><a href="" target="_blank" rel="nofollow" class="btn btn-default">Купить</a></div>
    </div>
    <div class="col-sm-12 visible-xs-block">
      <hr class="i-line i-size-XL"/>
    </div>
    <div class="col-sm-3 text-center">
      <div class="b-lavka__logo"><a href="" target="_blank" rel="nofollow"><img src="/upload/store-block/logo2.jpg" alt=""/></a></div>
      <hr/>
      <div class="b-lavka__photo"><a href="" target="_blank" rel="nofollow"><img src="/upload/store-block/photo2.jpg" width="130" height="130" alt="Кленовый сироп"/></a></div>
      <hr/>
      <div class="b-lavka__title"><a href="" target="_blank" rel="nofollow">Кленовый сироп</a></div>
      <div class="b-lavka__price b-price"><span class="b-price__num"><span class="b-price__num__int">5 346</span><span class="b-price__num__fract">.60</span></span><span class="b-price__unit">руб.</span></div>
      <div class="b-lavka__button"><a href="" target="_blank" rel="nofollow" class="btn btn-default">Купить</a></div>
    </div>
  </div>
</div>
<!-- end /components/lavka/-->