nav.b-content-nav.hidden-xs.b-ph-block

  .b-ph
    div
    div
    div
    div
    div
      
  span Все рецепты
  a( href="/rating/" ) Рейтинги рецептов
  a( href="/personal/recipes/" ) Мои рецепты
  a( href="/personal/favourite/" ) Избранное
  a.i-emphasise( href="/recipes/add/" ) Добавить рецепт
