nav.b-content-nav
  a( href="/recipes/" )
    b Все рецепты
  a( href="/rating/" ) Рейтинги рецептов
  a( href="/personal/recipes/" ) Мои рецепты
  a( href="/personal/favourite/" ) Избранное
  a.i-emphasise( href="/admin/stages/" ) Добавить рецепт
  //-a( href="" ) Рецепты пользователей
