.b-content-nav
  .visible-xs-block.b-mobile-menu-icon
  .container
    nav
      a( href="" ) Все публикации
      | 
      span Дайджесты
      | 
      a( href="" ) Подборки
      | 
      a( href="" ) Меню
      | 
      a( href="" ) Обзоры
      | 
      a( href="" ) Самое интересное
      | 
      a( href="" ) Foodclub
      | 
      a( href="" ) Знаете ли вы, что
