.b-content-nav
  .container
    nav
      a( href="" ) Все публикации
      a( href="" ) Дайджесты
      a( href="" ) Подборки
      a( href="" ) Меню
      a( href="" ) Обзоры
      a( href="" ) Самое интересное
      a( href="" ) Foodclub
      a( href="" ) Знаете ли вы, что
