#bx-panel

  &.bx-panel-fixed
    top 0
    left 0
    position fixed

  #bx-panel-top
    height 50px
    background #777f8c

  #bx-panel-site-toolbar
    height 97px
    background #767f8c 
  
  &.bx-panel-folded
  
    #bx-panel-top
      height 39px
    
    #bx-panel-site-toolbar
      display none
  
.adm-warning-block
  height 36.8px
  background #a5b557