#filter_recipes
  min-height 17px
  
  &.b-ph-block
    position relative
    height 24px
    
  .b-filter-items__wrapper
    opacity 0
    transition( opacity .5s ease )
  
  .b-ph
    position absolute
    top 4px
    left 0
    width 100%
    transition( opacity .5s ease )
    z-index 0
  
    div
      display inline-block
      margin-right 17px
      height 17px
      background-color $placeholder-color
      width 80px
  
#filter_lists
  display none