.b-recipe    

  &.b-ph-block
    position relative
  
  .b-ph
  
    &-content
      position absolute
      top 0
      left 0
      width 100%
      transition( opacity .5s ease )
      opacity 0
      z-index 0
    
    &__chain-path
      height 18px
      margin 0 auto 36px
      width 200px
      background-color $placeholder-color
      
    &__info
      display flex
      align-items center
      justify-content space-between
      margin-bottom 20px
      
      div
        height 26px
        background-color $placeholder-color
        width 100px
        
        &:nth-child(5)
          background-color transparent
          
    &__ill
      background-color $placeholder-color
      padding-top 50%
      margin-bottom 20px
      
    &__icons
      display flex
      align-items center
      justify-content space-between
      margin-bottom 30px
      
      div
        height 24px
        background-color $placeholder-color
        width 60px
        margin-right 15px
        
        &:nth-child(5)
          background-color transparent
          width calc( 100% - ( 60px * 4 + 15px * 4 + 24px * 2 + 4px  ) )
        
        &:nth-child(6),
        &:nth-child(7)
          width 24px
          margin-right 4px
          
        &:nth-child(5),
        &:nth-child(7)
          margin-right 0
          
    &__descrpiton
      width calc( (100% + 30px) / 3 * 2 )
      margin-left calc( (100% + 30px) / 6 )
      
      div
        height 7px
        background-color $placeholder-color
        margin-bottom 15px
        
        &:last-child
          width 70%
          
.text-mited  
  display none