.b-journal__item
  
  noindex

    .b-journal__item-head
    
      .b-journal__item-head-bg
        a( href="/journal/item/" style="background-image: url(/upload/journal/item.jpg);" )
        
      .b-journal__item-head-text
        
        a( href="/journal/item/" target="_blank" ).b-journal__item-head-title
          block head-title
            | Foodclub
        
        a.b-journal__item-head-author( href="/profile/" )
          img( src="/upload/user/ca-ira.jpg" width="50" height="50" alt="" )
          span Виктория Фильберт
          
        a( href="/journal/item/" target="_blank" ).b-ext-icon
        
    .b-journal__item-body

      h4.b-journal__item-title
        a( href="/journal/item/" target="_blank" ) Что приготовить на 8 марта? Дайджест публикаций из блогов
          
      .b-journal__item-text Внимание! Внешняя ссылка, блок обёрнут тэгом noindex, у ссылок атрибут target="_blank" (кроме ссылки автора).
      
        p
          a( href="" target="_blank" ) Подробнее на сайте eda.ru
      
      .b-date 3 марта 2015 16:21:04