#header-content.b-deferred-content

  .b-header-content
    
    .b-header-panel__bg
    
      .container
      
        .b-header-panel__wrapper
      
          a.b-header-panel__logo( href="/" )
            img( src="/template/images/logo-foodclub.svg" alt="Foodclub" )
            
          include ../../components/header.menu.top/template
            
          .b-header-panel__icons
            a.b-header-panel__icon.i-youtube.hidden-xs.hidden-sm( href="/youtube/" target="_blank" style="background-image: url( '/template/images/icons/header/youtube.svg' );" )
            a.b-header-panel__icon.i-instagram.hidden-xs.hidden-sm( href="/instagram/" target="_blank" style="background-image: url( '/template/images/icons/header/instagram.svg' );" )
            
            include ../../components/recipe-search/search-icon
            
            if authorized
              a.btn.btn-default.b-header-panel__add.hidden-xs.hidden-sm( data-toggle="modal" data-target="#addModal" ) Добавить
              a.b-header-panel__user( href="" style="background-image: url( '/upload/user/mariha_kitchen.jpg' );" )
              
              .b-header-panel__user-dropdown
                .b-header-panel__user-dropdown-body
                  a( href="" ).i-profile Профиль
                  a( href="" ).i-favorite Избранное
                  a( href="" ).i-recipes Мои рецепты
                  //-a( href="" ).i-articles Статьи
                  a( href="" ).i-subscribe Подписка
                  a( href="" ).i-kitchen Кухня
                  a( href="" ).i-logout Выйти
                  
              include ../../modules/modals/add
                    
            else
            
              include ../../components/header.main.user.link/template
              
            a.b-header-panel__icon.i-menu.visible-xs-inline-block.visible-sm-inline-block( href="#" style="background-image: url( '/template/images/icons/header/menu.svg' );" )
            
      .b-header-panel__mobile-menu
        .b-header-panel__mobile-menu-body
          a( href="/recipes/" ) Рецепты
          a( href="/foodshot/" ) Фудшоты
          a( href="/journal/" ) Журнал
          a( href="/search/" ) Найти
          
          hr
          
          a.i-login( href="#" data-toggle="modal" data-target="#authModal" ) Войти
          
          hr
          
          h6 Следите за нами
          
          .b-header-panel__mobile-menu-icons
            a.i-youtube( href="/youtube/" target="_blank" style="background-image: url( '/template/images/icons/header/youtube.svg' );" )
            a.i-instagram( href="/instagram/" target="_blank" style="background-image: url( '/template/images/icons/header/instagram.svg' );" )
            
      .b-header-panel__mobile-user-menu
        .b-header-panel__mobile-user-menu-body
          a( href="" ) Профиль
          a( href="" ) Избранное
          a( href="" ) Мои рецепты
          a( href="" ) Подписка
          a( href="" ) Кухня
          a( href="" ).i-logout Выйти
      
    include ../../components/recipe-search/template