@import '../../styl/component-include.styl'

#cooks_space
  width 195px
  float left
  
  h2
    color $dark-grey
    border-bottom 1px solid $middle-grey
    margin 0 0 -1px 0
    font-style italic
    font-size $small
    padding 7px 0 16px
    text-align center
    
    a
      font-size $small

#cooks_feed

  ul
    margin 0
    padding 0
    overflow hidden
  
  li
    margin 0 0 -1px 0
    padding 17px 0 14px 0
    list-style-type none
    border-bottom 1px solid $light-grey
    font-size 7pt
    color $grey
    text-align center
  
  .icon
    display inline-block
    margin-bottom 6px
    
  .author
    margin-bottom 3px
    
    a
      margin 0
      
  .intro
    margin 0 20px 8px 20px

  .rating
    margin-top 8px

    span
      background embedurl( 'img/rating.gif' ) no-repeat 0 1px
      display inlne-block
      padding-left 13px