
<!-- start /components/recipe/-->
<div class="b-recipe-menu"><a href="" class="b-recipe-menu__i b-favorite-button"><span class="b-favorite-button__text">В избранное</span></a><a href="" title="Удалить из избранного" class="b-recipe-menu__i b-favorite-button i-remove-favorite"><span class="b-favorite-button__text">Удалить</span></a><span class="b-recipe-menu__i"><a href="#" title="Распечатать рецепт" class="b-print-button b-recipe-menu__button__type-print"></a></span><span class="b-recipe-menu__i"><a href="#" title="Нравится" class="b-like-button"></a> <span class="b-like-button__num">32</span></span><span class="b-recipe-menu__i"><a href="#" title="Приготовили" class="b-cooked-button"></a> <span class="b-cooked-button__num">32</span></span><span class="b-recipe-menu__i"><a href="#" title="Просмотров" class="b-views-button"></a> <span class="b-views-button__num">32</span></span><span class="b-recipe-menu__i"><a href="#" title="Рейтинг" class="b-rating-button"></a> <span class="b-rating-button__num">12 056</span></span>
  <div class="b-recipe-menu__social">
    <div class="b-social-buttons__item b-ya-share">
      <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
      <script src="//yastatic.net/share2/share.js"></script>
      <div data-services="vkontakte,facebook" data-counter="" class="ya-share2"></div>
    </div>
  </div>
</div>
<!-- end /components/recipe/-->