link( rel="stylesheet", href="/components/last-comments/style.css" )
script( src="/components/last-comments/script.js" )

.b-last-comments__wrapper

  .b-last-comments__item
    .b-last-comments__userpic( style="background-image: url( '/upload/user/mariha_kitchen.jpg' );" )
    .b-last-comments__content
      .b-last-comments__author Дарья Самойлова
      .b-last-comments__text
        | 1 Так как пряников получается довольно много, я обычно храню их в холодильнике в герметическом контейнере, таким образом срок хранения примерно 2 недели. Если же приготовить их без маслянной начинки лишь с повидлом, то можно хранить и того дольше.....
      .b-last-comments__info
        a( href="/recipes/recipe/" ) Рецепт: Пряники по-швейцарски
        
  .b-last-comments__item
    .b-last-comments__userpic( style="background-image: url( '/upload/user/mariha_kitchen.jpg' );" )
    .b-last-comments__content
      .b-last-comments__author Мария Савельева
      .b-last-comments__text
        | 2 Так как пряников получается довольно много, я обычно храню их в холодильнике в герметическом контейнере, таким образом срок хранения примерно 2 недели. Если же приготовить их без маслянной начинки лишь с повидлом, то можно хранить и того дольше.....
      .b-last-comments__info
        a( href="/recipes/recipe/" ) Рецепт: Пряники по-швейцарски
        
  .b-last-comments__item
    .b-last-comments__userpic( style="background-image: url( '/upload/user/mariha_kitchen.jpg' );" )
    .b-last-comments__content
      .b-last-comments__author Родион Путасов
      .b-last-comments__text
        | 3 Так как пряников получается довольно много, я обычно храню их в холодильнике в герметическом контейнере, таким образом срок хранения примерно 2 недели. Если же приготовить их без маслянной начинки лишь с повидлом, то можно хранить и того дольше.....
      .b-last-comments__info
        a( href="/recipes/recipe/" ) Рецепт: Пряники по-швейцарски
        
  .b-last-comments__item
    .b-last-comments__userpic( style="background-image: url( '/upload/user/mariha_kitchen.jpg' );" )
    .b-last-comments__content
      .b-last-comments__author Клавдия Мироненко
      .b-last-comments__text
        | 4 Так как пряников получается довольно много, я обычно храню их в холодильнике в герметическом контейнере, таким образом срок хранения примерно 2 недели. Если же приготовить их без маслянной начинки лишь с повидлом, то можно хранить и того дольше.....
      .b-last-comments__info
        a( href="/recipes/recipe/" ) Рецепт: Пряники по-швейцарски
        
  .b-last-comments__item
    .b-last-comments__userpic( style="background-image: url( '/upload/user/mariha_kitchen.jpg' );" )
    .b-last-comments__content
      .b-last-comments__author Лучший повар
      .b-last-comments__text
        | 5 Так как пряников получается довольно много, я обычно храню их в холодильнике в герметическом контейнере, таким образом срок хранения примерно 2 недели. Если же приготовить их без маслянной начинки лишь с повидлом, то можно хранить и того дольше.....
      .b-last-comments__info
        a( href="/recipes/recipe/" ) Рецепт: Пряники по-швейцарски