@import '../../styl/component-include.styl'

.b-form-field__network
  background url( '/template/images/networks-detailed.png' ) no-repeat 4px 16px
  padding-left 35px

.b-form-field__fb
  background-position 4px 4px

.b-form-field__vk
  background-position 4px -56px

.b-form-field__twitter
  background-position 4px -116px

.b-form-field__yandex
  background-position 4px -176px

.b-form-field__lj
  background-position 4px -236px

.b-form-field__classmates
  background-position 4px -296px

.b-form-field__youtube
  background-position 4px -356px

.b-form-field__vimeo
  background-position 4px -416px
