.b-heading-linethrough
  h2 #{heading}
    span.b-copy-ingredients-icon( title="Скопировать ингредиенты" style="background-image: url( '/template/images/icons/copy.svg' );" )
    span.b-copy-ingredients-message Ингредиенты скопированы

