@import '../../styl/component-include.styl'

.b-heading-linethrough
  background embedurl( 'img/bg.gif' ) repeat-x center
  text-align center
  margin 30px 0
  
  h2,
  h1
    display inline-block
    background-color #fff
    margin 0
    padding 0 13px
      
    a
      &,
      &:hover,
      &:focus
        color $dark-grey