@import '../../styl/component-include.styl'

.b-aside-banner
  max-width 300px
  margin 0 auto
  
  &__note
    font-size $x-small
    color $middle-grey
    text-align center
    margin-top 14px
    
  &.i-top-fixed
    position fixed
    
  &.i-bottom-fixed
    position absolute
    
.b-banner,
.b-aside-adv
  text-align right
  
  a
    display inline-block
    
  img
    max-width 100%