.row
  .col-sm-4
    .b-recipe-thumb
      a(href="" data-original="/upload/recipe-preview/blocks/5.jpg" class="b-recipe-thumb__photo")
        img(src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7")
      .text-center
        div(class="b-recipe-thumb__name")
          a(href=) Салат нисуаз
          b
            nobr 1 час 15 минут
            | ,
            nobr 4 порции
            | ,
            nobr 510 кКал на порцию
  hr.visible-xs-block
  .col-sm-4
    .b-recipe-thumb
      a(href="" data-original="/upload/recipe-preview/blocks/5.jpg" class="b-recipe-thumb__photo")
        img(src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7")
      .text-center
        div(class="b-recipe-thumb__name")
          a(href=) Салат нисуаз
          b
            nobr 1 час 15 минут
            | ,
            nobr 4 порции
            | ,
            nobr 510 кКал на порцию
  hr.visible-xs-block
  .col-sm-4
    .b-recipe-thumb
      a(href="" data-original="/upload/recipe-preview/blocks/5.jpg" class="b-recipe-thumb__photo")
        img(src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7")
      .text-center
        div(class="b-recipe-thumb__name")
          a(href=) Салат нисуаз
          b
            nobr 1 час 15 минут
            | ,
            nobr 4 порции
            | ,
            nobr 510 кКал на порцию
hr.i-size-L.hidden-xs
hr.visible-xs-block
.row
  .col-sm-4
    .b-recipe-thumb
      a(href="" data-original="/upload/recipe-preview/blocks/5.jpg" class="b-recipe-thumb__photo")
        img(src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7")
      .text-center
        div(class="b-recipe-thumb__name")
          a(href=) Салат нисуаз
          b
            nobr 1 час 15 минут
            | ,
            nobr 4 порции
            | ,
            nobr 510 кКал на порцию
  hr.visible-xs-block
  .col-sm-4
    .b-recipe-thumb
      a(href="" data-original="/upload/recipe-preview/blocks/5.jpg" class="b-recipe-thumb__photo")
        img(src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7")
      .text-center
        div(class="b-recipe-thumb__name")
          a(href=) Салат нисуаз
          b
            nobr 1 час 15 минут
            | ,
            nobr 4 порции
            | ,
            nobr 510 кКал на порцию
  hr.visible-xs-block
  .col-sm-4
    .b-recipe-thumb
      a(href="" data-original="/upload/recipe-preview/blocks/5.jpg" class="b-recipe-thumb__photo")
        img(src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7")
      .text-center
        div(class="b-recipe-thumb__name")
          a(href=) Салат нисуаз
          b
            nobr 1 час 15 минут
            | ,
            nobr 4 порции
            | ,
            nobr 510 кКал на порцию
hr.i-size-L.hidden-xs
hr.visible-xs-block
.row
  .col-sm-4
    .b-recipe-thumb
      a(href="" data-original="/upload/recipe-preview/blocks/5.jpg" class="b-recipe-thumb__photo")
        img(src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7")
      .text-center
        div(class="b-recipe-thumb__name")
          a(href=) Салат нисуаз
          b
            nobr 1 час 15 минут
            | ,
            nobr 4 порции
            | ,
            nobr 510 кКал на порцию
  hr.visible-xs-block
  .col-sm-4
    .b-recipe-thumb
      a(href="" data-original="/upload/recipe-preview/blocks/5.jpg" class="b-recipe-thumb__photo")
        img(src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7")
      .text-center
        div(class="b-recipe-thumb__name")
          a(href=) Салат нисуаз
          b
            nobr 1 час 15 минут
            | ,
            nobr 4 порции
            | ,
            nobr 510 кКал на порцию
  hr.visible-xs-block
  .col-sm-4
    .b-recipe-thumb
      a(href="" data-original="/upload/recipe-preview/blocks/5.jpg" class="b-recipe-thumb__photo")
        img(src="data:image/gif;base64,R0lGODlhBgAEAIAAAP///wAAACH5BAEAAAAALAAAAAAGAAQAAAIEhI+pVwA7")
      .text-center
        div(class="b-recipe-thumb__name")
          a(href=) Салат нисуаз
          b
            nobr 1 час 15 минут
            | ,
            nobr 4 порции
            | ,
            nobr 510 кКал на порцию