@import '../../styl/component-include.styl'

.b-close-icon
  display inline-block
  vertical-align top
  width 11px
  height 11px
  background embedurl( 'img/close.svg' ) no-repeat 0 0
  background-size cover
  font-size 0
  cursor pointer
  &:hover
    background-position -328px 0
  &:active
    background-position -340px 0

.b-close-icon__color_2,
.b-close-icon__color_2:hover,
.b-close-icon__color_2:active
  background: url("data:image/gif;base64,R0lGODlhCwALAJECAP///8zMzP///wAAACH5BAEAAAIALAAAAAALAAsAAAIVVI5oyQj8UgxT0ubweTVvCGrJggkFADs=") no-repeat 0 0;

.b-close-icon__color_3,
.b-close-icon__color_3:hover,
.b-close-icon__color_3:active
  background embedurl( 'img/close.svg' ) no-repeat 0 0