// start /components/profile.badges.all/

link( rel="stylesheet", href="/components/profile.badges.all/style.css" )
script( src="/components/profile.badges.all/script.js" )

.b-personal-page__all-badges
  h3.b-hr-bg.b-personal-page__heading
    span.b-hr-bg__content Бейджи
  .b-all-badges__list(data-url='http://markup.foodclub.2px/personal/badges/')
    .b-all-badges__item(data-balloon='{"title": "Суши Маги", "text": "Ты в конкурсе участие принял,<br>Как самурай мечом, ножом работал ты на кухне<br>Призер ты <a href=\"magi\">состязания</a> и бейдж свой получил.", "id": "43662"}')
      .i-relative
        .b-all-badges__balloon.b-balloon(style='display: none;')
          .b-balloon__pointer
          .b-balloon__heading Суши Маги
          .b-balloon__text
            | Ты в конкурсе участие принял,
            br
            | Как самурай мечом, ножом работал ты на кухне
            br
            | Призер ты 
            a(href='http://www.foodclub.ru/contests/magi/') состязания
            |  и бейдж свой получил.
          .b-balloon__share
            span.b-balloon__share__heading Расскажите друзьям:
            a.b-balloon__share__item.i-vkontakte(href='http://vkontakte.ru/share.php?url=http://markup.foodclub.2px/personal/badges/&title=Савельева Мария — Суши Маги на Foodclub.ru&image=http://markup.foodclub.2px/upload/badges/2.png&description=Ты в конкурсе участие принял,<br>Как самурай мечом, ножом работал ты на кухне<br>Призер ты <a href=magi>состязания</a> и бейдж свой получил.&noparse=yes', onclick="window.open(this.href, '', 'width=540,height=450');return false;", target='_blank', title='Через Вконтакте')
            a.b-balloon__share__item.i-facebook(href='http://www.facebook.com/sharer.php?s=100&p[title]=Савельева Мария — Суши Маги на Foodclub.ru&p[summary]=Ты в конкурсе участие принял,<br>Как самурай мечом, ножом работал ты на кухне<br>Призер ты <a href=magi>состязания</a> и бейдж свой получил.&p[url]=http://markup.foodclub.2px/personal/badges/&p[images][0]=http://markup.foodclub.2px/upload/badges/2.png', onclick="window.open(this.href, '', 'width=540,height=450');return false;", target='_blank', title='Через Facebook')
            a.b-balloon__share__item.i-twitter(href='http://twitter.com/share?text=Савельева Мария — Суши Маги на Foodclub.ru&url=http://markup.foodclub.2px/personal/badges/', onclick="window.open(this.href, '', 'width=540,height=450');return false;", target='_blank', title='Через Twitter')
            a.b-balloon__share__item.i-google(href='https://plus.google.com/share?url=http://markup.foodclub.2px/personal/badges/', onclick="window.open(this.href, '', 'width=540,height=450');return false;", target='_blank', title='Через Google')
      span.b-all-badges__item__link
        span.b-all-badges__item__image
          img(width='130', height='130', alt='30 рецептов', src='/upload/badges/2.png')
        span.b-all-badges__item__title 30 рецептов
    .b-all-badges__item(data-balloon='{"title": "Суши Маги", "text": "Ты в <b>конкурсе</b> участие принял,<br>Как самурай мечом, ножом работал ты на кухне<br>Призер ты <a href=\"\/contest\/magi\">состязания</a> и бейдж свой получил.", "id": "43662"}')
      span.b-all-badges__item__link
        span.b-all-badges__item__image
          img(src='/upload/badges/2.png', width='130', height='130', alt='30 рецептов')
        span.b-all-badges__item__title 30 рецептов
    .b-all-badges__item(data-balloon='{"title": "30 рецептов и ещё пару строк и более", "text": "Не отвлекайтесь, — слушайте рецепты на расстоянии от компьютера.", "id": "1"}')
      span.b-all-badges__item__link
        span.b-all-badges__item__image
          img(src='/upload/badges/2.png', width='130', height='130', alt='30 рецептов')
        span.b-all-badges__item__title 30 рецептов и ещё пару строк и более
    .b-all-badges__item(data-balloon='{"title": "30 рецептов", "text": "Не отвлекайтесь, — слушайте рецепты на расстоянии от компьютера.", "id": "1"}')
      a.b-all-badges__item__link(href='#')
        span.b-all-badges__item__image
          img(src='/upload/badges/2.png', width='130', height='130', alt='30 рецептов')
        span.b-all-badges__item__title 30 рецептов
    .b-all-badges__item(data-balloon='{"title": "30 рецептов", "text": "Не отвлекайтесь, — <a href=\"sf\">слушайте</a> рецепты на расстоянии от компьютера.", "id": "1"}')
      a.b-all-badges__item__link(href='#')
        span.b-all-badges__item__image
          img(src='/upload/badges/2.png', width='130', height='130', alt='30 рецептов')
        span.b-all-badges__item__title 30 рецептов
    .b-all-badges__item(data-balloon='{"title": "30 рецептов", "text": "Не отвлекайтесь, — слушайте рецепты на расстоянии от компьютера.", "id": "1"}')
      a.b-all-badges__item__link(href='#')
        span.b-all-badges__item__image
          img(src='/upload/badges/2.png', width='130', height='130', alt='30 рецептов')
        span.b-all-badges__item__title 30 рецептов
    .b-all-badges__item(data-balloon='{"title": "30 рецептов и ещё пару строк", "text": "Не отвлекайтесь, — слушайте рецепты на расстоянии от компьютера.", "id": "1"}')
      a.b-all-badges__item__link(href='#')
        span.b-all-badges__item__image
          img(src='/upload/badges/2.png', width='130', height='130', alt='30 рецептов')
        span.b-all-badges__item__title 30 рецептов и ещё пару строк
    .b-all-badges__item(data-balloon='{"title": "30 рецептов", "text": "Не отвлекайтесь, — слушайте рецепты на расстоянии от компьютера.", "id": "1"}')
      a.b-all-badges__item__link(href='#')
        span.b-all-badges__item__image
          img(src='/upload/badges/2.png', width='130', height='130', alt='30 рецептов')
        span.b-all-badges__item__title 30 рецептов
    .b-all-badges__item(data-balloon='{"title": "30 рецептов", "text": "Не отвлекайтесь, — слушайте рецепты на расстоянии от компьютера.", "id": "1"}')
      a.b-all-badges__item__link(href='#')
        span.b-all-badges__item__image
          img(src='/upload/badges/2.png', width='130', height='130', alt='30 рецептов')
        span.b-all-badges__item__title 30 рецептов
    .b-all-badges__item(data-balloon='{"title": "30 рецептов и ещё пару строк", "text": "Не отвлекайтесь, — слушайте рецепты на расстоянии от компьютера.", "id": "1"}')
      a.b-all-badges__item__link(href='#')
        span.b-all-badges__item__image
          img(src='/upload/badges/2.png', width='130', height='130', alt='30 рецептов')
        span.b-all-badges__item__title 30 рецептов и ещё пару строк
    .b-all-badges__item(data-balloon='{"title": "30 рецептов", "text": "Не отвлекайтесь, — слушайте рецепты на расстоянии от компьютера.", "id": "1"}')
      a.b-all-badges__item__link(href='#')
        span.b-all-badges__item__image
          img(src='/upload/badges/2.png', width='130', height='130', alt='30 рецептов')
        span.b-all-badges__item__title 30 рецептов
    .b-all-badges__item(data-balloon='{"title": "30 рецептов", "text": "Не отвлекайтесь, — слушайте рецепты на расстоянии от компьютера.", "id": "1"}')
      a.b-all-badges__item__link(href='#')
        span.b-all-badges__item__image
          img(src='/upload/badges/2.png', width='130', height='130', alt='30 рецептов')
        span.b-all-badges__item__title 30 рецептов
    .i-clearfix


// end /components/profile.badges.all/