.b-author-avatar
  a.b-author-avatar__link( href='/personal/' style="background-image: url(/upload/user/mariha_kitchen.jpg);")
  a.b-author-avatar__nickname(href='/personal/')
    span( title="Mariha Kitchen" ) Mariha Kitchen