.b-author-avatar
  a.b-author-avatar__link(href='/personal/')
    img.b-author-avatar__img(src='/upload/user/mariha_kitchen.jpg', width='100%', height='100%', alt='Mariha Kitchen')
  a.b-author-avatar__nickname(href='/personal/')
    span( title="Mariha Kitchen" ) Mariha Kitchen