@import '../../styl/component-include.styl'

.b-author-avatar
  height 30px
  min-width 30px
  position relative

  &__link
    width 30px
    height 30px
    display block
    position absolute
    top 0
    left 0
    trans( transform 0.3s ease-out )
    border-radius 51%
    overflow hidden
    background-repeat no-repeat
    background-position center
    background-size cover
    
    &:hover
      transform (scale(2))

  &__img
    width 100%
    height auto !important
    
  &__nickname
    font-size 9pt
    display inline-block
    vertical-align middle
    padding-left 46px
    width 100%
    box-sizing border-box
    text-overflow ellipsis
    
    span
      white-space nowrap
      display inline-block
      max-width 100px