menu.b-personal-page__menu
  li.b-personal-page__menu__item
    // #if expr="$page='persona'"
    span.b-personal-page__menu__item__link Анкета
    // #else
    a.b-personal-page__menu__item__link(href='/personal/') Анкета
    // #endif
  li.b-personal-page__menu__item
    a.b-personal-page__menu__item__link(href='/personal/recipes/') Рецепты
  li.b-personal-page__menu__item
    a.b-personal-page__menu__item__link(href='/personal/topics/') Записи
  li.b-personal-page__menu__item
    a.b-personal-page__menu__item__link(href='/personal/opinions/') Отзывы
  li.b-personal-page__menu__item
    a.b-personal-page__menu__item__link(href='/personal/comments/') Комментарии
  li.b-personal-page__menu__item
    a.b-personal-page__menu__item__link(href='/personal/') Моя лента
  li.b-personal-page__menu__item
    a.b-personal-page__menu__item__link(href='/personal/favourite/') Избранное
  li.b-personal-page__menu__item
    a.b-personal-page__menu__item__link(href='/personal/subscription/') Подписка
  li.b-personal-page__menu__item
    a.b-personal-page__menu__item__link(href='/personal/foodshot/') Фудшоты
  li.b-personal-page__menu__item
    a.b-personal-page__menu__item__link(href='/personal/kitchen/') Кухня