.b-author-card.text-center

  a( href="/profile/" )
    img( src="/upload/user/mariha_kitchen.jpg" )
    
  hr.i-size-M
  
  .b-h2
    a( href="/profile/" ) Мария Савельева
    
  hr.i-size-S
  
  .b-h2 820 рецептов
  
  p.text-small Приготовление пищи для меня совсем не рутинное повседневное занятие, а настоящий творческий и познав...