.row

  .col-sm-2
    
    include ./card
    
  hr.visible-xs-block

  .col-sm-2
    
    include ./card
    
  hr.visible-xs-block

  .col-sm-2
    
    include ./card
    
  hr.visible-xs-block

  .col-sm-2
    
    include ./card
    
  hr.visible-xs-block

  .col-sm-2
    
    include ./card
    
  hr.visible-xs-block

  .col-sm-2
    
    include ./card