@import '../../styl/component-include.styl'

a.delete
  font-size 8pt
  overflow hidden
  text-indent -200px
  display inline-block
  vertical-align middle
  margin-left 17px
  width 12px
  height 12px
  background embedurl( 'img/normal.png' ) no-repeat 0 0
  
  &:hover
    background-image embedurl( 'img/hover.png' )
  
  &:active
    background-image embedurl( 'img/active.png' )