@import '../../styl/component-include.styl'

a.delete
  font-size 8pt
  overflow hidden
  text-indent -200px
  display inline-block
  vertical-align middle
  margin-left 17px
  width 12px
  height 12px
  background embedurl( 'img/normal.png' ) no-repeat 0 0
  
  &:hover
    background-image embedurl( 'img/hover.png' )
  
  &:active
    background-image embedurl( 'img/active.png' )
    
    
.b-delete-icon
  display inline-block
  vertical-align top
  width 16px
  height 16px
  background: embedurl( 'img/close.svg' ) no-repeat center center
  background-size 27%
  font-size 8pt
  white-space nowrap
  cursor pointer
  
  /*&:hover
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJ1JREFUeNpi+P//P8N/BgYbIN4JxDJgPjJmYBAH4q1A7ATigwSsgfgFiAnEZ4FYAkmxMBAfg8q9BWJHkOAGqAAMnwFiUSDmB+LjaHLbYVaeRJMAmXoQTewiyMnI7kTXhIzPA7EUxA8I9/IjuRfdiSIwdUwMqICRAROgipHuJJI9TVqwbiEl4l6BUgQDUtLYjiNpSADxRiC2BfEBAgwAJlf9l77OeX8AAAAASUVORK5CYII=");
    
  &:active
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVxJREFUeNpskssuQ1EUhr99nAoRESqK9BlEKmkInZiJiolXEE/AM0i8AFMqRgatSl1mbaITRMx4AEGjInVLq7Z/6yFtWMmfsy7/XrezsNayCVM7cJiCqLObIV9Esf0tmHa2EXmyF3Y7FfiE83eYnbP2FsmeMeEOfTyYkL/8CAt+CJYduVsEH2I1yBaMmZFZHZCu+HhdhoG+Z1jxP2BJmYdEjncp0AZjstNSa15AfhXkuxR30bi+VDqibJlw8MinISLwIpTh4l6tJq29+R0uDz1XcKKArQQoCddwWoD+H55Hqxj+SovPC7YRaYcj17Nr4y1ArcGOKXacNWb4+0FKZK0uo23E60HPWl9RyDu93phpVJzctjFRX8aGMsd/BlTWsyrMu7Uq80EoqKpKI9rguifCmsrfaUge9OM0dDJhbUl4crp8xUqjxZK4qzSdRu6/09BJDCqWFifh7C8BBgDJ+aX6R5jLyAAAAABJRU5ErkJggg==");*/