@import '../../styl/component-include.styl'

#hor_banner
  height 150px
  background $lighter-grey
  margin-bottom 35px

.b-content-banner
  
  &__note
    font-size $x-small
    color $middle-grey
    text-align center
    margin-top 14px