@import '../../styl/component-include.styl'

#hor_banner
  height 150px
  background $lighter-grey
  margin-bottom 35px

.b-content-banner
  text-align center
  
  img
    width 100%
  
  &__note
    font-size $x-small
    color $middle-grey
    margin-top 14px