block var-page
  - var page = index

extends ./layouts/main.jade

block title
  title Main page | food

block content
  
  include modules/recipe-line/include.jade
  
  include modules/statistics/include.jade
  
  include modules/content-banner/hor.jade
  
  #content
    
    include modules/feed-space/include.jade
    include modules/cooks-space/include.jade
    include modules/banner-space/index.jade
    
    .clear
    
    //div( style="margin: 45px 0;" )
      script( charset="UTF-8" src="//www.travelpayouts.com/widgets/2e904aed9b11dc04a26ae5f66e4a9820.js?v=176" )
    
    include modules/collection-block/include.jade