block var-page
  - var page = 'index'

extends ./layouts/main.jade

block title
  title Main page | food
  
block profile-buttons

  .b-header__buttons.hidden-xs
    
    a.btn.btn-danger.b-header__auth-button( href="/forms/auth/" ) Войти
      
  .b-header__nav
    .row
      .col-xs-6
        include ./components/recipe-search/template
        include ./modules/search-helper/include.jade
        a( href="/recipes/" ) Рецепты
        a.i-active( href="/journal/" ) Журнал
        a( href="/foodshot/" ) Фудшот
        a( href="/lavka/" ) Лавка
      .col-xs-6.visible-xs-block
        a( href="/forms/auth/" ) Войти
        a( href="/forms/reg/" ) Зарегистрироваться

block content
  
  .container
  
    hr.i-size-L
    
    h1.text-center Авторские кулинарные рецепты
  
    include modules/main-h1/include.jade
  
    hr.i-size-XL
    
    include modules/recipe-line/include.jade
    
    include modules/statistics/include.jade
    
    hr.i-size-L
    
    include modules/feed-space/include.jade
    
    //-include modules/content-banner/hor.jade
      #content
        
        include modules/cooks-space/include.jade
        include modules/banner-space/index.jade
        
        .clear
        
        //div( style="margin: 45px 0;" )
          script( charset="UTF-8" src="//www.travelpayouts.com/widgets/2e904aed9b11dc04a26ae5f66e4a9820.js?v=176" )
        
        include modules/collection-block/include.jade