block vars
  - var page = 'search-result'
  - var authorized = true

extends ../../layouts/header.jade

block title
  title Search result | food
  
block content
  
  hr
  
  .container

    include ../../components/search.result/template
  
  hr