@import '../../styl/component-include.styl'

ul.comments_list
  margin-left 30px
  
  li
    padding 0
    margin-top 15px
    list-style none
    
  p.sign
    font-size 9pt
    color #999999
    font-style italic
    margin-top 5px
    
    a
      font-size 9pt
      font-style italic
