// start /components/profile.comments.all/

link( rel="stylesheet", href="/components/profile.comments.all/style.css" )
script( src="/components/profile.comments.all/script.js" )

h3.b-hr-bg.b-personal-page__heading
  span.b-hr-bg__content Комментарии
ul.comments_list
  li
    p
      | А искусственно завышенная цена это не прямой намек на то, какие машины правильные?
      | А я действительно хотел бы, чтобы цена зависела от спроса, а не от протекции отечественному
      | автопрому. Почему то мне кажется, что стоимость наших машин от этого стала только ниже,
      | а автомобили стали лучше или их вообще не стало бы.
      | Пока у нас так: нравится — заработал? — а если пошлины введем — нет? — ходи пешком или
      | бери наши подороже.
    p.sign
      | 10 февраля, в 13:03 к рецепту 
      a(href='/recipe/') Вишневый пирог
      |  (
      a(href='/recipe/') 33
      | ) в клубе 
      a(href='/clubs/club/') Венгерская кухня
  li
    p
      | А искусственно завышенная цена это не прямой намек на то, какие машины правильные?
      | А я действительно хотел бы, чтобы цена зависела от спроса, а не от протекции отечественному
      | автопрому. Почему то мне кажется, что стоимость наших машин от этого стала только ниже,
      | а автомобили стали лучше или их вообще не стало бы.
      | Пока у нас так: нравится — заработал? — а если пошлины введем — нет? — ходи пешком или
      | бери наши подороже.
    p.sign
      | 10 февраля, в 13:03 к рецепту 
      a(href='/recipe/') Вишневый пирог
      |  (
      a(href='/recipe/') 33
      | ) в клубе 
      a(href='/clubs/club/') Венгерская кухня

// end /components/profile.comments.all/