// start /components/profile.favorites.all/

link( rel="stylesheet", href="/components/profile.favorites.all/style.css" )
script( src="/components/profile.favorites.all/script.js" )

.b-personal-page__recipes
  h3.b-hr-bg.b-personal-page__heading
    span.b-hr-bg__content Моё избранное
    
  .b-recipes-list
    include ../../modules/recipe-thumb/recipe-fav-list-item
    include ../../modules/recipe-thumb/recipe-fav-list-item
    include ../../modules/recipe-thumb/recipe-fav-list-item
    include ../../modules/recipe-thumb/recipe-fav-list-item
    include ../../modules/recipe-thumb/recipe-fav-list-item
    include ../../modules/recipe-thumb/recipe-fav-list-item
    include ../../modules/recipe-thumb/recipe-fav-list-item
    include ../../modules/recipe-thumb/recipe-fav-list-item
    include ../../modules/recipe-thumb/recipe-fav-list-item
    include ../../modules/recipe-thumb/recipe-fav-list-item
    include ../../modules/recipe-thumb/recipe-fav-list-item
    include ../../modules/recipe-thumb/recipe-fav-list-item
    include ../../modules/recipe-thumb/recipe-fav-list-item
    include ../../modules/recipe-thumb/recipe-fav-list-item
    include ../../modules/recipe-thumb/recipe-fav-list-item
    include ../../modules/recipe-thumb/recipe-fav-list-item

// end /components/profile.favorites.all/