.b-aside-recipe-of-month

  .h2 Рецепт месяца
  | Февраль
  | Мария Савельева
  
  hr.i-size-M.i-decorated
  
  | Приз победителю
  | Мультиварка POLARIS
  | Чтобы получить главный приз: добавьте рецепт, сообщите своим друзьям и следите за результатами.

  include ../../modules/button/include