block vars
  - var page = 'recipes'
  - var authorized = false

extends ../../layouts/header.jade

block title
  title Recipes | food

block content
    
  .container
  
    hr
          
    h1 Рецепты
  
  #content.all_recipes
    
    .container
    
      include ../../modules/content-nav/include.jade
    
      hr.i-size-M
        
      include ../../components/recipes.filter/template.jade
      
      include ../../components/recipes.filter/results.jade
      
      hr.i-size-L
      
      -var heading = "Подборки"
      include ../../modules/heading-linethrough/include

      hr

      .row
        .col-sm-4.text-center
          a( href="/journal/article/" )
            img.img-responsive.center-block( src="/upload/journal/feed2.jpg" alt="Салаты и закуски Новогоднего стола" )
          hr.i-size-S
          .row
            .col-sm-10.col-sm-offset-1
              h2
                a( href="/journal/article/" ) Постные блюда
              
        hr.visible-xs-block
          
        .col-sm-4.text-center.hidden-xs
          a( href="/journal/article/" )
            img.img-responsive.center-block( src="/upload/journal/feed2.jpg" alt="Салаты и закуски Новогоднего стола" )
          hr.i-size-S
          .row
            .col-sm-10.col-sm-offset-1
              h2
                a( href="/journal/article/" ) Постные блюда
              
        hr.visible-xs-block
          
        .col-sm-4.text-center.hidden-xs
          a( href="/journal/article/" )
            img.img-responsive.center-block( src="/upload/journal/feed2.jpg" alt="Салаты и закуски Новогоднего стола" )
          hr.i-size-S
          .row
            .col-sm-10.col-sm-offset-1
              h2
                a( href="/journal/article/" ) Готовимся к пляжному сезону!

      hr

      .row
        .col-sm-4.text-center
          a( href="/journal/article/" )
            img.img-responsive.center-block( src="/upload/journal/feed2.jpg" alt="Салаты и закуски Новогоднего стола" )
          hr.i-size-S
          .row
            .col-sm-10.col-sm-offset-1
              h2
                a( href="/journal/article/" ) Постные блюда
              
        hr.visible-xs-block
          
        .col-sm-4.text-center.hidden-xs
          a( href="/journal/article/" )
            img.img-responsive.center-block( src="/upload/journal/feed2.jpg" alt="Салаты и закуски Новогоднего стола" )
          hr.i-size-S
          .row
            .col-sm-10.col-sm-offset-1
              h2
                a( href="/journal/article/" ) Постные блюда
              
        hr.visible-xs-block
          
        .col-sm-4.text-center.hidden-xs
          a( href="/journal/article/" )
            img.img-responsive.center-block( src="/upload/journal/feed2.jpg" alt="Салаты и закуски Новогоднего стола" )
          hr.i-size-S
          .row
            .col-sm-10.col-sm-offset-1
              h2
                a( href="/journal/article/" ) Готовимся к пляжному сезону!
      
      hr.i-size-L
            
            