
<!-- start /components/journal/-->
<link rel="stylesheet" href="/components/journal/style.css"/>
<script src="/components/journal/script.js"></script>
<div class="b-journal">
  <h2>Свежие публикации</h2>
  <div class="b-journal__feed">
    <div class="b-journal__item">
      <div class="b-journal__item-head">
        <div class="b-journal__item-head-bg"><a href="/journal/thematic/" style="background-image: url(/upload/journal/item.jpg);"></a></div>
        <div class="b-journal__item-head-text"><a href="/journal/thematic/" class="b-journal__item-head-title">Дайджест</a><a href="/profile/" class="b-journal__item-head-author"><img src="/upload/user/ca-ira.jpg" width="50" height="50" alt=""/><span>Виктория Фильберт</span></a></div>
      </div>
      <div class="b-journal__item-body">
        <h4 class="b-journal__item-title"><a href="/journal/thematic/" target="_blank">Новогодние десерты! Дайджест по рецептам кулинарной блогосферы</a></h4>
        <div class="b-journal__item-text">Несмотря на то что до праздника еще далеко, уже сейчас можно начинать планировать новогоднее меню. Десерты – это та часть праздничного стола, которую любят не только дети, но и взрослые. Необязательно нужно готовить сложные торты и пирожные, ведь есть множество других лакомств, которые создадут нужную праздничную обстановку. Посмотрим, какие сладости предлагают приготовить пользователи ЖЖ. <a href="/journal/thematic/">Читайте далее...</a></div>
        <div class="b-date">3 марта 2015 16:21:04</div>
      </div>
    </div>
    <hr class="i-size-L"/>
    <div class="row">
      <div class="col-sm-6">
        <div class="b-journal__item">
          <div class="b-journal__item-head">
            <div class="b-journal__item-head-bg"><a href="/journal/thematic/" style="background-image: url(/upload/journal/item.jpg);"></a></div>
            <div class="b-journal__item-head-text"><a href="/journal/thematic/" class="b-journal__item-head-title">Foodclub</a><a href="/profile/" class="b-journal__item-head-author"><img src="/upload/user/ca-ira.jpg" width="50" height="50" alt=""/><span>Виктория Фильберт</span></a></div>
          </div>
          <div class="b-journal__item-body">
            <h4 class="b-journal__item-title"><a href="/journal/thematic/" target="_blank">Что приготовить на 8 марта? Дайджест публикаций из блогов</a></h4>
            <div class="b-journal__item-text">Несмотря на то что до праздника еще далеко, уже сейчас можно начинать планировать новогоднее меню. Десерты – это та часть праздничного стола, которую любят не только дети, но и взрослые. Необязательно нужно готовить сложные торты и пирожные, ведь есть множество других лакомств, которые создадут нужную праздничную обстановку. Посмотрим, какие сладости предлагают приготовить пользователи ЖЖ. <a href="/journal/thematic/">Читайте далее...</a></div>
            <div class="b-date">3 марта 2015 16:21:04</div>
          </div>
        </div>
      </div>
      <hr class="i-size-L visible-xs-block"/>
      <div class="col-sm-6">
        <div class="b-journal__item">
          <div class="b-journal__item-head">
            <div class="b-journal__item-head-bg"><a href="/journal/thematic/" style="background-image: url(/upload/journal/item.jpg);"></a></div>
            <div class="b-journal__item-head-text"><a href="/journal/thematic/" class="b-journal__item-head-title">Foodclub</a><a href="/profile/" class="b-journal__item-head-author"><img src="/upload/user/ca-ira.jpg" width="50" height="50" alt=""/><span>Виктория Фильберт</span></a></div>
          </div>
          <div class="b-journal__item-body">
            <h4 class="b-journal__item-title"><a href="/journal/thematic/" target="_blank">Что приготовить на 8 марта? Дайджест публикаций из блогов</a></h4>
            <div class="b-journal__item-text">Несмотря на то что до праздника еще далеко, уже сейчас можно начинать планировать новогоднее меню. Десерты – это та часть праздничного стола, которую любят не только дети, но и взрослые. Необязательно нужно готовить сложные торты и пирожные, ведь есть множество других лакомств, которые создадут нужную праздничную обстановку. Посмотрим, какие сладости предлагают приготовить пользователи ЖЖ. <a href="/journal/thematic/">Читайте далее...</a></div>
            <div class="b-date">3 марта 2015 16:21:04</div>
          </div>
        </div>
      </div>
    </div>
    <hr class="i-size-L"/>
    <div class="b-content-banner hidden-xs"><a href="" target="_blank"><img src="/upload/advertisement.gif" alt=""/></a>
      <div class="b-content-banner__note">Реклама на Foodclub.ru</div>
    </div>
    <hr class="i-size-L hidden-xs"/>
    <div class="row">
      <div class="col-sm-6">
        <div class="b-journal__item">
          <div class="b-journal__item-head">
            <div class="b-journal__item-head-bg"><a href="/journal/thematic/" style="background-image: url(/upload/journal/item.jpg);"></a></div>
            <div class="b-journal__item-head-text"><a href="/journal/thematic/" class="b-journal__item-head-title">Foodclub</a><a href="/profile/" class="b-journal__item-head-author"><img src="/upload/user/ca-ira.jpg" width="50" height="50" alt=""/><span>Виктория Фильберт</span></a></div>
          </div>
          <div class="b-journal__item-body">
            <h4 class="b-journal__item-title"><a href="/journal/thematic/" target="_blank">Что приготовить на 8 марта? Дайджест публикаций из блогов</a></h4>
            <div class="b-journal__item-text">Несмотря на то что до праздника еще далеко, уже сейчас можно начинать планировать новогоднее меню. Десерты – это та часть праздничного стола, которую любят не только дети, но и взрослые. Необязательно нужно готовить сложные торты и пирожные, ведь есть множество других лакомств, которые создадут нужную праздничную обстановку. Посмотрим, какие сладости предлагают приготовить пользователи ЖЖ. <a href="/journal/thematic/">Читайте далее...</a></div>
            <div class="b-date">3 марта 2015 16:21:04</div>
          </div>
        </div>
      </div>
      <hr class="i-size-L visible-xs-block"/>
      <div class="col-sm-6">
        <div class="b-journal__item">
          <noindex>
            <div class="b-journal__item-head">
              <div class="b-journal__item-head-bg"><a href="/journal/thematic/" style="background-image: url(/upload/journal/item.jpg);"></a></div>
              <div class="b-journal__item-head-text"><a href="/journal/thematic/" target="_blank" class="b-journal__item-head-title">Foodclub</a><a href="/profile/" class="b-journal__item-head-author"><img src="/upload/user/ca-ira.jpg" width="50" height="50" alt=""/><span>Виктория Фильберт</span></a><a href="/journal/thematic/" target="_blank" class="b-ext-icon"></a></div>
            </div>
            <div class="b-journal__item-body">
              <h4 class="b-journal__item-title"><a href="/journal/thematic/" target="_blank">Что приготовить на 8 марта? Дайджест публикаций из блогов</a></h4>
              <div class="b-journal__item-text">Внимание! Внешняя ссылка, блок обёрнут тэгом noindex, у ссылок атрибут target="_blank" (кроме ссылки автора).
                <p><a href="" target="_blank">Подробнее на сайте eda.ru</a></p>
              </div>
              <div class="b-date">3 марта 2015 16:21:04</div>
            </div>
          </noindex>
        </div>
      </div>
    </div>
    <hr class="i-size-L"/>
    <h2>Лавка</h2>
    <p>Лавка предлагает вам товары связанные с приготовлением пиши и продукты питания представленные интернет-магазинами. У вас есть собственный интернет-магазин и товары, которые могут пригодиться нашим пользователям, разместите их в разделе лавка.</p>
    <hr class="i-size-L"/>
    <div class="row">
      <div class="col-sm-6">
        <div class="b-journal__item">
          <div class="b-journal__item-head">
            <div class="b-journal__item-head-bg"><a href="/journal/thematic/" style="background-image: url(/upload/journal/item.jpg);"></a></div>
            <div class="b-journal__item-head-text"><a href="/journal/thematic/" class="b-journal__item-head-title">Foodclub</a><a href="/profile/" class="b-journal__item-head-author"><img src="/upload/user/ca-ira.jpg" width="50" height="50" alt=""/><span>Виктория Фильберт</span></a></div>
          </div>
          <div class="b-journal__item-body">
            <h4 class="b-journal__item-title"><a href="/journal/thematic/" target="_blank">Что приготовить на 8 марта? Дайджест публикаций из блогов</a></h4>
            <div class="b-journal__item-text">Несмотря на то что до праздника еще далеко, уже сейчас можно начинать планировать новогоднее меню. Десерты – это та часть праздничного стола, которую любят не только дети, но и взрослые. Необязательно нужно готовить сложные торты и пирожные, ведь есть множество других лакомств, которые создадут нужную праздничную обстановку. Посмотрим, какие сладости предлагают приготовить пользователи ЖЖ. <a href="/journal/thematic/">Читайте далее...</a></div>
            <div class="b-date">3 марта 2015 16:21:04</div>
          </div>
        </div>
      </div>
      <hr class="i-size-L visible-xs-block"/>
      <div class="col-sm-6">
        <div class="b-journal__item">
          <noindex>
            <div class="b-journal__item-head">
              <div class="b-journal__item-head-bg"><a href="/journal/thematic/" style="background-image: url(/upload/journal/item.jpg);"></a></div>
              <div class="b-journal__item-head-text"><a href="/journal/thematic/" target="_blank" class="b-journal__item-head-title">Foodclub</a><a href="/profile/" class="b-journal__item-head-author"><img src="/upload/user/ca-ira.jpg" width="50" height="50" alt=""/><span>Виктория Фильберт</span></a><a href="/journal/thematic/" target="_blank" class="b-ext-icon"></a></div>
            </div>
            <div class="b-journal__item-body">
              <h4 class="b-journal__item-title"><a href="/journal/thematic/" target="_blank">Что приготовить на 8 марта? Дайджест публикаций из блогов</a></h4>
              <div class="b-journal__item-text">Внимание! Внешняя ссылка, блок обёрнут тэгом noindex, у ссылок атрибут target="_blank" (кроме ссылки автора).
                <p><a href="" target="_blank">Подробнее на сайте eda.ru</a></p>
              </div>
              <div class="b-date">3 марта 2015 16:21:04</div>
            </div>
          </noindex>
        </div>
      </div>
    </div>
    <hr class="i-size-XL i-decorated"/>
    <div class="text-center"><a href="">Все публикации</a></div>
  </div>
</div>
<!-- end /components/journal/-->