@import '../vars.styl'
@import '../mixins.styl'

@import './scaff/gui.styl'
@import './scaff/footer.styl'

@import './components/bitrix-panel.styl'
@import './components/header.styl'
@import './components/instagram-banner.styl'
@import './components/trends.styl'
