@import '../vars.styl'
@import '../mixins.styl'

@import './scaff/gui.styl'
@import './scaff/footer.styl'

@import './components/bitrix-panel.styl'
@import './components/header.styl'
@import './components/instagram-banner.styl'

@import './components/recipe.styl'
@import './components/recipe.menu.styl'
@import './components/lavka.styl'
@import './components/recipe.comments.styl'

@import './modules/main-h1.styl'
@import './modules/recipe-line.styl'
@import './modules/heading-linethrough.styl'