#banner_space.index

  include ../../modules/facts/include.jade
  
  img( src="/template/images/preloader.gif" width="100%" alt="" )
  include ../../modules/last-comments/include.jade
  include ../../components/lavka/aside.jade