block var-page
  - var page = recipe

extends ../../layouts/main.jade

block title
  title Recipe | food

block content
    
  .container
    .row
      .col-sm-8
        include ../../components/recipe.menu/top.jade
        include ../../components/recipe/template.jade
        include ../../components/recipe.menu/bottom.jade
        include ../../components/recipe.comments/template.jade
      
      .col-sm-4.hidden-xs
        include ../../modules/banner-space/index.jade
