block vars
  - var page = 'recipe'
  - var authorized = false

extends ../../layouts/header.jade

block title
  title Recipe | food

block content
    
  .container

    hr
  
    include ../../components/recipe/template.jade
    
    hr.i-size-L
    .row
      .col-md-8.col-md-offset-2
        include ../../modules/main-h1/include.jade
    hr
    include ../../components/recipe.menu/bottom.jade
    hr.i-size-L
    include ../../modules/recipe-line/include.jade
    hr.i-size-L
    include ../../components/lavka/template
    hr.i-size-L
    include ../../components/recipe.comments/template.jade
