.b-journal__item

  .b-journal__item-head
  
    .b-journal__item-head-bg
      a( href="/journal/article/" style="background-image: url(/upload/journal/item.jpg);" )
      
    .b-journal__item-head-text
      
      a( href="/journal/article/" ).b-journal__item-head-title
        block head-title
          | Foodclub
      
      a.b-journal__item-head-author( href="/profile/" )
        img( src="/upload/user/ca-ira.jpg" width="50" height="50" alt="" )
        span Виктория Фильберт
      
  .b-journal__item-body

    h4.b-journal__item-title
      a( href="/journal/article/" target="_blank" )
        block item-title
          | Что приготовить на 8 марта? Дайджест публикаций из блогов
        
    .b-journal__item-text Несмотря на то что до праздника еще далеко, уже сейчас можно начинать планировать новогоднее меню. Десерты – это та часть праздничного стола, которую любят не только дети, но и взрослые. Необязательно нужно готовить сложные торты и пирожные, ведь есть множество других лакомств, которые создадут нужную праздничную обстановку. Посмотрим, какие сладости предлагают приготовить пользователи ЖЖ. 
      a( href="/journal/article/" ) Читайте далее...
    
    .b-date 3 марта 2015 16:21:04